{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CounterpartyCreditRatingSave" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
             <div class="col h3">
                    <i class="fas fa-passport me-2" title="ID = NEW"></i><span class="me-3">{{.Title}}</span>
                </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/CounterpartyCreditRatingSave" onclick="/CounterpartyCreditRatingSave" title="Save Counterparty Credit Rating"><i class="fas fa-save me-2"></i>Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Credit Rating"><i class="fas fa-print me-2"></i></i>Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
      
            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.NameFirm_props.MsgType}}" id="NameFirm" name="NameFirm" aria-describedby="NameFirmHelp" placeholder=""  value="{{.NameFirm}}" required data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="NameFirm" >NameFirm</label>
              <div class="{{.NameFirm_props.MsgFeedBackType}}">{{.NameFirm_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.NameCentre_props.MsgType}}" id="NameCentre" name="NameCentre" aria-describedby="NameCentreHelp" placeholder=""  value="{{.NameCentre}}" required data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="NameCentre" >NameCentre</label>
              <div class="{{.NameCentre_props.MsgFeedBackType}}">{{.NameCentre_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CreditRatingUsage_props.MsgType}}" id="CreditRatingUsage" name="CreditRatingUsage" aria-describedby="CreditRatingUsageHelp" placeholder=""  value="{{.CreditRatingUsage}}" required data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CreditRatingUsage" >CreditRatingUsage</label>
              <div class="{{.CreditRatingUsage_props.MsgFeedBackType}}">{{.CreditRatingUsage_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CreditRatingAgency_props.MsgType}}" id="CreditRatingAgency" name="CreditRatingAgency" aria-describedby="CreditRatingAgencyHelp" placeholder=""  value="{{.CreditRatingAgency}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CreditRatingAgency" >CreditRatingAgency</label>
              <div class="{{.CreditRatingAgency_props.MsgFeedBackType}}">{{.CreditRatingAgency_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CreditRatingName_props.MsgType}}" id="CreditRatingName" name="CreditRatingName" aria-describedby="CreditRatingNameHelp" placeholder=""  value="{{.CreditRatingName}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CreditRatingName" >CreditRatingName</label>
              <div class="{{.CreditRatingName_props.MsgFeedBackType}}">{{.CreditRatingName_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CompID_props.MsgType}}" id="CompID" name="CompID" aria-describedby="CompIDHelp" placeholder=""  value="{{.CompID}}" required data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CompID" ><i class="fas fa-key me-2"></i>CompID</label>
              <div class="{{.CompID_props.MsgFeedBackType}}">{{.CompID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}