{{template "header" .}} {{template "bodydefinition" .}}
<form action="/AccountTransactionEdit/?AccountNo={{.SienaReference}}" method="POST" class="form">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col h3">
                    <i class="fas fa-landmark me-2" title="AccountNo = {{.SienaReference}}"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Account Transaction {{.SienaReference}}"><i class="fas fa-print me-2"></i></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SienaReference" aria-describedby="SienaReferenceHelp" placeholder="" disabled value="{{.SienaReference}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SienaReference"><i class="fas fa-key me-2"></i>SienaReference</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="LegNo" aria-describedby="LegNoHelp" placeholder="0" disabled value="{{.LegNo}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="LegNo">LegNo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MMLegNo" aria-describedby="MMLegNoHelp" placeholder="0" disabled value="{{.MMLegNo}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="MMLegNo">MMLegNo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Narrative" aria-describedby="NarrativeHelp" placeholder="" disabled value="{{.Narrative}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Narrative">Narrative</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Amount" aria-describedby="AmountHelp" placeholder="0.00" disabled value="{{.Amount}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Amount">Amount</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="StartInterestDate" aria-describedby="StartInterestDateHelp" placeholder="" disabled value="{{.StartInterestDate}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="StartInterestDate">StartInterestDate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="EndInterestDate" aria-describedby="EndInterestDateHelp" placeholder="" disabled value="{{.EndInterestDate}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="EndInterestDate">EndInterestDate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Amortisation" aria-describedby="AmortisationHelp" placeholder="0.00" disabled value="{{.Amortisation}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Amortisation">Amortisation</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="InterestAmount" aria-describedby="InterestAmountHelp" placeholder="0.00" disabled value="{{.InterestAmount}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="InterestAmount">InterestAmount</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="InterestAction" aria-describedby="InterestActionHelp" placeholder="" disabled value="{{.InterestAction}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="InterestAction">InterestAction</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FixingDate" aria-describedby="FixingDateHelp" placeholder="" disabled value="{{.FixingDate}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="FixingDate">FixingDate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="InterestCalculationDate" aria-describedby="InterestCalculationDateHelp" placeholder="" disabled value="{{.InterestCalculationDate}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="InterestCalculationDate">InterestCalculationDate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AmendmentAmount" aria-describedby="AmendmentAmountHelp" placeholder="0.00" disabled value="{{.AmendmentAmount}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="AmendmentAmount">AmendmentAmount</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DealtCcy" aria-describedby="DealtCcyHelp" placeholder="" disabled value="{{.DealtCcy}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="DealtCcy">DealtCcy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AmountDp" aria-describedby="AmountDpHelp" placeholder="0" disabled value="{{.AmountDp}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="AmountDp">AmountDp</label>
                        
                    </div>
                
                </div>
            </div>
            
        </div>
        
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}