{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CustomerOnboardingSave" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
             <div class="col h3">
                    <i class="fas fa-tasks me-2" title="ID = NEW"></i><span class="me-3">{{.Title}}</span>
                </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/CustomerOnboardingSave" onclick="/CustomerOnboardingSave" title="Save Customer Onboarding Tool"><i class="fas fa-save me-2"></i>Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Customer Onboarding Tool"><i class="fas fa-print me-2"></i></i>Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="ID" name="ID" aria-describedby="IDHelp" placeholder=""  value="{{.ID}}" required data-mdb-input-mask="">
                <label class="form-label" for="ID" ><i class="fas fa-key me-2"></i>ID</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerName" name="CustomerName" aria-describedby="CustomerNameHelp" placeholder=""  value="{{.CustomerName}}" required data-mdb-input-mask="">
                <label class="form-label" for="CustomerName" >CustomerName</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerAddress" name="CustomerAddress" aria-describedby="CustomerAddressHelp" placeholder=""  value="{{.CustomerAddress}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerAddress" >CustomerAddress</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerBOLID" name="CustomerBOLID" aria-describedby="CustomerBOLIDHelp" placeholder=""  value="{{.CustomerBOLID}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerBOLID" >CustomerBOLID</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerFirmName" name="CustomerFirmName" aria-describedby="CustomerFirmNameHelp" placeholder=""  value="{{.CustomerFirmName}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerFirmName" >CustomerFirmName</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerType" name="CustomerType" aria-describedby="CustomerTypeHelp" placeholder=""  value="{{.CustomerType}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerType" >CustomerType</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerRDC" name="CustomerRDC" aria-describedby="CustomerRDCHelp" placeholder=""  value="{{.CustomerRDC}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerRDC" >CustomerRDC</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerSortCode" name="CustomerSortCode" aria-describedby="CustomerSortCodeHelp" placeholder=""  value="{{.CustomerSortCode}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerSortCode" >CustomerSortCode</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerGMClientNo" name="CustomerGMClientNo" aria-describedby="CustomerGMClientNoHelp" placeholder=""  value="{{.CustomerGMClientNo}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerGMClientNo" >CustomerGMClientNo</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerDefaultBook" name="CustomerDefaultBook" aria-describedby="CustomerDefaultBookHelp" placeholder=""  value="{{.CustomerDefaultBook}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerDefaultBook" >CustomerDefaultBook</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerRegion" name="CustomerRegion" aria-describedby="CustomerRegionHelp" placeholder=""  value="{{.CustomerRegion}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerRegion" >CustomerRegion</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerCategory" name="CustomerCategory" aria-describedby="CustomerCategoryHelp" placeholder=""  value="{{.CustomerCategory}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerCategory" >CustomerCategory</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CustomerTelephoneNo" name="CustomerTelephoneNo" aria-describedby="CustomerTelephoneNoHelp" placeholder=""  value="{{.CustomerTelephoneNo}}"  data-mdb-input-mask="">
                <label class="form-label" for="CustomerTelephoneNo" >CustomerTelephoneNo</label>
                    </div>
                    
        

            </div></div>

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}