{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-industry me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group">
                    
                    <button id="export" type="button" class="btn btn-info" title="Export Owner as CSV"><i class="fas fa-file-csv me-2"></i>Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Owner"><i class="fas fa-print me-2"></i></i>Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center"><i class="fas fa-key me-2"></i>UserName</th>
                          <th class="text-center">FullName</th>
                          <th class="text-center">Type</th>
                          <th class="text-center">TradingEntity</th>
                          <th class="text-center">DefaultEnterBook</th>
                          <th class="text-center">EmailAddress</th>
                          <th class="text-center">Enabled</th>
                          <th class="text-center">ExternalUserIds</th>
                          <th class="text-center">Language</th>
                          <th class="text-center">LocalCurrency</th>
                          <th class="text-center">Role</th>
                          <th class="text-center">TelephoneNumber</th>
                          <th class="text-center">TokenId</th>
                          <th class="text-center">Entity</th>
                          <th class="text-center">UserCode</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle" >{{.UserName}}</td>
                          <td class="align-middle" >{{.FullName}}</td>
                          <td class="align-middle" >{{.Type}}</td>
                          <td class="align-middle" >{{.TradingEntity}}</td>
                          <td class="align-middle" >{{.DefaultEnterBook}}</td>
                          <td class="align-middle" >{{.EmailAddress}}</td>
                          <td class="align-middle" >{{.Enabled}}</td>
                          <td class="align-middle" >{{.ExternalUserIds}}</td>
                          <td class="align-middle" >{{.Language}}</td>
                          <td class="align-middle" >{{.LocalCurrency}}</td>
                          <td class="align-middle" >{{.Role}}</td>
                          <td class="align-middle" >{{.TelephoneNumber}}</td>
                          <td class="align-middle" >{{.TokenId}}</td>
                          <td class="align-middle" >{{.Entity}}</td>
                          <td class="align-middle" >{{.UserCode}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/OwnerView?Owner={{.UserName}}" method="POST" title="View Owner"><i class="far fa-eye"></i></button>
                            
                            
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}