{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CounterpartyCreditRatingSave/" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3"><i class="fas fa-passport me-2"></i>{{.Title}}</div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/CounterpartyCreditRatingSave/" onclick="/CounterpartyCreditRatingSave/" title="Save Counterparty Credit Rating"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Credit Rating"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="NameFirm" name="NameFirm" aria-describedby="NameFirmHelp" placeholder=""  value="{{.NameFirm}}" required>
                <label class="form-label" for="NameFirm" >NameFirm</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="NameCentre" name="NameCentre" aria-describedby="NameCentreHelp" placeholder=""  value="{{.NameCentre}}" required>
                <label class="form-label" for="NameCentre" >NameCentre</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CreditRatingUsage" name="CreditRatingUsage" aria-describedby="CreditRatingUsageHelp" placeholder=""  value="{{.CreditRatingUsage}}" required>
                <label class="form-label" for="CreditRatingUsage" >CreditRatingUsage</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CreditRatingAgency" name="CreditRatingAgency" aria-describedby="CreditRatingAgencyHelp" placeholder=""  value="{{.CreditRatingAgency}}" >
                <label class="form-label" for="CreditRatingAgency" >CreditRatingAgency</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CreditRatingName" name="CreditRatingName" aria-describedby="CreditRatingNameHelp" placeholder=""  value="{{.CreditRatingName}}" >
                <label class="form-label" for="CreditRatingName" >CreditRatingName</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="CompID" name="CompID" aria-describedby="CompIDHelp" placeholder=""  value="{{.CompID}}" required>
                <label class="form-label" for="CompID" >CompID</label>
                    </div>
                    
        

            </div></div>

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}