{{template "header" .}} {{template "bodydefinition" .}}
<form action="/PayeeEdit/?ID={{.KeyCounterpartyFirm}}" method="POST" class="form">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col h3">
                    <i class="fas fa-wallet me-2" title="ID = {{.KeyCounterpartyFirm}}"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Payee {{.KeyCounterpartyFirm}}"><i class="fas fa-print me-2"></i></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SourceTable" aria-describedby="SourceTableHelp" placeholder="" disabled value="{{.SourceTable}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SourceTable">SourceTable</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="KeyCounterpartyFirm" aria-describedby="KeyCounterpartyFirmHelp" placeholder="" disabled value="{{.KeyCounterpartyFirm}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="KeyCounterpartyFirm"><i class="fas fa-key me-2"></i>KeyCounterpartyFirm</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="KeyCounterpartyCentre" aria-describedby="KeyCounterpartyCentreHelp" placeholder="" disabled value="{{.KeyCounterpartyCentre}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="KeyCounterpartyCentre">KeyCounterpartyCentre</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="KeyCurrency" aria-describedby="KeyCurrencyHelp" placeholder="" disabled value="{{.KeyCurrency}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="KeyCurrency">KeyCurrency</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="KeyName" aria-describedby="KeyNameHelp" placeholder="" disabled value="{{.KeyName}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="KeyName">KeyName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="KeyNumber" aria-describedby="KeyNumberHelp" placeholder="" disabled value="{{.KeyNumber}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="KeyNumber">KeyNumber</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="KeyDirection" aria-describedby="KeyDirectionHelp" placeholder="" disabled value="{{.KeyDirection}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="KeyDirection">KeyDirection</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="KeyType" aria-describedby="KeyTypeHelp" placeholder="" disabled value="{{.KeyType}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="KeyType">KeyType</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FullName" aria-describedby="FullNameHelp" placeholder="" disabled value="{{.FullName}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="FullName">FullName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Address" aria-describedby="AddressHelp" placeholder="" disabled value="{{.Address}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Address">Address</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="PhoneNo" aria-describedby="PhoneNoHelp" placeholder="" disabled value="{{.PhoneNo}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="PhoneNo">PhoneNo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="Country" name="Country" class="select" data-mdb-filter="true" disabled>
                  {{range .Country_lookup}}<option value="{{.ID}}" {{if eq .ID $.Country}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Country" disabled>Country</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Bic" aria-describedby="BicHelp" placeholder="" disabled value="{{.Bic}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Bic">Bic</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Iban" aria-describedby="IbanHelp" placeholder="" disabled value="{{.Iban}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Iban">Iban</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AccountNo" aria-describedby="AccountNoHelp" placeholder="" disabled value="{{.AccountNo}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="AccountNo">AccountNo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FedWireNo" aria-describedby="FedWireNoHelp" placeholder="" disabled value="{{.FedWireNo}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="FedWireNo">FedWireNo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SortCode" aria-describedby="SortCodeHelp" placeholder="" disabled value="{{.SortCode}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SortCode">SortCode</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="BankName" aria-describedby="BankNameHelp" placeholder="" disabled value="{{.BankName}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="BankName">BankName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="BankPinCode" aria-describedby="BankPinCodeHelp" placeholder="" disabled value="{{.BankPinCode}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="BankPinCode">BankPinCode</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="BankAddress" aria-describedby="BankAddressHelp" placeholder="" disabled value="{{.BankAddress}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="BankAddress">BankAddress</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Reason" aria-describedby="ReasonHelp" placeholder="" disabled value="{{.Reason}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Reason">Reason</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="BankSettlementAcct" aria-describedby="BankSettlementAcctHelp" placeholder="True" disabled value="{{.BankSettlementAcct}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="BankSettlementAcct">BankSettlementAcct</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled value="{{.UpdatedUserId}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="UpdatedUserId">UpdatedUserId</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Status" aria-describedby="StatusHelp" placeholder="" disabled value="{{.Status}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Status">Status</label>
                        
                    </div>
                
                </div>
            </div>
            
        </div>
        
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}