{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/DealTypeFundamentalSave" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
             <div class="col h3">
                    <i class="fas fa-toolbox me-2" title="DealTypeKey = NEW"></i><span class="me-3">{{.Title}}</span>
                </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/DealTypeFundamentalSave" onclick="/DealTypeFundamentalSave" title="Save Deal Type Fundamental"><i class="fas fa-save me-2"></i>Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Deal Type Fundamental"><i class="fas fa-print me-2"></i></i>Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
      
            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DealTypeKey_props.MsgType}}" id="DealTypeKey" name="DealTypeKey" aria-describedby="DealTypeKeyHelp" placeholder=""  value="{{.DealTypeKey}}" required data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="DealTypeKey" ><i class="fas fa-key me-2"></i>DealTypeKey</label>
              <div class="{{.DealTypeKey_props.MsgFeedBackType}}">{{.DealTypeKey_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Amendment_props.MsgType}}" id="Amendment" name="Amendment" aria-describedby="AmendmentHelp" placeholder="True"  value="{{.Amendment}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Amendment" >Amendment</label>
              <div class="{{.Amendment_props.MsgFeedBackType}}">{{.Amendment_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DefaultFrequency_props.MsgType}}" id="DefaultFrequency" name="DefaultFrequency" aria-describedby="DefaultFrequencyHelp" placeholder="0"  value="{{.DefaultFrequency}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="DefaultFrequency" >DefaultFrequency</label>
              <div class="{{.DefaultFrequency_props.MsgFeedBackType}}">{{.DefaultFrequency_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Directions_props.MsgType}}" id="Directions" name="Directions" aria-describedby="DirectionsHelp" placeholder=""  value="{{.Directions}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Directions" >Directions</label>
              <div class="{{.Directions_props.MsgFeedBackType}}">{{.Directions_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SettledTermDealType_props.MsgType}}" id="SettledTermDealType" name="SettledTermDealType" aria-describedby="SettledTermDealTypeHelp" placeholder=""  value="{{.SettledTermDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SettledTermDealType" >SettledTermDealType</label>
              <div class="{{.SettledTermDealType_props.MsgFeedBackType}}">{{.SettledTermDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Optn_props.MsgType}}" id="Optn" name="Optn" aria-describedby="OptnHelp" placeholder="True"  value="{{.Optn}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Optn" >Optn</label>
              <div class="{{.Optn_props.MsgFeedBackType}}">{{.Optn_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.AllowPledge_props.MsgType}}" id="AllowPledge" name="AllowPledge" aria-describedby="AllowPledgeHelp" placeholder="True"  value="{{.AllowPledge}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="AllowPledge" >AllowPledge</label>
              <div class="{{.AllowPledge_props.MsgFeedBackType}}">{{.AllowPledge_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Takeup_props.MsgType}}" id="Takeup" name="Takeup" aria-describedby="TakeupHelp" placeholder="True"  value="{{.Takeup}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Takeup" >Takeup</label>
              <div class="{{.Takeup_props.MsgFeedBackType}}">{{.Takeup_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.MismatchDealType_props.MsgType}}" id="MismatchDealType" name="MismatchDealType" aria-describedby="MismatchDealTypeHelp" placeholder=""  value="{{.MismatchDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="MismatchDealType" >MismatchDealType</label>
              <div class="{{.MismatchDealType_props.MsgFeedBackType}}">{{.MismatchDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SettledHedgeTermDealType_props.MsgType}}" id="SettledHedgeTermDealType" name="SettledHedgeTermDealType" aria-describedby="SettledHedgeTermDealTypeHelp" placeholder=""  value="{{.SettledHedgeTermDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SettledHedgeTermDealType" >SettledHedgeTermDealType</label>
              <div class="{{.SettledHedgeTermDealType_props.MsgFeedBackType}}">{{.SettledHedgeTermDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SettlementCode_props.MsgType}}" id="SettlementCode" name="SettlementCode" aria-describedby="SettlementCodeHelp" placeholder=""  value="{{.SettlementCode}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SettlementCode" >SettlementCode</label>
              <div class="{{.SettlementCode_props.MsgFeedBackType}}">{{.SettlementCode_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TermSubType_props.MsgType}}" id="TermSubType" name="TermSubType" aria-describedby="TermSubTypeHelp" placeholder=""  value="{{.TermSubType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="TermSubType" >TermSubType</label>
              <div class="{{.TermSubType_props.MsgFeedBackType}}">{{.TermSubType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FundingDealType_props.MsgType}}" id="FundingDealType" name="FundingDealType" aria-describedby="FundingDealTypeHelp" placeholder=""  value="{{.FundingDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="FundingDealType" >FundingDealType</label>
              <div class="{{.FundingDealType_props.MsgFeedBackType}}">{{.FundingDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TransferType_props.MsgType}}" id="TransferType" name="TransferType" aria-describedby="TransferTypeHelp" placeholder=""  value="{{.TransferType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="TransferType" >TransferType</label>
              <div class="{{.TransferType_props.MsgFeedBackType}}">{{.TransferType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TermDealType_props.MsgType}}" id="TermDealType" name="TermDealType" aria-describedby="TermDealTypeHelp" placeholder=""  value="{{.TermDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="TermDealType" >TermDealType</label>
              <div class="{{.TermDealType_props.MsgFeedBackType}}">{{.TermDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.NegotiableInstrumentType_props.MsgType}}" id="NegotiableInstrumentType" name="NegotiableInstrumentType" aria-describedby="NegotiableInstrumentTypeHelp" placeholder=""  value="{{.NegotiableInstrumentType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="NegotiableInstrumentType" >NegotiableInstrumentType</label>
              <div class="{{.NegotiableInstrumentType_props.MsgFeedBackType}}">{{.NegotiableInstrumentType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Mismatch_props.MsgType}}" id="Mismatch" name="Mismatch" aria-describedby="MismatchHelp" placeholder="True"  value="{{.Mismatch}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Mismatch" >Mismatch</label>
              <div class="{{.Mismatch_props.MsgFeedBackType}}">{{.Mismatch_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ComplexTransferSubType_props.MsgType}}" id="ComplexTransferSubType" name="ComplexTransferSubType" aria-describedby="ComplexTransferSubTypeHelp" placeholder=""  value="{{.ComplexTransferSubType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="ComplexTransferSubType" >ComplexTransferSubType</label>
              <div class="{{.ComplexTransferSubType_props.MsgFeedBackType}}">{{.ComplexTransferSubType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.LayOffDealType_props.MsgType}}" id="LayOffDealType" name="LayOffDealType" aria-describedby="LayOffDealTypeHelp" placeholder=""  value="{{.LayOffDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="LayOffDealType" >LayOffDealType</label>
              <div class="{{.LayOffDealType_props.MsgFeedBackType}}">{{.LayOffDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.NIAccount_props.MsgType}}" id="NIAccount" name="NIAccount" aria-describedby="NIAccountHelp" placeholder="0"  value="{{.NIAccount}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="NIAccount" >NIAccount</label>
              <div class="{{.NIAccount_props.MsgFeedBackType}}">{{.NIAccount_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SimpleMMsubtype_props.MsgType}}" id="SimpleMMsubtype" name="SimpleMMsubtype" aria-describedby="SimpleMMsubtypeHelp" placeholder="0"  value="{{.SimpleMMsubtype}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SimpleMMsubtype" >SimpleMMsubtype</label>
              <div class="{{.SimpleMMsubtype_props.MsgFeedBackType}}">{{.SimpleMMsubtype_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SwapDealType_props.MsgType}}" id="SwapDealType" name="SwapDealType" aria-describedby="SwapDealTypeHelp" placeholder=""  value="{{.SwapDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SwapDealType" >SwapDealType</label>
              <div class="{{.SwapDealType_props.MsgFeedBackType}}">{{.SwapDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Positions_props.MsgType}}" id="Positions" name="Positions" aria-describedby="PositionsHelp" placeholder=""  value="{{.Positions}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Positions" >Positions</label>
              <div class="{{.Positions_props.MsgFeedBackType}}">{{.Positions_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OptionOutright_props.MsgType}}" id="OptionOutright" name="OptionOutright" aria-describedby="OptionOutrightHelp" placeholder=""  value="{{.OptionOutright}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="OptionOutright" >OptionOutright</label>
              <div class="{{.OptionOutright_props.MsgFeedBackType}}">{{.OptionOutright_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SettledHedgeSpotDealType_props.MsgType}}" id="SettledHedgeSpotDealType" name="SettledHedgeSpotDealType" aria-describedby="SettledHedgeSpotDealTypeHelp" placeholder=""  value="{{.SettledHedgeSpotDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SettledHedgeSpotDealType" >SettledHedgeSpotDealType</label>
              <div class="{{.SettledHedgeSpotDealType_props.MsgFeedBackType}}">{{.SettledHedgeSpotDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.StraightThroughInterestMethod_props.MsgType}}" id="StraightThroughInterestMethod" name="StraightThroughInterestMethod" aria-describedby="StraightThroughInterestMethodHelp" placeholder="True"  value="{{.StraightThroughInterestMethod}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="StraightThroughInterestMethod" >StraightThroughInterestMethod</label>
              <div class="{{.StraightThroughInterestMethod_props.MsgFeedBackType}}">{{.StraightThroughInterestMethod_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SubType_props.MsgType}}" id="SubType" name="SubType" aria-describedby="SubTypeHelp" placeholder=""  value="{{.SubType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SubType" >SubType</label>
              <div class="{{.SubType_props.MsgFeedBackType}}">{{.SubType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Rollover_props.MsgType}}" id="Rollover" name="Rollover" aria-describedby="RolloverHelp" placeholder="True"  value="{{.Rollover}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Rollover" >Rollover</label>
              <div class="{{.Rollover_props.MsgFeedBackType}}">{{.Rollover_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DefaultIssuer_props.MsgType}}" id="DefaultIssuer" name="DefaultIssuer" aria-describedby="DefaultIssuerHelp" placeholder=""  value="{{.DefaultIssuer}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="DefaultIssuer" >DefaultIssuer</label>
              <div class="{{.DefaultIssuer_props.MsgFeedBackType}}">{{.DefaultIssuer_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DefaultStartDate_props.MsgType}}" id="DefaultStartDate" name="DefaultStartDate" aria-describedby="DefaultStartDateHelp" placeholder="0"  value="{{.DefaultStartDate}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="DefaultStartDate" >DefaultStartDate</label>
              <div class="{{.DefaultStartDate_props.MsgFeedBackType}}">{{.DefaultStartDate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Fee_props.MsgType}}" id="Fee" name="Fee" aria-describedby="FeeHelp" placeholder=""  value="{{.Fee}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Fee" >Fee</label>
              <div class="{{.Fee_props.MsgFeedBackType}}">{{.Fee_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.NDF_props.MsgType}}" id="NDF" name="NDF" aria-describedby="NDFHelp" placeholder="True"  value="{{.NDF}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="NDF" >NDF</label>
              <div class="{{.NDF_props.MsgFeedBackType}}">{{.NDF_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FXFX_props.MsgType}}" id="FXFX" name="FXFX" aria-describedby="FXFXHelp" placeholder="True"  value="{{.FXFX}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="FXFX" >FXFX</label>
              <div class="{{.FXFX_props.MsgFeedBackType}}">{{.FXFX_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ONIA_props.MsgType}}" id="ONIA" name="ONIA" aria-describedby="ONIAHelp" placeholder="True"  value="{{.ONIA}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="ONIA" >ONIA</label>
              <div class="{{.ONIA_props.MsgFeedBackType}}">{{.ONIA_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.MarginSubType_props.MsgType}}" id="MarginSubType" name="MarginSubType" aria-describedby="MarginSubTypeHelp" placeholder="0"  value="{{.MarginSubType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="MarginSubType" >MarginSubType</label>
              <div class="{{.MarginSubType_props.MsgFeedBackType}}">{{.MarginSubType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TransferDealType_props.MsgType}}" id="TransferDealType" name="TransferDealType" aria-describedby="TransferDealTypeHelp" placeholder=""  value="{{.TransferDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="TransferDealType" >TransferDealType</label>
              <div class="{{.TransferDealType_props.MsgFeedBackType}}">{{.TransferDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.IsFX_props.MsgType}}" id="IsFX" name="IsFX" aria-describedby="IsFXHelp" placeholder="True"  value="{{.IsFX}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="IsFX" >IsFX</label>
              <div class="{{.IsFX_props.MsgFeedBackType}}">{{.IsFX_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Ordr_props.MsgType}}" id="Ordr" name="Ordr" aria-describedby="OrdrHelp" placeholder=""  value="{{.Ordr}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Ordr" >Ordr</label>
              <div class="{{.Ordr_props.MsgFeedBackType}}">{{.Ordr_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OptionStyle_props.MsgType}}" id="OptionStyle" name="OptionStyle" aria-describedby="OptionStyleHelp" placeholder=""  value="{{.OptionStyle}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="OptionStyle" >OptionStyle</label>
              <div class="{{.OptionStyle_props.MsgFeedBackType}}">{{.OptionStyle_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SpotDealType_props.MsgType}}" id="SpotDealType" name="SpotDealType" aria-describedby="SpotDealTypeHelp" placeholder=""  value="{{.SpotDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SpotDealType" >SpotDealType</label>
              <div class="{{.SpotDealType_props.MsgFeedBackType}}">{{.SpotDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CanIssue_props.MsgType}}" id="CanIssue" name="CanIssue" aria-describedby="CanIssueHelp" placeholder="True"  value="{{.CanIssue}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CanIssue" >CanIssue</label>
              <div class="{{.CanIssue_props.MsgFeedBackType}}">{{.CanIssue_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CanShort_props.MsgType}}" id="CanShort" name="CanShort" aria-describedby="CanShortHelp" placeholder="True"  value="{{.CanShort}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CanShort" >CanShort</label>
              <div class="{{.CanShort_props.MsgFeedBackType}}">{{.CanShort_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FXMarginTradingType_props.MsgType}}" id="FXMarginTradingType" name="FXMarginTradingType" aria-describedby="FXMarginTradingTypeHelp" placeholder="0"  value="{{.FXMarginTradingType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="FXMarginTradingType" >FXMarginTradingType</label>
              <div class="{{.FXMarginTradingType_props.MsgFeedBackType}}">{{.FXMarginTradingType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Internal_props.MsgType}}" id="Internal" name="Internal" aria-describedby="InternalHelp" placeholder="True"  value="{{.Internal}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Internal" >Internal</label>
              <div class="{{.Internal_props.MsgFeedBackType}}">{{.Internal_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TicketBasename_props.MsgType}}" id="TicketBasename" name="TicketBasename" aria-describedby="TicketBasenameHelp" placeholder=""  value="{{.TicketBasename}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="TicketBasename" >TicketBasename</label>
              <div class="{{.TicketBasename_props.MsgFeedBackType}}">{{.TicketBasename_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.InterestRateFutureType_props.MsgType}}" id="InterestRateFutureType" name="InterestRateFutureType" aria-describedby="InterestRateFutureTypeHelp" placeholder=""  value="{{.InterestRateFutureType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="InterestRateFutureType" >InterestRateFutureType</label>
              <div class="{{.InterestRateFutureType_props.MsgFeedBackType}}">{{.InterestRateFutureType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TradingLimitProductCode_props.MsgType}}" id="TradingLimitProductCode" name="TradingLimitProductCode" aria-describedby="TradingLimitProductCodeHelp" placeholder=""  value="{{.TradingLimitProductCode}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="TradingLimitProductCode" >TradingLimitProductCode</label>
              <div class="{{.TradingLimitProductCode_props.MsgFeedBackType}}">{{.TradingLimitProductCode_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Forward_props.MsgType}}" id="Forward" name="Forward" aria-describedby="ForwardHelp" placeholder="True"  value="{{.Forward}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Forward" >Forward</label>
              <div class="{{.Forward_props.MsgFeedBackType}}">{{.Forward_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.MaturityNotificationPeriod_props.MsgType}}" id="MaturityNotificationPeriod" name="MaturityNotificationPeriod" aria-describedby="MaturityNotificationPeriodHelp" placeholder=""  value="{{.MaturityNotificationPeriod}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="MaturityNotificationPeriod" >MaturityNotificationPeriod</label>
              <div class="{{.MaturityNotificationPeriod_props.MsgFeedBackType}}">{{.MaturityNotificationPeriod_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.NotificationEvents_props.MsgType}}" id="NotificationEvents" name="NotificationEvents" aria-describedby="NotificationEventsHelp" placeholder=""  value="{{.NotificationEvents}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="NotificationEvents" >NotificationEvents</label>
              <div class="{{.NotificationEvents_props.MsgFeedBackType}}">{{.NotificationEvents_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SwapSubType_props.MsgType}}" id="SwapSubType" name="SwapSubType" aria-describedby="SwapSubTypeHelp" placeholder=""  value="{{.SwapSubType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SwapSubType" >SwapSubType</label>
              <div class="{{.SwapSubType_props.MsgFeedBackType}}">{{.SwapSubType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ProductCode_props.MsgType}}" id="ProductCode" name="ProductCode" aria-describedby="ProductCodeHelp" placeholder=""  value="{{.ProductCode}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="ProductCode" >ProductCode</label>
              <div class="{{.ProductCode_props.MsgFeedBackType}}">{{.ProductCode_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Funding_props.MsgType}}" id="Funding" name="Funding" aria-describedby="FundingHelp" placeholder="True"  value="{{.Funding}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Funding" >Funding</label>
              <div class="{{.Funding_props.MsgFeedBackType}}">{{.Funding_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.AllocationPricing_props.MsgType}}" id="AllocationPricing" name="AllocationPricing" aria-describedby="AllocationPricingHelp" placeholder=""  value="{{.AllocationPricing}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="AllocationPricing" >AllocationPricing</label>
              <div class="{{.AllocationPricing_props.MsgFeedBackType}}">{{.AllocationPricing_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CancelPeriod_props.MsgType}}" id="CancelPeriod" name="CancelPeriod" aria-describedby="CancelPeriodHelp" placeholder=""  value="{{.CancelPeriod}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CancelPeriod" >CancelPeriod</label>
              <div class="{{.CancelPeriod_props.MsgFeedBackType}}">{{.CancelPeriod_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.MMMarginTradingType_props.MsgType}}" id="MMMarginTradingType" name="MMMarginTradingType" aria-describedby="MMMarginTradingTypeHelp" placeholder="0"  value="{{.MMMarginTradingType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="MMMarginTradingType" >MMMarginTradingType</label>
              <div class="{{.MMMarginTradingType_props.MsgFeedBackType}}">{{.MMMarginTradingType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OptionSpot_props.MsgType}}" id="OptionSpot" name="OptionSpot" aria-describedby="OptionSpotHelp" placeholder=""  value="{{.OptionSpot}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="OptionSpot" >OptionSpot</label>
              <div class="{{.OptionSpot_props.MsgFeedBackType}}">{{.OptionSpot_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Transfer_props.MsgType}}" id="Transfer" name="Transfer" aria-describedby="TransferHelp" placeholder="True"  value="{{.Transfer}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Transfer" >Transfer</label>
              <div class="{{.Transfer_props.MsgFeedBackType}}">{{.Transfer_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.NotificationPeriod_props.MsgType}}" id="NotificationPeriod" name="NotificationPeriod" aria-describedby="NotificationPeriodHelp" placeholder=""  value="{{.NotificationPeriod}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="NotificationPeriod" >NotificationPeriod</label>
              <div class="{{.NotificationPeriod_props.MsgFeedBackType}}">{{.NotificationPeriod_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Paymentdateshift_props.MsgType}}" id="Paymentdateshift" name="Paymentdateshift" aria-describedby="PaymentdateshiftHelp" placeholder="0"  value="{{.Paymentdateshift}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Paymentdateshift" >Paymentdateshift</label>
              <div class="{{.Paymentdateshift_props.MsgFeedBackType}}">{{.Paymentdateshift_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CloseOut_props.MsgType}}" id="CloseOut" name="CloseOut" aria-describedby="CloseOutHelp" placeholder="True"  value="{{.CloseOut}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CloseOut" >CloseOut</label>
              <div class="{{.CloseOut_props.MsgFeedBackType}}">{{.CloseOut_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FXOptionPricing_props.MsgType}}" id="FXOptionPricing" name="FXOptionPricing" aria-describedby="FXOptionPricingHelp" placeholder=""  value="{{.FXOptionPricing}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="FXOptionPricing" >FXOptionPricing</label>
              <div class="{{.FXOptionPricing_props.MsgFeedBackType}}">{{.FXOptionPricing_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SettledHedgeOutrightDealType_props.MsgType}}" id="SettledHedgeOutrightDealType" name="SettledHedgeOutrightDealType" aria-describedby="SettledHedgeOutrightDealTypeHelp" placeholder=""  value="{{.SettledHedgeOutrightDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SettledHedgeOutrightDealType" >SettledHedgeOutrightDealType</label>
              <div class="{{.SettledHedgeOutrightDealType_props.MsgFeedBackType}}">{{.SettledHedgeOutrightDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RepoBond_props.MsgType}}" id="RepoBond" name="RepoBond" aria-describedby="RepoBondHelp" placeholder=""  value="{{.RepoBond}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="RepoBond" >RepoBond</label>
              <div class="{{.RepoBond_props.MsgFeedBackType}}">{{.RepoBond_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RepoTerm_props.MsgType}}" id="RepoTerm" name="RepoTerm" aria-describedby="RepoTermHelp" placeholder=""  value="{{.RepoTerm}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="RepoTerm" >RepoTerm</label>
              <div class="{{.RepoTerm_props.MsgFeedBackType}}">{{.RepoTerm_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RepoType_props.MsgType}}" id="RepoType" name="RepoType" aria-describedby="RepoTypeHelp" placeholder="0"  value="{{.RepoType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="RepoType" >RepoType</label>
              <div class="{{.RepoType_props.MsgFeedBackType}}">{{.RepoType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DateRule_props.MsgType}}" id="DateRule" name="DateRule" aria-describedby="DateRuleHelp" placeholder=""  value="{{.DateRule}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="DateRule" >DateRule</label>
              <div class="{{.DateRule_props.MsgFeedBackType}}">{{.DateRule_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CorpTransferDealType_props.MsgType}}" id="CorpTransferDealType" name="CorpTransferDealType" aria-describedby="CorpTransferDealTypeHelp" placeholder=""  value="{{.CorpTransferDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CorpTransferDealType" >CorpTransferDealType</label>
              <div class="{{.CorpTransferDealType_props.MsgFeedBackType}}">{{.CorpTransferDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.GenerateFXImage_props.MsgType}}" id="GenerateFXImage" name="GenerateFXImage" aria-describedby="GenerateFXImageHelp" placeholder="True"  value="{{.GenerateFXImage}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="GenerateFXImage" >GenerateFXImage</label>
              <div class="{{.GenerateFXImage_props.MsgFeedBackType}}">{{.GenerateFXImage_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Variant_props.MsgType}}" id="Variant" name="Variant" aria-describedby="VariantHelp" placeholder=""  value="{{.Variant}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Variant" >Variant</label>
              <div class="{{.Variant_props.MsgFeedBackType}}">{{.Variant_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.HedgeTermDealType_props.MsgType}}" id="HedgeTermDealType" name="HedgeTermDealType" aria-describedby="HedgeTermDealTypeHelp" placeholder=""  value="{{.HedgeTermDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="HedgeTermDealType" >HedgeTermDealType</label>
              <div class="{{.HedgeTermDealType_props.MsgFeedBackType}}">{{.HedgeTermDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.PricingModel_props.MsgType}}" id="PricingModel" name="PricingModel" aria-describedby="PricingModelHelp" placeholder=""  value="{{.PricingModel}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="PricingModel" >PricingModel</label>
              <div class="{{.PricingModel_props.MsgFeedBackType}}">{{.PricingModel_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.HedgeOutrightDealType_props.MsgType}}" id="HedgeOutrightDealType" name="HedgeOutrightDealType" aria-describedby="HedgeOutrightDealTypeHelp" placeholder=""  value="{{.HedgeOutrightDealType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="HedgeOutrightDealType" >HedgeOutrightDealType</label>
              <div class="{{.HedgeOutrightDealType_props.MsgFeedBackType}}">{{.HedgeOutrightDealType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Fixing_props.MsgType}}" id="Fixing" name="Fixing" aria-describedby="FixingHelp" placeholder="True"  value="{{.Fixing}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Fixing" >Fixing</label>
              <div class="{{.Fixing_props.MsgFeedBackType}}">{{.Fixing_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Payment_props.MsgType}}" id="Payment" name="Payment" aria-describedby="PaymentHelp" placeholder="True"  value="{{.Payment}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Payment" >Payment</label>
              <div class="{{.Payment_props.MsgFeedBackType}}">{{.Payment_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.MT_props.MsgType}}" id="MT" name="MT" aria-describedby="MTHelp" placeholder="True"  value="{{.MT}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="MT" >MT</label>
              <div class="{{.MT_props.MsgFeedBackType}}">{{.MT_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SettlementInstructionStyle_props.MsgType}}" id="SettlementInstructionStyle" name="SettlementInstructionStyle" aria-describedby="SettlementInstructionStyleHelp" placeholder=""  value="{{.SettlementInstructionStyle}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="SettlementInstructionStyle" >SettlementInstructionStyle</label>
              <div class="{{.SettlementInstructionStyle_props.MsgFeedBackType}}">{{.SettlementInstructionStyle_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.QuoteHistoryRequired_props.MsgType}}" id="QuoteHistoryRequired" name="QuoteHistoryRequired" aria-describedby="QuoteHistoryRequiredHelp" placeholder="True"  value="{{.QuoteHistoryRequired}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="QuoteHistoryRequired" >QuoteHistoryRequired</label>
              <div class="{{.QuoteHistoryRequired_props.MsgFeedBackType}}">{{.QuoteHistoryRequired_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Brokerage_props.MsgType}}" id="Brokerage" name="Brokerage" aria-describedby="BrokerageHelp" placeholder="True"  value="{{.Brokerage}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Brokerage" >Brokerage</label>
              <div class="{{.Brokerage_props.MsgFeedBackType}}">{{.Brokerage_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ExposureDisabled_props.MsgType}}" id="ExposureDisabled" name="ExposureDisabled" aria-describedby="ExposureDisabledHelp" placeholder="True"  value="{{.ExposureDisabled}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="ExposureDisabled" >ExposureDisabled</label>
              <div class="{{.ExposureDisabled_props.MsgFeedBackType}}">{{.ExposureDisabled_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CreditLine_props.MsgType}}" id="CreditLine" name="CreditLine" aria-describedby="CreditLineHelp" placeholder=""  value="{{.CreditLine}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="CreditLine" >CreditLine</label>
              <div class="{{.CreditLine_props.MsgFeedBackType}}">{{.CreditLine_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Encumbered_props.MsgType}}" id="Encumbered" name="Encumbered" aria-describedby="EncumberedHelp" placeholder="True"  value="{{.Encumbered}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="Encumbered" >Encumbered</label>
              <div class="{{.Encumbered_props.MsgFeedBackType}}">{{.Encumbered_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.InternalId_props.MsgType}}" id="InternalId" name="InternalId" aria-describedby="InternalIdHelp" placeholder="0"  value="{{.InternalId}}" required data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="InternalId" >InternalId</label>
              <div class="{{.InternalId_props.MsgFeedBackType}}">{{.InternalId_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.InternalDeleted_props.MsgType}}" id="InternalDeleted" name="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder=""  value="{{.InternalDeleted}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="InternalDeleted" >InternalDeleted</label>
              <div class="{{.InternalDeleted_props.MsgFeedBackType}}">{{.InternalDeleted_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.UpdatedTransactionId_props.MsgType}}" id="UpdatedTransactionId" name="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder=""  value="{{.UpdatedTransactionId}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="UpdatedTransactionId" >UpdatedTransactionId</label>
              <div class="{{.UpdatedTransactionId_props.MsgFeedBackType}}">{{.UpdatedTransactionId_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.UpdatedUserId_props.MsgType}}" id="UpdatedUserId" name="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder=""  value="{{.UpdatedUserId}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="UpdatedUserId" >UpdatedUserId</label>
              <div class="{{.UpdatedUserId_props.MsgFeedBackType}}">{{.UpdatedUserId_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.UpdatedDateTime_props.MsgType}}" id="UpdatedDateTime" name="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder=""  value="{{.UpdatedDateTime}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="UpdatedDateTime" >UpdatedDateTime</label>
              <div class="{{.UpdatedDateTime_props.MsgFeedBackType}}">{{.UpdatedDateTime_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DeletedTransactionId_props.MsgType}}" id="DeletedTransactionId" name="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder=""  value="{{.DeletedTransactionId}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="DeletedTransactionId" >DeletedTransactionId</label>
              <div class="{{.DeletedTransactionId_props.MsgFeedBackType}}">{{.DeletedTransactionId_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DeletedUserId_props.MsgType}}" id="DeletedUserId" name="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder=""  value="{{.DeletedUserId}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="DeletedUserId" >DeletedUserId</label>
              <div class="{{.DeletedUserId_props.MsgFeedBackType}}">{{.DeletedUserId_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ChangeType_props.MsgType}}" id="ChangeType" name="ChangeType" aria-describedby="ChangeTypeHelp" placeholder=""  value="{{.ChangeType}}"  data-mdb-input-mask="">
            
           
           
              <label class="form-label" for="ChangeType" >ChangeType</label>
              <div class="{{.ChangeType_props.MsgFeedBackType}}">{{.ChangeType_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}