{{template "header" .}}
{{template "bodydefinition" .}}
{{.Context}}
<form action="/FirmSave/?FirmName={{.FirmName}}"
  method="GET" class="form">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col h3">
          <i class="fas fa-city me-2"
            title="FirmName={{.FirmName}}"></i><span class="me-3">{{.Title}}</span>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="btn-group">
            
            <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/FirmSave/?FirmName={{.FirmName}}" onclick="/FirmSave/?FirmName={{.FirmName}}" title="Save Firm"><i class="fas fa-save me-2"></i>Save</button>
            
            <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Firm"><i class="fas fa-print me-2"></i></i>Print</button>
            <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
     
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.FirmName_props.MsgType}}" id="FirmName" name="FirmName" aria-describedby="FirmNameHelp" placeholder=""  readonly="true"  value="{{.FirmName}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="FirmName" ><i class="fas fa-key me-2"></i>FirmName</label>
              <div class="{{.FirmName_props.MsgFeedBackType}}">{{.FirmName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.FullName_props.MsgType}}" id="FullName" name="FullName" aria-describedby="FullNameHelp" placeholder=""   value="{{.FullName}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="FullName" >FullName</label>
              <div class="{{.FullName_props.MsgFeedBackType}}">{{.FullName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" readonly="true" ><div class="col">
        
            
            <select id="Country" name="Country" class="select" data-mdb-filter="true" readonly="true" >
                {{range .Country_lookup}}<option value="{{.ID}}" {{if eq .ID $.Country}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Country" readonly="true">Country</label>
            <div class="{{.Country_props.MsgFeedBackType}}">{{.Country_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="Sector" name="Sector" class="select" data-mdb-filter="true"  >
                {{range .Sector_lookup}}<option value="{{.ID}}" {{if eq .ID $.Sector}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Sector" >Sector</label>
            <div class="{{.Sector_props.MsgFeedBackType}}">{{.Sector_props.MsgMessage}}</div>
            
        
        </div></div>
      
      
    </div>
    
  </div>
</form>

{{template "userfooter" .}}
{{template "pagefooter" .}}