/* bootstrap.min.css */



:root{
  --custom-primary-colour: #322a77;
  --custom-secondary-colour: #666666;
  --custom-primary-light: #FFFFFF;
  --custom-primary-dark: #221D53;
  --custom-font-family: 'Raleway', sans-serif;
  --custom-code-colour: #dd4814;
  --custom-grey: #dedede;
  --custom-placeholder: #aeaeae;


}

.btn-primary{
  color: white;
  background-color: var(--custom-primary-colour);
  border-color: var(--custom-primary-colour);
}

.text-primary{
  color: var(--custom-primary-colour)!important;
  font-weight: bold;
}
.text-primary-list{
  color: var(--custom-primary-colour)!important;

}

.hr-list{
margin-top:0;
margin-bottom:0;

}

.text-note{
  font-weight: lighter;
  font-size: 12px;
}

.btn-outline-primary{
  color: var(--custom-primary-colour);
  border-color: var(--custom-primary-colour);
}

.btn-outline-primary:hover{
  background-color: var(--custom-primary-colour);
  border-color: var(--custom-primary-colour);
}

.btn-primary:hover{

background-color: var(--custom-primary-dark);
border-color: var(--custom-primary-dark);
}

.btn-primary:focus,.btn-primary.focus{
  box-shadow:0 0 0 .2rem rgba(50,42,119,0.5);
  background-color: var(--custom-primary-dark);
}

.btn-primary:active,.btn-primary.active{
  box-shadow:0 0 0 .2rem rgba(50,42,119,0.5);
  background-color: var(--custom-primary-dark);
}


.btn-secondary{
  background-color: var(--custom-secondary-colour);
  border-color: var(--custom-secondary-colour);
}

.table .thead-light th {
    color: var(--custom-primary-colour);
    font-weight: bolder;
    font-variant: small-caps;
}

.card-header .row .form-control{
  color: var(--custom-primary-colour);
  font-weight: normal;
  font-variant: small-caps;
}

code{
  color: var(--custom-code-colour);
  font-weight: bolder;
}

body {
  font-family: var(--custom-font-family);
}

.badge-primary{
  background-color: var(--custom-primary-colour);
}

.badge-light{
  color: var(--custom-primary-colour);
}
.card {

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);


  min-height: 200px;

  background: white;
  border-radius: 5px;
}

.navbar {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
}

.navbar-brand {
  color: #322a77;
  font-size: 30px;
}

.shad {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
}

.box {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
  background: var(--custom-grey);
  color: var(--custom-primary-colour);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-inner{
  border:0;
  padding: 4;
}

.btn-list{
  border:0;
  padding: 0;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--custom-placeholder);
            opacity: 1;
            font-weight: lighter;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: var(--custom-placeholder);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
                color: var(--custom-placeholder);
 }
