/* bootstrap.min.css */



:root{
  --custom-primary-colour: #322a77;
  --custom-secondary-colour: #666666;
  --custom-primary-light: #FFFFFF;
  --custom-primary-dark: #221D53;
  --custom-font-family: 'Raleway', sans-serif;

}

.btn-primary{
  color: white;
  background-color: var(--custom-primary-colour);
  border-color: var(--custom-primary-colour);
}

.btn-outline-primary{
  color: var(--custom-primary-colour);
  border-color: var(--custom-primary-colour);
}

.btn-outline-primary:hover{
  background-color: var(--custom-primary-colour);
  border-color: var(--custom-primary-colour);
}

.btn-primary:hover{

background-color: var(--custom-primary-dark);
border-color: var(--custom-primary-dark);
}

.btn-secondary{
  background-color: var(--custom-secondary-colour);
  border-color: var(--custom-secondary-colour);
}

.table .thead-light th {

    color: var(--custom-primary-colour);
    font-weight: normal;
    font-variant: small-caps;


}

.card-header .row .form-control{

  color: var(--custom-primary-colour);
  font-weight: normal;
  font-variant: small-caps;


}

body {
  font-family: var(--custom-font-family);
}
