{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-coins me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group">
                    <button type="submit" value="" class="btn btn-primary" formaction="/CurrencyPairNew" method="GET" title="Create a new Currency Pair"><i class="fas fa-plus me-2"></i>New</button>
                    <button id="export" type="button" class="btn btn-info" title="Export Currency Pair as CSV"><i class="fas fa-file-csv me-2"></i>Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Currency Pair"><i class="fas fa-print me-2"></i></i>Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">CodeMajorCurrencyIsoCode</th>
                          <th class="text-center">CodeMinorCurrencyIsoCode</th>
                          <th class="text-center">ReciprocalActive</th>
                          <th class="text-center"><i class="fas fa-key me-2"></i>Code</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle" >{{.CodeMajorCurrencyIsoCode}}</td>
                          <td class="align-middle" >{{.CodeMinorCurrencyIsoCode}}</td>
                          <td class="align-middle" >{{.ReciprocalActive}}</td>
                          <td class="align-middle" >{{.Code}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/CurrencyPairView?Code={{.Code}}" method="POST" title="View Currency Pair"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning ms-2 btn-floating" formaction="/CurrencyPairEdit?Code={{.Code}}" method="POST" title="Edit Currency Pair"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger ms-2 btn-floating" formaction="/CurrencyPairDelete?Code={{.Code}}" method="POST" title="Delete Currency Pair"><i class="fas fa-trash"></i></button>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}