{{template "header" .}}
{{template "bodydefinition" .}}

    <form action="/BrokerSave/?Code={{.Code}}" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              <i class="fas fa-plug me-2" title="Code={{.Code}}"></i><span class="me-3">{{.Title}}</span>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group">
              
                <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/BrokerSave/?Code={{.Code}}" onclick="/BrokerSave/?Code={{.Code}}" title="Save Broker"><i class="fas fa-save me-2"></i>Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Broker"><i class="fas fa-print me-2"></i></i>Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row mb-3" ><div class="col">
         
                  <div class="form-outline">
                      <input type="text" class="form-control" id="Code" name="Code" aria-describedby="CodeHelp" placeholder=""   value="{{.Code}}" required data-mdb-input-mask="">
                      <label class="form-label" for="Code" ><i class="fas fa-key me-2"></i>Code</label>
                    </div>
          
            </div></div>
            <div class="row mb-3" ><div class="col">
         
                  <div class="form-outline">
                      <input type="text" class="form-control" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""   value="{{.Name}}"  data-mdb-input-mask="">
                      <label class="form-label" for="Name" >Name</label>
                    </div>
          
            </div></div>
            <div class="row mb-3" ><div class="col">
         
                  <div class="form-outline">
                      <input type="text" class="form-control" id="FullName" name="FullName" aria-describedby="FullNameHelp" placeholder=""   value="{{.FullName}}"  data-mdb-input-mask="">
                      <label class="form-label" for="FullName" >FullName</label>
                    </div>
          
            </div></div>
            <div class="row mb-3" ><div class="col">
         
                  <div class="form-outline">
                      <input type="text" class="form-control" id="Contact" name="Contact" aria-describedby="ContactHelp" placeholder=""   value="{{.Contact}}"  data-mdb-input-mask="">
                      <label class="form-label" for="Contact" >Contact</label>
                    </div>
          
            </div></div>
            <div class="row mb-3" ><div class="col">
         
                  <div class="form-outline">
                      <input type="text" class="form-control" id="Address" name="Address" aria-describedby="AddressHelp" placeholder=""   value="{{.Address}}"  data-mdb-input-mask="">
                      <label class="form-label" for="Address" >Address</label>
                    </div>
          
            </div></div>
            <div class="row mb-3" ><div class="col">
         
                  <div class="form-outline">
                      <input type="text" class="form-control" id="LEI" name="LEI" aria-describedby="LEIHelp" placeholder=""   value="{{.LEI}}"  data-mdb-input-mask="">
                      <label class="form-label" for="LEI" >LEI</label>
                    </div>
          
            </div></div>

     
        </div>
        
      </div>
    </form>

{{template "userfooter" .}}
{{template "pagefooter" .}}