{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="POST">
                    <div class="btn-group">
                    
                    <button id="export" type="button" class="btn btn-info"><i class="fas fa-file-csv" title="Export Book as CSV"></i>&nbsp;&nbsp;Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Book"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">BookName</th>
                          <th class="text-center">FullName</th>
                          <th class="text-center">PLManage</th>
                          <th class="text-center">PLTransfer</th>
                          <th class="text-center">DerivePL</th>
                          <th class="text-center">CostOfCarry</th>
                          <th class="text-center">CostOfFunding</th>
                          <th class="text-center">LotAllocationMethod</th>
                          <th class="text-center">InternalId</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle">{{.BookName}}</td>
                          <td class="align-middle">{{.FullName}}</td>
                          <td class="align-middle">{{.PLManage}}</td>
                          <td class="align-middle">{{.PLTransfer}}</td>
                          <td class="align-middle">{{.DerivePL}}</td>
                          <td class="align-middle">{{.CostOfCarry}}</td>
                          <td class="align-middle">{{.CostOfFunding}}</td>
                          <td class="align-middle">{{.LotAllocationMethod}}</td>
                          <td class="align-middle">{{.InternalId}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <div class="btn-group">
                            <button type="submit" value="" class="btn btn-info" formaction="/BookView?Book={{.BookName}}" method="POST" title="View Book"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning" formaction="/BookEdit?Book={{.BookName}}" method="POST" title="Edit Book"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger" formaction="/BookDelete?Book={{.BookName}}" method="POST" title="Delete Book"><i class="fas fa-trash"></i></button>
                            </div>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}