{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/BookEdit?Book={{.BookName}}" method="POST" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              {{.Title}}&nbsp;:&nbsp;<code>{{.BookName}}</code>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/BookEdit/?Book={{.BookName}}" onclick="/BookEdit/?Book={{.BookName}}" title="Edit Book"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Book"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BookName" aria-describedby="BookNameHelp" placeholder="" disabled value="{{.BookName}}">
                <label class="form-label" for="BookName">BookName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FullName" aria-describedby="FullNameHelp" placeholder="" disabled value="{{.FullName}}">
                <label class="form-label" for="FullName">FullName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PLManage" aria-describedby="PLManageHelp" placeholder="" disabled value="{{.PLManage}}">
                <label class="form-label" for="PLManage">PLManage</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PLTransfer" aria-describedby="PLTransferHelp" placeholder="" disabled value="{{.PLTransfer}}">
                <label class="form-label" for="PLTransfer">PLTransfer</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DerivePL" aria-describedby="DerivePLHelp" placeholder="True" disabled value="{{.DerivePL}}">
                <label class="form-label" for="DerivePL">DerivePL</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CostOfCarry" aria-describedby="CostOfCarryHelp" placeholder="True" disabled value="{{.CostOfCarry}}">
                <label class="form-label" for="CostOfCarry">CostOfCarry</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CostOfFunding" aria-describedby="CostOfFundingHelp" placeholder="True" disabled value="{{.CostOfFunding}}">
                <label class="form-label" for="CostOfFunding">CostOfFunding</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="LotAllocationMethod" aria-describedby="LotAllocationMethodHelp" placeholder="" disabled value="{{.LotAllocationMethod}}">
                <label class="form-label" for="LotAllocationMethod">LotAllocationMethod</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="InternalId" aria-describedby="InternalIdHelp" placeholder="0" disabled value="{{.InternalId}}">
                <label class="form-label" for="InternalId">InternalId</label>
              </div>
            </div>
        </div>

      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}