{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CentreSave/" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">{{.Title}}</div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/CentreSave/" onclick="/CentreSave/" title="Save Centre"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Centre"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Code" name="Code" aria-describedby="CodeHelp" placeholder=""  value="{{.Code}}" required>
                <label class="form-label" for="Code" >Code</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" >
                <label class="form-label" for="Name" >Name</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Country" name="Country" aria-describedby="CountryHelp" placeholder=""  value="{{.Country}}" >
                <label class="form-label" for="Country" >Country</label>
              </div>
            </div>

             <div class="row">
              
                <select id="Country_Lookup" name="Country_Lookup" class="select" disabled><option value="{{.Country_Lookup}}" selected>{{.Country_Lookup}}</option>{{range .Country_Lookup_List}}<option value="{{.Code}}">{{.Name}}</option>{{end}}</select>
                <label class="form-label select-label" for="Country_Lookup"}>Country_Lookup</label>
      
            </div>
     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}