<head>
  <!-- START OF INSERTS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <!-- FAVICON BUMPF -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#322a77">
  <meta name="msapplication-TileColor" content="#322a77">
  <meta name="theme-color" content="#ffffff">
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  <!-- Add CUSTOM ICONS, FONTS & STYLES -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/custom.css">
  <script src="../assets/custom.js"></script>
  <script defer="defer" src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
  </link>
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <!-- END OF INSERTS -->
  <!-- ADDITION STYLES IN SPECIFIC INSTANCES -->

  <title>{{.Title}}&nbsp;[{{.PageTitle}}]</title>

</head>

<body>

  <!-- DO NOT CHANGE - APP USES CENTRAL NAVIGATION -->
  <div class="row nav-row">
    <span onclick="openNav()"><i class="fas fa-atom fa-2x hamburger" style="padding:0;margin-left:.5rem;margin-right:.5rem"></i></span>
    <div class="nav-title"><a href="" onclick="/home/" class="nav-title">{{.PageTitle}}</a></div>
  </div>
  <div id="mySidenav" class="sidenav">
  <div class="nav-tile">{{ (index .UserMenu 0).MenuHeaderText}}</div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{range .UserMenu}}
    <a class="" href="{{.MenuHREF}}" onclick="{{.MenuOnClick}}">
      <div class="row">
        <div class="dd-img">
          <i class="{{.MenuGlyph}} {{.MenuTextClass}}"></i>
        </div>
        <div class="dd-text {{.MenuTextClass}}">{{.MenuText}}</div>
      </div>
    </a>
    {{end}}
    </div>
  <!-- DO NOT CHANGE -->


  <div class="container-fluid">

    <div id="config">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              Configuration
            </div>
            <div class="col text-right">
              <button id="close" type="button" class="btn btn-outline-secondary" onclick="history.back()">
                <i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
            </div>
          </div>
        </div>

      <div class="card-body">


        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#application" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-atom fa-2x"></i><br>Application</a>

          </li>

          <li class="nav-item">
            <a class="nav-link" id="siena-tab" data-toggle="tab" href="#siena" role="tab" aria-controls="contact" aria-selected="false"><img src="../assets/siena.png" alt="Siena" style="width:35px"></img><br>Siena</a>

          </li>
        </ul>

        <br>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="application" role="tabpanel" aria-labelledby="application-tab">
            <h4>{{.AppServerReleaseID}}&nbsp;[r{{.AppServerReleaseLevel}}-{{.AppServerReleaseNumber}}]</h4>
            <div class="row">
              <div class="col">
                <label for="responseType">App Server Release ID :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseID}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="responseType">App Server Release Level :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseLevel}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="responseType">App Server Release Number :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseNumber}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>

  <br>
  <h4> Database Connection</h4>
            <div class="row">
              <div class="col-sm">
                <label for="sienaDataServer">MS SQL Server:</label>
                <input type="text" id="sienaDataServer" name="sienaDataServer" value="{{.AppDBServer}}" disabled="disabled" size="60" class="form-control">
                <small class="form-text text-muted">Machine Name or IP address</small>
              </div>
              <div class="col-sm">
                <label for="sienaDataSource">Database:</label>
                <input type="text" id="sienaDataSource" name="sienaDataSource" value="{{.AppDBDatabase}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBSchema">Schema:</label>
                <input type="text" id="sienaDBSchema" name="sienaDBSchema" value="{{.AppDBSchema}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>



            <div class="row">
              <div class="col-sm">
                <label for="sienaDBUser">DB User :</label>
                <input type="text" id="sienaDBUser" name="sienaDBUser" value="{{.AppDBUser}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPassword">DB Password :</label>
                <input type="text" id="sienaDBPassword" name="sienaDBPassword" value="{{.AppDBPassword}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPort">DB Port :</label>
                <input type="text" id="sienaDBPort" name="sienaDBPort" value="{{.AppDBPort}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>
<br>
<h4>Credentials & Session Management</h4>
<div class="row">
  <div class="col-sm">
    <label for="sienaDataServer">Session Life:</label>
    <input type="text" id="sienaDataServer" name="sienaDataServer" value="{{.AppSessionLife}}" disabled="disabled" size="60" class="form-control">
    <small class="form-text text-muted">Duration</small>

  </div>
  <div class="col-sm">
    <label for="sienaDataSource">Credentials Life:</label>
    <input type="text" id="sienaDataSource" name="sienaDataSource" value="{{.AppCredentialsLife}}" disabled="disabled" size="60" class="form-control">
    <small class="form-text text-muted">Days</small>
  </div>
</div>
          </div>


          <div class="tab-pane fade" id="siena" role="tabpanel" aria-labelledby="siena-tab">

            <h4> Default System</h4>
            <label for="sienaName">Default Siena System</label>
            <input type="text" id="sienaName" name="sienaName" value="{{.AppDefaultSienaSystem}} ({{.SienaName}})" disabled="disabled" size="60" class="form-control">
            <label for="SienaSystemDate">Current System Date</label>
            <input type="text" id="SienaSystemDate" name="SienaSystemDate" value="{{.SienaSystemDate}}" disabled="disabled" size="60" class="form-control">
            <br>
            <h4> Default Database Connection</h4>
            <div class="row">
              <div class="col-sm">
                <label for="sienaDataServer">MS SQL Server:</label>
                <input type="text" id="sienaDataServer" name="sienaDataServer" value="{{.SienaDataServer}}" disabled="disabled" size="60" class="form-control">
                <small class="form-text text-muted">Machine Name or IP address</small>
              </div>
              <div class="col-sm">
                <label for="sienaDataSource">Database:</label>
                <input type="text" id="sienaDataSource" name="sienaDataSource" value="{{.SienaDataSource}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBSchema">Schema:</label>
                <input type="text" id="sienaDBSchema" name="sienaDBSchema" value="{{.SienaDBSchema}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <label for="sienaDBUser">DB User :</label>
                <input type="text" id="sienaDBUser" name="sienaDBUser" value="{{.SienaDBUser}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPassword">DB Password :</label>
                <input type="text" id="sienaDBPassword" name="sienaDBPassword" value="{{.SienaDBPassword}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPort">DB Port :</label>
                <input type="text" id="sienaDBPort" name="sienaDBPort" value="{{.SienaDBPort}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>

            <br>
            <h4>Systems Connections</h4>


            <div class="row" style="margin-top: 10px">
              {{range .SienaSystems}}

              <div class="col highlightgrey">
                <div class="row"><div class="col" style="fonfont-weight: bold;"><h4 class="font-weight-bolder">{{.Id}}</h4></div></div>
                <hr>
<div class="row" style="margin-top: 10px"><div class="col">
                  <table>
                    <thead><tr><th class="h5">Type</th><th class="h5">Path</th></tr></thead>
                    <tbody>
                <tr><td class="text-muted">System Name</td><td class="font-weight-bold">{{.Name}}</td></tr>
                <tr><td class="text-muted">Static Data In</td><td class="font-weight-bold">{{.Staticin}}</td></tr>
                <tr><td class="text-muted">Static Data Responses</td><td class="font-weight-bold">{{.Staticout}}</td></tr>
                <tr><td class="text-muted">Deal Import In</td><td class="font-weight-bold">{{.Txnin}}</td></tr>
                <tr><td class="text-muted">Deal Import Responses</td><td class="font-weight-bold">{{.Txnout}}</td></tr>
                <tr><td class="text-muted">Funds Check Requests</td><td class="font-weight-bold">{{.Fundscheckin}}</td></tr>
                <tr><td class="text-muted">Funds Check Responses</td><td class="font-weight-bold">{{.Fundscheckout}}</td></tr>
                <tr><td class="text-muted">Last Updated</td><td class="font-weight-bold">{{.SYSUpdated}}</td></tr>
                    </tbody>
</table>

              </div></div>
              <hr>
              <div class="row">
                <a href="/viewSystemStore?SystemStore={{.Id}}" class="btn btn-info text-center" style="margin-left:15px" formaction="/viewSystemStore?SystemStore={{.Id}}" method="POST"><i class="far fa-eye"></i></a></div>
              </div>

              {{end}}
            </div>

          </div>
        </div>


      </div>


    </div>


  </div>

</body>
