{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CounterpartyCreditRatingEdit?ID={{.CompID}}" method="POST" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/CounterpartyCreditRatingEdit/?ID={{.CompID}}" onclick="/CounterpartyCreditRatingEdit/?ID={{.CompID}}" title="Edit Counterparty Credit Rating"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Credit Rating"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NameFirm" aria-describedby="NameFirmHelp" placeholder="" disabled value="{{.NameFirm}}">
                <label class="form-label" for="NameFirm">NameFirm</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NameCentre" aria-describedby="NameCentreHelp" placeholder="" disabled value="{{.NameCentre}}">
                <label class="form-label" for="NameCentre">NameCentre</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CreditRatingUsage" aria-describedby="CreditRatingUsageHelp" placeholder="" disabled value="{{.CreditRatingUsage}}">
                <label class="form-label" for="CreditRatingUsage">CreditRatingUsage</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CreditRatingAgency" aria-describedby="CreditRatingAgencyHelp" placeholder="" disabled value="{{.CreditRatingAgency}}">
                <label class="form-label" for="CreditRatingAgency">CreditRatingAgency</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CreditRatingName" aria-describedby="CreditRatingNameHelp" placeholder="" disabled value="{{.CreditRatingName}}">
                <label class="form-label" for="CreditRatingName">CreditRatingName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled value="{{.CompID}}">
                <label class="form-label" for="CompID">CompID</label>
              </div>
            </div>
        </div>

      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}