{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CounterpartyImportSave/" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">{{.Title}}</div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/CounterpartyImportSave/" onclick="/CounterpartyImportSave/" title="Save Counterparty Import"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Import"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="KeyImportID" name="KeyImportID" aria-describedby="KeyImportIDHelp" placeholder=""  value="{{.KeyImportID}}" required>
                <label class="form-label" for="KeyImportID" >KeyImportID</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Firm" name="Firm" aria-describedby="FirmHelp" placeholder=""  value="{{.Firm}}" >
                <label class="form-label" for="Firm" >Firm</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Centre" name="Centre" aria-describedby="CentreHelp" placeholder=""  value="{{.Centre}}" >
                <label class="form-label" for="Centre" >Centre</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FirmName" name="FirmName" aria-describedby="FirmNameHelp" placeholder=""  value="{{.FirmName}}" required>
                <label class="form-label" for="FirmName" >FirmName</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CentreName" name="CentreName" aria-describedby="CentreNameHelp" placeholder=""  value="{{.CentreName}}" >
                <label class="form-label" for="CentreName" >CentreName</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="KeyOriginID" name="KeyOriginID" aria-describedby="KeyOriginIDHelp" placeholder=""  value="{{.KeyOriginID}}" required>
                <label class="form-label" for="KeyOriginID" >KeyOriginID</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FullName" name="FullName" aria-describedby="FullNameHelp" placeholder=""  value="{{.FullName}}" >
                <label class="form-label" for="FullName" >FullName</label>
              </div>
            </div>
            <div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CompID" name="CompID" aria-describedby="CompIDHelp" placeholder=""  value="{{.CompID}}" required>
                <label class="form-label" for="CompID" >CompID</label>
              </div>
            </div>

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}