{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CounterpartyExtensionsEdit?ID={{.CompID}}" method="POST" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/CounterpartyExtensionsEdit/?ID={{.CompID}}" onclick="/CounterpartyExtensionsEdit/?ID={{.CompID}}" title="Edit Counterparty Extension"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Extension"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NameFirm" aria-describedby="NameFirmHelp" placeholder="" disabled value="{{.NameFirm}}">
                <label class="form-label" for="NameFirm">NameFirm</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NameCentre" aria-describedby="NameCentreHelp" placeholder="" disabled value="{{.NameCentre}}">
                <label class="form-label" for="NameCentre">NameCentre</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BICCode" aria-describedby="BICCodeHelp" placeholder="" disabled value="{{.BICCode}}">
                <label class="form-label" for="BICCode">BICCode</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ContactIndicator" aria-describedby="ContactIndicatorHelp" placeholder="True" disabled value="{{.ContactIndicator}}">
                <label class="form-label" for="ContactIndicator">ContactIndicator</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CoverTrade" aria-describedby="CoverTradeHelp" placeholder="True" disabled value="{{.CoverTrade}}">
                <label class="form-label" for="CoverTrade">CoverTrade</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CustomerCategory" aria-describedby="CustomerCategoryHelp" placeholder="" disabled value="{{.CustomerCategory}}">
                <label class="form-label" for="CustomerCategory">CustomerCategory</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FSCSInclusive" aria-describedby="FSCSInclusiveHelp" placeholder="True" disabled value="{{.FSCSInclusive}}">
                <label class="form-label" for="FSCSInclusive">FSCSInclusive</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FeeFactor" aria-describedby="FeeFactorHelp" placeholder="0.00" disabled value="{{.FeeFactor}}">
                <label class="form-label" for="FeeFactor">FeeFactor</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="InactiveStatus" aria-describedby="InactiveStatusHelp" placeholder="True" disabled value="{{.InactiveStatus}}">
                <label class="form-label" for="InactiveStatus">InactiveStatus</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Indemnity" aria-describedby="IndemnityHelp" placeholder="True" disabled value="{{.Indemnity}}">
                <label class="form-label" for="Indemnity">Indemnity</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="KnowYourCustomerStatus" aria-describedby="KnowYourCustomerStatusHelp" placeholder="True" disabled value="{{.KnowYourCustomerStatus}}">
                <label class="form-label" for="KnowYourCustomerStatus">KnowYourCustomerStatus</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="LERLimitCarveOut" aria-describedby="LERLimitCarveOutHelp" placeholder="True" disabled value="{{.LERLimitCarveOut}}">
                <label class="form-label" for="LERLimitCarveOut">LERLimitCarveOut</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="LastAmended" aria-describedby="LastAmendedHelp" placeholder="" disabled value="{{.LastAmended}}">
                <label class="form-label" for="LastAmended">LastAmended</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="LastLogin" aria-describedby="LastLoginHelp" placeholder="" disabled value="{{.LastLogin}}">
                <label class="form-label" for="LastLogin">LastLogin</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="LossGivenDefault" aria-describedby="LossGivenDefaultHelp" placeholder="0.00" disabled value="{{.LossGivenDefault}}">
                <label class="form-label" for="LossGivenDefault">LossGivenDefault</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MIC" aria-describedby="MICHelp" placeholder="" disabled value="{{.MIC}}">
                <label class="form-label" for="MIC">MIC</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ProtectedDepositor" aria-describedby="ProtectedDepositorHelp" placeholder="True" disabled value="{{.ProtectedDepositor}}">
                <label class="form-label" for="ProtectedDepositor">ProtectedDepositor</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RPTCurrency" aria-describedby="RPTCurrencyHelp" placeholder="" disabled value="{{.RPTCurrency}}">
                <label class="form-label" for="RPTCurrency">RPTCurrency</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RateTimeout" aria-describedby="RateTimeoutHelp" placeholder="0" disabled value="{{.RateTimeout}}">
                <label class="form-label" for="RateTimeout">RateTimeout</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RateValidation" aria-describedby="RateValidationHelp" placeholder="" disabled value="{{.RateValidation}}">
                <label class="form-label" for="RateValidation">RateValidation</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Registered" aria-describedby="RegisteredHelp" placeholder="True" disabled value="{{.Registered}}">
                <label class="form-label" for="Registered">Registered</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RegulatoryCategory" aria-describedby="RegulatoryCategoryHelp" placeholder="" disabled value="{{.RegulatoryCategory}}">
                <label class="form-label" for="RegulatoryCategory">RegulatoryCategory</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SecuredSettlement" aria-describedby="SecuredSettlementHelp" placeholder="True" disabled value="{{.SecuredSettlement}}">
                <label class="form-label" for="SecuredSettlement">SecuredSettlement</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SettlementLimitCarveOut" aria-describedby="SettlementLimitCarveOutHelp" placeholder="True" disabled value="{{.SettlementLimitCarveOut}}">
                <label class="form-label" for="SettlementLimitCarveOut">SettlementLimitCarveOut</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SortCode" aria-describedby="SortCodeHelp" placeholder="" disabled value="{{.SortCode}}">
                <label class="form-label" for="SortCode">SortCode</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Training" aria-describedby="TrainingHelp" placeholder="True" disabled value="{{.Training}}">
                <label class="form-label" for="Training">Training</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="TrainingCode" aria-describedby="TrainingCodeHelp" placeholder="" disabled value="{{.TrainingCode}}">
                <label class="form-label" for="TrainingCode">TrainingCode</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="TrainingReceived" aria-describedby="TrainingReceivedHelp" placeholder="True" disabled value="{{.TrainingReceived}}">
                <label class="form-label" for="TrainingReceived">TrainingReceived</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Unencumbered" aria-describedby="UnencumberedHelp" placeholder="True" disabled value="{{.Unencumbered}}">
                <label class="form-label" for="Unencumbered">Unencumbered</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="LEIExpiryDate" aria-describedby="LEIExpiryDateHelp" placeholder="" disabled value="{{.LEIExpiryDate}}">
                <label class="form-label" for="LEIExpiryDate">LEIExpiryDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MIFIDReviewDate" aria-describedby="MIFIDReviewDateHelp" placeholder="" disabled value="{{.MIFIDReviewDate}}">
                <label class="form-label" for="MIFIDReviewDate">MIFIDReviewDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="GDPRReviewDate" aria-describedby="GDPRReviewDateHelp" placeholder="" disabled value="{{.GDPRReviewDate}}">
                <label class="form-label" for="GDPRReviewDate">GDPRReviewDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DelegatedReporting" aria-describedby="DelegatedReportingHelp" placeholder="" disabled value="{{.DelegatedReporting}}">
                <label class="form-label" for="DelegatedReporting">DelegatedReporting</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BOReconcile" aria-describedby="BOReconcileHelp" placeholder="True" disabled value="{{.BOReconcile}}">
                <label class="form-label" for="BOReconcile">BOReconcile</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MIFIDReportableDealsAllowed" aria-describedby="MIFIDReportableDealsAllowedHelp" placeholder="True" disabled value="{{.MIFIDReportableDealsAllowed}}">
                <label class="form-label" for="MIFIDReportableDealsAllowed">MIFIDReportableDealsAllowed</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SignedInvestmentAgreement" aria-describedby="SignedInvestmentAgreementHelp" placeholder="True" disabled value="{{.SignedInvestmentAgreement}}">
                <label class="form-label" for="SignedInvestmentAgreement">SignedInvestmentAgreement</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="AppropriatenessAssessment" aria-describedby="AppropriatenessAssessmentHelp" placeholder="True" disabled value="{{.AppropriatenessAssessment}}">
                <label class="form-label" for="AppropriatenessAssessment">AppropriatenessAssessment</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FinancialCounterparty" aria-describedby="FinancialCounterpartyHelp" placeholder="True" disabled value="{{.FinancialCounterparty}}">
                <label class="form-label" for="FinancialCounterparty">FinancialCounterparty</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Collateralisation" aria-describedby="CollateralisationHelp" placeholder="" disabled value="{{.Collateralisation}}">
                <label class="form-label" for="Collateralisation">Collateralisation</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PortfolioCode" aria-describedby="PortfolioCodeHelp" placeholder="" disabled value="{{.PortfolioCode}}">
                <label class="form-label" for="PortfolioCode">PortfolioCode</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ReconciliationLetterFrequency" aria-describedby="ReconciliationLetterFrequencyHelp" placeholder="" disabled value="{{.ReconciliationLetterFrequency}}">
                <label class="form-label" for="ReconciliationLetterFrequency">ReconciliationLetterFrequency</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DirectDealing" aria-describedby="DirectDealingHelp" placeholder="True" disabled value="{{.DirectDealing}}">
                <label class="form-label" for="DirectDealing">DirectDealing</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled value="{{.CompID}}">
                <label class="form-label" for="CompID">CompID</label>
              </div>
            </div>
        </div>

      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}