{{template "header" .}}
{{template "bodydefinition" .}}

    <form action="/CounterpartyGroupSave?Group={{.Name}}" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Name}}</code>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/CounterpartyGroupSave/Group={{.Name}}" onclick="/CounterpartyGroupSave/Group={{.Name}}" title="Save Counterparty Group"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Group"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
              
              <div class="row">
                <div class="form-outline mb-3">
                  <input type="text" class="form-control" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" required />
                  <label class="form-label" for="Name" >Name</label>
                </div>
              </div>
              
              <div class="row">
                <div class="form-outline mb-3">
                  <input type="text" class="form-control" id="CountryCode" name="CountryCode" aria-describedby="CountryCodeHelp" placeholder=""  value="{{.CountryCode}}"  />
                  <label class="form-label" for="CountryCode" >CountryCode</label>
                </div>
              </div>
              
              <div class="row">
                <div class="form-outline mb-3">
                  <input type="text" class="form-control" id="SuperGroup" name="SuperGroup" aria-describedby="SuperGroupHelp" placeholder=""  value="{{.SuperGroup}}"  />
                  <label class="form-label" for="SuperGroup" >SuperGroup</label>
                </div>
              </div>
              
                           
              <div class="row mb-3">
                  <select id="Country_Lookup" name="Country_Lookup" class="select" data-mdb-filter="true" ><option value="{{.Country_Lookup}}" selected>{{.Country_Lookup}}</option>{{range .Country_Lookup_List}}<option value="{{.Name}}">{{.Name}}</option>{{end}}</select>
                  <label class="form-label select-label" for="Country_Lookup" >Country_Lookup</label>
              </div>
                            
              <div class="row mb-3">
            
                  <select id="Parent_Lookup" name="Parent_Lookup" class="select" data-mdb-filter="true" ><option value="{{.Parent_Lookup}}" selected>{{.Parent_Lookup}}</option>{{range .Parent_Lookup_List}}<option value="{{.Name}}">{{.Name}}</option>{{end}}</select>
                  <label class="form-label select-label" for="Parent_Lookup" >Parent_Lookup</label>
              </div>
              
        </div>
      </div>
    </form>

{{template "userfooter" .}}
{{template "pagefooter" .}}