{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="POST">
                    <div class="btn-group">
                    <button type="submit" value="" class="btn btn-primary" formaction="/CounterpartyExtensionsNew" method="POST" title="Create a new Counterparty Extension"><i class="fas fa-plus"></i>&nbsp;&nbsp;New</button>
                    <button id="export" type="button" class="btn btn-info"><i class="fas fa-file-csv" title="Export Counterparty Extension as CSV"></i>&nbsp;&nbsp;Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Extension"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">NameFirm</th>
                          <th class="text-center">NameCentre</th>
                          <th class="text-center">BICCode</th>
                          <th class="text-center">ContactIndicator</th>
                          <th class="text-center">CoverTrade</th>
                          <th class="text-center">CustomerCategory</th>
                          <th class="text-center">FSCSInclusive</th>
                          <th class="text-center">FeeFactor</th>
                          <th class="text-center">InactiveStatus</th>
                          <th class="text-center">Indemnity</th>
                          <th class="text-center">KnowYourCustomerStatus</th>
                          <th class="text-center">LERLimitCarveOut</th>
                          <th class="text-center">LastAmended</th>
                          <th class="text-center">LastLogin</th>
                          <th class="text-center">LossGivenDefault</th>
                          <th class="text-center">MIC</th>
                          <th class="text-center">ProtectedDepositor</th>
                          <th class="text-center">RPTCurrency</th>
                          <th class="text-center">RateTimeout</th>
                          <th class="text-center">RateValidation</th>
                          <th class="text-center">Registered</th>
                          <th class="text-center">RegulatoryCategory</th>
                          <th class="text-center">SecuredSettlement</th>
                          <th class="text-center">SettlementLimitCarveOut</th>
                          <th class="text-center">SortCode</th>
                          <th class="text-center">Training</th>
                          <th class="text-center">TrainingCode</th>
                          <th class="text-center">TrainingReceived</th>
                          <th class="text-center">Unencumbered</th>
                          <th class="text-center">LEIExpiryDate</th>
                          <th class="text-center">MIFIDReviewDate</th>
                          <th class="text-center">GDPRReviewDate</th>
                          <th class="text-center">DelegatedReporting</th>
                          <th class="text-center">BOReconcile</th>
                          <th class="text-center">MIFIDReportableDealsAllowed</th>
                          <th class="text-center">SignedInvestmentAgreement</th>
                          <th class="text-center">AppropriatenessAssessment</th>
                          <th class="text-center">FinancialCounterparty</th>
                          <th class="text-center">Collateralisation</th>
                          <th class="text-center">PortfolioCode</th>
                          <th class="text-center">ReconciliationLetterFrequency</th>
                          <th class="text-center">DirectDealing</th>
                          <th class="text-center">CompID</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle">{{.NameFirm}}</td>
                          <td class="align-middle">{{.NameCentre}}</td>
                          <td class="align-middle">{{.BICCode}}</td>
                          <td class="align-middle">{{.ContactIndicator}}</td>
                          <td class="align-middle">{{.CoverTrade}}</td>
                          <td class="align-middle">{{.CustomerCategory}}</td>
                          <td class="align-middle">{{.FSCSInclusive}}</td>
                          <td class="align-middle">{{.FeeFactor}}</td>
                          <td class="align-middle">{{.InactiveStatus}}</td>
                          <td class="align-middle">{{.Indemnity}}</td>
                          <td class="align-middle">{{.KnowYourCustomerStatus}}</td>
                          <td class="align-middle">{{.LERLimitCarveOut}}</td>
                          <td class="align-middle">{{.LastAmended}}</td>
                          <td class="align-middle">{{.LastLogin}}</td>
                          <td class="align-middle">{{.LossGivenDefault}}</td>
                          <td class="align-middle">{{.MIC}}</td>
                          <td class="align-middle">{{.ProtectedDepositor}}</td>
                          <td class="align-middle">{{.RPTCurrency}}</td>
                          <td class="align-middle">{{.RateTimeout}}</td>
                          <td class="align-middle">{{.RateValidation}}</td>
                          <td class="align-middle">{{.Registered}}</td>
                          <td class="align-middle">{{.RegulatoryCategory}}</td>
                          <td class="align-middle">{{.SecuredSettlement}}</td>
                          <td class="align-middle">{{.SettlementLimitCarveOut}}</td>
                          <td class="align-middle">{{.SortCode}}</td>
                          <td class="align-middle">{{.Training}}</td>
                          <td class="align-middle">{{.TrainingCode}}</td>
                          <td class="align-middle">{{.TrainingReceived}}</td>
                          <td class="align-middle">{{.Unencumbered}}</td>
                          <td class="align-middle">{{.LEIExpiryDate}}</td>
                          <td class="align-middle">{{.MIFIDReviewDate}}</td>
                          <td class="align-middle">{{.GDPRReviewDate}}</td>
                          <td class="align-middle">{{.DelegatedReporting}}</td>
                          <td class="align-middle">{{.BOReconcile}}</td>
                          <td class="align-middle">{{.MIFIDReportableDealsAllowed}}</td>
                          <td class="align-middle">{{.SignedInvestmentAgreement}}</td>
                          <td class="align-middle">{{.AppropriatenessAssessment}}</td>
                          <td class="align-middle">{{.FinancialCounterparty}}</td>
                          <td class="align-middle">{{.Collateralisation}}</td>
                          <td class="align-middle">{{.PortfolioCode}}</td>
                          <td class="align-middle">{{.ReconciliationLetterFrequency}}</td>
                          <td class="align-middle">{{.DirectDealing}}</td>
                          <td class="align-middle">{{.CompID}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <div class="btn-group">
                            <button type="submit" value="" class="btn btn-info" formaction="/CounterpartyExtensionsView?ID={{.CompID}}" method="POST" title="View Counterparty Extension"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning" formaction="/CounterpartyExtensionsEdit?ID={{.CompID}}" method="POST" title="Edit Counterparty Extension"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger" formaction="/CounterpartyExtensionsDelete?ID={{.CompID}}" method="POST" title="Delete Counterparty Extension"><i class="fas fa-trash"></i></button>
                            </div>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}