{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CredentialsEdit?Id={{.Id}}" method="POST" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Id}}</code>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/CredentialsEdit/?Id={{.Id}}" onclick="/CredentialsEdit/?Id={{.Id}}" title="Edit Credential"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Credential"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled value="{{.SYSId}}">
                <label class="form-label" for="SYSId">SYSId</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Id" aria-describedby="IdHelp" placeholder="" disabled value="{{.Id}}">
                <label class="form-label" for="Id">Id</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Username" aria-describedby="UsernameHelp" placeholder="" disabled value="{{.Username}}">
                <label class="form-label" for="Username">Username</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Password" aria-describedby="PasswordHelp" placeholder="" disabled value="{{.Password}}">
                <label class="form-label" for="Password">Password</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Firstname" aria-describedby="FirstnameHelp" placeholder="" disabled value="{{.Firstname}}">
                <label class="form-label" for="Firstname">Firstname</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Lastname" aria-describedby="LastnameHelp" placeholder="" disabled value="{{.Lastname}}">
                <label class="form-label" for="Lastname">Lastname</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Knownas" aria-describedby="KnownasHelp" placeholder="" disabled value="{{.Knownas}}">
                <label class="form-label" for="Knownas">Knownas</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Email" aria-describedby="EmailHelp" placeholder="" disabled value="{{.Email}}">
                <label class="form-label" for="Email">Email</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Issued" aria-describedby="IssuedHelp" placeholder="" disabled value="{{.Issued}}">
                <label class="form-label" for="Issued">Issued</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Expiry" aria-describedby="ExpiryHelp" placeholder="" disabled value="{{.Expiry}}">
                <label class="form-label" for="Expiry">Expiry</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RoleType" aria-describedby="RoleTypeHelp" placeholder="" disabled value="{{.RoleType}}">
                <label class="form-label" for="RoleType">RoleType</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Brand" aria-describedby="BrandHelp" placeholder="" disabled value="{{.Brand}}">
                <label class="form-label" for="Brand">Brand</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled value="{{.SYSCreated}}">
                <label class="form-label" for="SYSCreated">SYSCreated</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSWho" aria-describedby="SYSWhoHelp" placeholder="" disabled value="{{.SYSWho}}">
                <label class="form-label" for="SYSWho">SYSWho</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSHost" aria-describedby="SYSHostHelp" placeholder="" disabled value="{{.SYSHost}}">
                <label class="form-label" for="SYSHost">SYSHost</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled value="{{.SYSUpdated}}">
                <label class="form-label" for="SYSUpdated">SYSUpdated</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled value="{{.SYSCreatedBy}}">
                <label class="form-label" for="SYSCreatedBy">SYSCreatedBy</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled value="{{.SYSCreatedHost}}">
                <label class="form-label" for="SYSCreatedHost">SYSCreatedHost</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled value="{{.SYSUpdatedBy}}">
                <label class="form-label" for="SYSUpdatedBy">SYSUpdatedBy</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled value="{{.SYSUpdatedHost}}">
                <label class="form-label" for="SYSUpdatedHost">SYSUpdatedHost</label>
              </div>
            </div>
        </div>
{{template "audit" .}}
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}