{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-tasks me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="POST">
                    <div class="btn-group">
                    <button type="submit" value="" class="btn btn-primary" formaction="/CustomerOnboardingNew" method="POST" title="Create a new Customer Onboarding Tool"><i class="fas fa-plus"></i>&nbsp;&nbsp;New</button>
                    <button id="export" type="button" class="btn btn-info"><i class="fas fa-file-csv" title="Export Customer Onboarding Tool as CSV"></i>&nbsp;&nbsp;Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Customer Onboarding Tool"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">ID</th>
                          <th class="text-center">CustomerName</th>
                          <th class="text-center">CustomerAddress</th>
                          <th class="text-center">CustomerBOLID</th>
                          <th class="text-center">CustomerFirmName</th>
                          <th class="text-center">CustomerType</th>
                          <th class="text-center">CustomerRDC</th>
                          <th class="text-center">CustomerSortCode</th>
                          <th class="text-center">CustomerGMClientNo</th>
                          <th class="text-center">CustomerDefaultBook</th>
                          <th class="text-center">CustomerRegion</th>
                          <th class="text-center">CustomerCategory</th>
                          <th class="text-center">CustomerTelephoneNo</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle">{{.ID}}</td>
                          <td class="align-middle">{{.CustomerName}}</td>
                          <td class="align-middle">{{.CustomerAddress}}</td>
                          <td class="align-middle">{{.CustomerBOLID}}</td>
                          <td class="align-middle">{{.CustomerFirmName}}</td>
                          <td class="align-middle">{{.CustomerType}}</td>
                          <td class="align-middle">{{.CustomerRDC}}</td>
                          <td class="align-middle">{{.CustomerSortCode}}</td>
                          <td class="align-middle">{{.CustomerGMClientNo}}</td>
                          <td class="align-middle">{{.CustomerDefaultBook}}</td>
                          <td class="align-middle">{{.CustomerRegion}}</td>
                          <td class="align-middle">{{.CustomerCategory}}</td>
                          <td class="align-middle">{{.CustomerTelephoneNo}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/CustomerOnboardingView?ID={{.ID}}" method="POST" title="View Customer Onboarding Tool"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning ms-2 btn-floating" formaction="/CustomerOnboardingEdit?ID={{.ID}}" method="POST" title="Edit Customer Onboarding Tool"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger ms-2 btn-floating" formaction="/CustomerOnboardingDelete?ID={{.ID}}" method="POST" title="Delete Customer Onboarding Tool"><i class="fas fa-trash"></i></button>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}