{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="POST">
                    <div class="btn-group">
                    
                    
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Data Loader"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          
                          <th class="text-center">Id</th>
                          <th class="text-center">Name</th>
                          <th class="text-center">Description</th>
                          <th class="text-center">Filename</th>
                          <th class="text-center">Lastrun</th>
                          
                          
                          
                          
                          <th class="text-center">Type</th>
                          <th class="text-center">Instance</th>
                          <th class="text-center">Extension</th>
                          
                          
                          
                          
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          
                          <td class="align-middle">{{.Id}}</td>
                          <td class="align-middle">{{.Name}}</td>
                          <td class="align-middle">{{.Description}}</td>
                          <td class="align-middle">{{.Filename}}</td>
                          <td class="align-middle">{{.Lastrun}}</td>
                          
                          
                          
                          
                          <td class="align-middle">{{.Type}}</td>
                          <td class="align-middle">{{.Instance}}</td>
                          <td class="align-middle">{{.Extension}}</td>
                          
                          
                          
                          
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <div class="btn-group">
                            <button type="submit" value="" class="btn btn-info" formaction="/DataLoaderView?Id={{.Id}}" method="POST" title="View Data Loader"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning" formaction="/DataLoaderEdit?Id={{.Id}}" method="POST" title="Edit Data Loader"><i class="fas fa-edit"></i></button>
                            
                            </div>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}

{{template "pagefooter" .}}