{{template "header" .}} {{template "bodydefinition" .}}
<form action="/DealAuditEventEdit?ID={{.InternalId}}" method="POST" class="form">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col h3">
                    <i class="fas fa-toolbox me-2"></i>{{.Title}}&nbsp;:&nbsp;<code>{{.InternalId}}</code>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Deal Audit History"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                        <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="DealRefNo" aria-describedby="DealRefNoHelp" placeholder="" disabled value="{{.DealRefNo}}">
                        <label class="form-label" for="DealRefNo">DealRefNo</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="EventIndex" aria-describedby="EventIndexHelp" placeholder="0" disabled value="{{.EventIndex}}">
                        <label class="form-label" for="EventIndex">EventIndex</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="CommonRefNo" aria-describedby="CommonRefNoHelp" placeholder="" disabled value="{{.CommonRefNo}}">
                        <label class="form-label" for="CommonRefNo">CommonRefNo</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="Timestamp" aria-describedby="TimestampHelp" placeholder="" disabled value="{{.Timestamp}}">
                        <label class="form-label" for="Timestamp">Timestamp</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="UTCTimestamp" aria-describedby="UTCTimestampHelp" placeholder="" disabled value="{{.UTCTimestamp}}">
                        <label class="form-label" for="UTCTimestamp">UTCTimestamp</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="EventType" aria-describedby="EventTypeHelp" placeholder="" disabled value="{{.EventType}}">
                        <label class="form-label" for="EventType">EventType</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="Status" aria-describedby="StatusHelp" placeholder="" disabled value="{{.Status}}">
                        <label class="form-label" for="Status">Status</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="LimitOrderStatus" aria-describedby="LimitOrderStatusHelp" placeholder="" disabled value="{{.LimitOrderStatus}}">
                        <label class="form-label" for="LimitOrderStatus">LimitOrderStatus</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="Usr" aria-describedby="UsrHelp" placeholder="" disabled value="{{.Usr}}">
                        <label class="form-label" for="Usr">Usr</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="DealingInterface" aria-describedby="DealingInterfaceHelp" placeholder="" disabled value="{{.DealingInterface}}">
                        <label class="form-label" for="DealingInterface">DealingInterface</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="SourceIP" aria-describedby="SourceIPHelp" placeholder="" disabled value="{{.SourceIP}}">
                        <label class="form-label" for="SourceIP">SourceIP</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="MessageID" aria-describedby="MessageIDHelp" placeholder="" disabled value="{{.MessageID}}">
                        <label class="form-label" for="MessageID">MessageID</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="Details" aria-describedby="DetailsHelp" placeholder="" disabled value="{{.Details}}">
                        <label class="form-label" for="Details">Details</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="InternalId" aria-describedby="InternalIdHelp" placeholder="0" disabled value="{{.InternalId}}">
                        <label class="form-label" for="InternalId">InternalId</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder="" disabled value="{{.InternalDeleted}}">
                        <label class="form-label" for="InternalDeleted">InternalDeleted</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder="" disabled value="{{.UpdatedTransactionId}}">
                        <label class="form-label" for="UpdatedTransactionId">UpdatedTransactionId</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled value="{{.UpdatedUserId}}">
                        <label class="form-label" for="UpdatedUserId">UpdatedUserId</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder="" disabled value="{{.UpdatedDateTime}}">
                        <label class="form-label" for="UpdatedDateTime">UpdatedDateTime</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder="" disabled value="{{.DeletedTransactionId}}">
                        <label class="form-label" for="DeletedTransactionId">DeletedTransactionId</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder="" disabled value="{{.DeletedUserId}}">
                        <label class="form-label" for="DeletedUserId">DeletedUserId</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="ChangeType" aria-describedby="ChangeTypeHelp" placeholder="" disabled value="{{.ChangeType}}">
                        <label class="form-label" for="ChangeType">ChangeType</label>
                    </div>
                
                </div>
            </div>
            
        </div>
        
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}