{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/DealTypeEdit?DealTypeKey={{.DealTypeKey}}" method="POST" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              {{.Title}}&nbsp;:&nbsp;<code>{{.DealTypeKey}}</code>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/DealTypeEdit/?DealTypeKey={{.DealTypeKey}}" onclick="/DealTypeEdit/?DealTypeKey={{.DealTypeKey}}" title="Edit Deal Type"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Deal Type"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DealTypeKey" aria-describedby="DealTypeKeyHelp" placeholder="" disabled value="{{.DealTypeKey}}">
                <label class="form-label" for="DealTypeKey">DealTypeKey</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DealTypeShortName" aria-describedby="DealTypeShortNameHelp" placeholder="" disabled value="{{.DealTypeShortName}}">
                <label class="form-label" for="DealTypeShortName">DealTypeShortName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="HostKey" aria-describedby="HostKeyHelp" placeholder="" disabled value="{{.HostKey}}">
                <label class="form-label" for="HostKey">HostKey</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="IsActive" aria-describedby="IsActiveHelp" placeholder="True" disabled value="{{.IsActive}}">
                <label class="form-label" for="IsActive">IsActive</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Interbook" aria-describedby="InterbookHelp" placeholder="True" disabled value="{{.Interbook}}">
                <label class="form-label" for="Interbook">Interbook</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BackOfficeLink" aria-describedby="BackOfficeLinkHelp" placeholder="True" disabled value="{{.BackOfficeLink}}">
                <label class="form-label" for="BackOfficeLink">BackOfficeLink</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="HasTicket" aria-describedby="HasTicketHelp" placeholder="True" disabled value="{{.HasTicket}}">
                <label class="form-label" for="HasTicket">HasTicket</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CurrencyOverride" aria-describedby="CurrencyOverrideHelp" placeholder="True" disabled value="{{.CurrencyOverride}}">
                <label class="form-label" for="CurrencyOverride">CurrencyOverride</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CurrencyHolderCurrency" aria-describedby="CurrencyHolderCurrencyHelp" placeholder="" disabled value="{{.CurrencyHolderCurrency}}">
                <label class="form-label" for="CurrencyHolderCurrency">CurrencyHolderCurrency</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="AllBooks" aria-describedby="AllBooksHelp" placeholder="True" disabled value="{{.AllBooks}}">
                <label class="form-label" for="AllBooks">AllBooks</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FundamentalDealTypeKey" aria-describedby="FundamentalDealTypeKeyHelp" placeholder="" disabled value="{{.FundamentalDealTypeKey}}">
                <label class="form-label" for="FundamentalDealTypeKey">FundamentalDealTypeKey</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RelatedDealType" aria-describedby="RelatedDealTypeHelp" placeholder="" disabled value="{{.RelatedDealType}}">
                <label class="form-label" for="RelatedDealType">RelatedDealType</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BookName" aria-describedby="BookNameHelp" placeholder="" disabled value="{{.BookName}}">
                <label class="form-label" for="BookName">BookName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ExportMethod" aria-describedby="ExportMethodHelp" placeholder="" disabled value="{{.ExportMethod}}">
                <label class="form-label" for="ExportMethod">ExportMethod</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DefaultUserLayoffBooks" aria-describedby="DefaultUserLayoffBooksHelp" placeholder="True" disabled value="{{.DefaultUserLayoffBooks}}">
                <label class="form-label" for="DefaultUserLayoffBooks">DefaultUserLayoffBooks</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RFQ" aria-describedby="RFQHelp" placeholder="True" disabled value="{{.RFQ}}">
                <label class="form-label" for="RFQ">RFQ</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="OBS" aria-describedby="OBSHelp" placeholder="True" disabled value="{{.OBS}}">
                <label class="form-label" for="OBS">OBS</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="KID" aria-describedby="KIDHelp" placeholder="True" disabled value="{{.KID}}">
                <label class="form-label" for="KID">KID</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="InternalId" aria-describedby="InternalIdHelp" placeholder="0" disabled value="{{.InternalId}}">
                <label class="form-label" for="InternalId">InternalId</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder="" disabled value="{{.InternalDeleted}}">
                <label class="form-label" for="InternalDeleted">InternalDeleted</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder="" disabled value="{{.UpdatedTransactionId}}">
                <label class="form-label" for="UpdatedTransactionId">UpdatedTransactionId</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled value="{{.UpdatedUserId}}">
                <label class="form-label" for="UpdatedUserId">UpdatedUserId</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder="" disabled value="{{.UpdatedDateTime}}">
                <label class="form-label" for="UpdatedDateTime">UpdatedDateTime</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder="" disabled value="{{.DeletedTransactionId}}">
                <label class="form-label" for="DeletedTransactionId">DeletedTransactionId</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder="" disabled value="{{.DeletedUserId}}">
                <label class="form-label" for="DeletedUserId">DeletedUserId</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ChangeType" aria-describedby="ChangeTypeHelp" placeholder="" disabled value="{{.ChangeType}}">
                <label class="form-label" for="ChangeType">ChangeType</label>
              </div>
            </div>
        </div>

      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}