{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="POST">
                    <div class="btn-group">
                    <button type="submit" value="" class="btn btn-primary" formaction="/DealingInterfaceNew" method="POST" title="Create a new Dealing Interface"><i class="fas fa-plus"></i>&nbsp;&nbsp;New</button>
                    <button id="export" type="button" class="btn btn-info"><i class="fas fa-file-csv" title="Export Dealing Interface as CSV"></i>&nbsp;&nbsp;Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Dealing Interface"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">Name</th>
                          <th class="text-center">AcceptReducedAmount</th>
                          <th class="text-center">QuoteAsIndicative</th>
                          <th class="text-center">RateTimeOut</th>
                          <th class="text-center">PropagationDelay</th>
                          <th class="text-center">CheckLiquidity</th>
                          <th class="text-center">ChangeQuoteDirection</th>
                          <th class="text-center">GenerateRejectedDeals</th>
                          <th class="text-center">SpotUpdatesForForwardQuotes</th>
                          <th class="text-center">SettlementInstructionStyle</th>
                          <th class="text-center">CanRetractQuotes</th>
                          <th class="text-center">CancelESPifNotPriced</th>
                          <th class="text-center">CancelRFQSifNotPriced</th>
                          <th class="text-center">CancelonDealingSuspended</th>
                          <th class="text-center">CreditCheckedatDI</th>
                          <th class="text-center">DuplicateCheckonExternalRef</th>
                          <th class="text-center">LimitCheckQuote</th>
                          <th class="text-center">LimitCheckonRFQDealSubmission</th>
                          <th class="text-center">ListenonLimits</th>
                          <th class="text-center">MarginStyle</th>
                          <th class="text-center">UseRerouteDefinitionOnly</th>
                          <th class="text-center">BypassConfirmation</th>
                          <th class="text-center">DIOnAcceptance</th>
                          <th class="text-center">IgnoreESPAmountRules</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle">{{.Name}}</td>
                          <td class="align-middle">{{.AcceptReducedAmount}}</td>
                          <td class="align-middle">{{.QuoteAsIndicative}}</td>
                          <td class="align-middle">{{.RateTimeOut}}</td>
                          <td class="align-middle">{{.PropagationDelay}}</td>
                          <td class="align-middle">{{.CheckLiquidity}}</td>
                          <td class="align-middle">{{.ChangeQuoteDirection}}</td>
                          <td class="align-middle">{{.GenerateRejectedDeals}}</td>
                          <td class="align-middle">{{.SpotUpdatesForForwardQuotes}}</td>
                          <td class="align-middle">{{.SettlementInstructionStyle}}</td>
                          <td class="align-middle">{{.CanRetractQuotes}}</td>
                          <td class="align-middle">{{.CancelESPifNotPriced}}</td>
                          <td class="align-middle">{{.CancelRFQSifNotPriced}}</td>
                          <td class="align-middle">{{.CancelonDealingSuspended}}</td>
                          <td class="align-middle">{{.CreditCheckedatDI}}</td>
                          <td class="align-middle">{{.DuplicateCheckonExternalRef}}</td>
                          <td class="align-middle">{{.LimitCheckQuote}}</td>
                          <td class="align-middle">{{.LimitCheckonRFQDealSubmission}}</td>
                          <td class="align-middle">{{.ListenonLimits}}</td>
                          <td class="align-middle">{{.MarginStyle}}</td>
                          <td class="align-middle">{{.UseRerouteDefinitionOnly}}</td>
                          <td class="align-middle">{{.BypassConfirmation}}</td>
                          <td class="align-middle">{{.DIOnAcceptance}}</td>
                          <td class="align-middle">{{.IgnoreESPAmountRules}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <div class="btn-group">
                            <button type="submit" value="" class="btn btn-info" formaction="/DealingInterfaceView?Name={{.Name}}" method="POST" title="View Dealing Interface"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning" formaction="/DealingInterfaceEdit?Name={{.Name}}" method="POST" title="Edit Dealing Interface"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger" formaction="/DealingInterfaceDelete?Name={{.Name}}" method="POST" title="Delete Dealing Interface"><i class="fas fa-trash"></i></button>
                            </div>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}