{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="POST">
                    <div class="btn-group">
                    
                    <button id="export" type="button" class="btn btn-info"><i class="fas fa-file-csv" title="Export ExternalMessage as CSV"></i>&nbsp;&nbsp;Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print ExternalMessage"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          
                          <th class="text-center">MessageID</th>
                          <th class="text-center">MessageFormat</th>
                          <th class="text-center">MessageDeliveredTo</th>
                          <th class="text-center">MessageBody</th>
                          <th class="text-center">MessageFilename</th>
                          <th class="text-center">MessageLife</th>
                          <th class="text-center">MessageDate</th>
                          <th class="text-center">MessageTime</th>
                          <th class="text-center">MessageTimeoutAction</th>
                          <th class="text-center">MessageACKNAK</th>
                          <th class="text-center">ResponseID</th>
                          <th class="text-center">ResponseFilename</th>
                          <th class="text-center">ResponseBody</th>
                          <th class="text-center">ResponseDate</th>
                          <th class="text-center">ResponseTime</th>
                          <th class="text-center">ResponseAdditionalInfo</th>
                          
                          
                          
                          
                          
                          
                          <th class="text-center">MessageTimeout</th>
                          <th class="text-center">MessageEmitted</th>
                          <th class="text-center">ResponseRecieved</th>
                          <th class="text-center">MessageClass</th>
                          <th class="text-center">AppID</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          
                          <td class="align-middle">{{.MessageID}}</td>
                          <td class="align-middle">{{.MessageFormat}}</td>
                          <td class="align-middle">{{.MessageDeliveredTo}}</td>
                          <td class="align-middle">{{.MessageBody}}</td>
                          <td class="align-middle">{{.MessageFilename}}</td>
                          <td class="align-middle">{{.MessageLife}}</td>
                          <td class="align-middle">{{.MessageDate}}</td>
                          <td class="align-middle">{{.MessageTime}}</td>
                          <td class="align-middle">{{.MessageTimeoutAction}}</td>
                          <td class="align-middle">{{.MessageACKNAK}}</td>
                          <td class="align-middle">{{.ResponseID}}</td>
                          <td class="align-middle">{{.ResponseFilename}}</td>
                          <td class="align-middle">{{.ResponseBody}}</td>
                          <td class="align-middle">{{.ResponseDate}}</td>
                          <td class="align-middle">{{.ResponseTime}}</td>
                          <td class="align-middle">{{.ResponseAdditionalInfo}}</td>
                          
                          
                          
                          
                          
                          
                          <td class="align-middle">{{.MessageTimeout}}</td>
                          <td class="align-middle">{{.MessageEmitted}}</td>
                          <td class="align-middle">{{.ResponseRecieved}}</td>
                          <td class="align-middle">{{.MessageClass}}</td>
                          <td class="align-middle">{{.AppID}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <div class="btn-group">
                            <button type="submit" value="" class="btn btn-info" formaction="/ExternalMessageView?MessageID={{.MessageID}}" method="POST" title="View ExternalMessage"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning" formaction="/ExternalMessageEdit?MessageID={{.MessageID}}" method="POST" title="Edit ExternalMessage"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger" formaction="/ExternalMessageDelete?MessageID={{.MessageID}}" method="POST" title="Delete ExternalMessage"><i class="fas fa-trash"></i></button>
                            </div>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}