{{template "header" .}} {{template "bodydefinition" .}}
<form action="/FirmEdit?FirmName={{.FirmName}}" method="POST" class="form">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col h3">
                    <i class="fas fa-city me-2"></i>{{.Title}}&nbsp;:&nbsp;<code>{{.FirmName}}</code>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/FirmEdit/?FirmName={{.FirmName}}" onclick="/FirmEdit/?FirmName={{.FirmName}}" title="Edit Firm"></i>&nbsp;&nbsp;Edit</button>                        
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Firm"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                        <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="FirmName" aria-describedby="FirmNameHelp" placeholder="" disabled value="{{.FirmName}}">
                        <label class="form-label" for="FirmName">FirmName</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                    <div class="form-outline">
                        <input type="text" class="form-control" id="FullName" aria-describedby="FullNameHelp" placeholder="" disabled value="{{.FullName}}">
                        <label class="form-label" for="FullName">FullName</label>
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                  <select id="Country" name="Country" class="select" data-mdb-filter="true" disabled>
                  {{range .Country_lookup}}<option value="{{.ID}}" {{if eq .ID $.Country}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Country" disabled>Country</label>
                
                </div>
            </div>
             
            <div class="row mb-3" >
                <div class="col">
                
                  <select id="Sector" name="Sector" class="select" data-mdb-filter="true" disabled>
                  {{range .Sector_lookup}}<option value="{{.ID}}" {{if eq .ID $.Sector}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Sector" disabled>Sector</label>
                
                </div>
            </div>
            
        </div>
        
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}