<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </script>
</head>

<body>
  <div class="container-fluid">
    <br>
    <div class="jumbotron">
      <h1>{{.Title}}</h1>
      <p>{{.Description}}</p>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Actions</div>
      <div class="panel-body">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#config">Configuration</button>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#responses">Responses <span class="badge">{{.NoResponses}}</span></button>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#servicesInfo">Services <span class="badge">{{.NoServices}}</span></button>
          <button type="button" class="btn btn-warning" onclick="location.href='/clearResponses'">Clear Responses</button>
          <button type="button" class="btn btn-danger" onclick="location.href='/clearQueues'">Clear Queues</button>

          <!-- <button type="submit" value="Save" class="btn btndefault">Save</button> -->
          <!--  <button type="submit" value="Edit" class="btn btn-default">Edit</button> -->
        </div>
      </div>
    </div>

    <div id="config" class="collapse">

      <div class="panel panel-default">
        <div class="panel-heading">Configuration</div>
        <div class="panel-body">

          <label for="requestPath">Request Path :</label>
          <input type="text" id="requestPath" name="requestPath" value="{{.RequestPath}}" disabled size="60" class="form-control">
          <br>
          <label for="responsePath">Response Path :</label>
          <input type="text" id="responsePath" name="responsePath" value="{{.ResponsePath}}" disabled size="60" class="form-control">
          <br>

          <label for="processedPath">Processed Path :</label>
          <input type="text" id="processedPath" name="processedPath" value="{{.ProcessedPath}}" disabled size="60" class="form-control">
          <br>

          <label for="responseType">Response Type Required :</label>
          <input type="text" id="responseType" name="responseType" value="{{.ResponseType}}" disabled size="60" class="form-control">

          <br>
          <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#config">Close</button>
        </div>
      </div>
    </div>

    <div id="responses" class="collapse">

      <div class="panel panel-default">
        <div class="panel-heading">Responses</div>
        <div class="panel-body">
          <label for="noResponses">No. Responses :</label>
          <input type="number" id="noResponses" name="noResponses" value="{{.NoResponses}}" disabled size="4" class="form-control">
          <br>
          <div class="well">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                {{range .Responses}}
                <tr>
                  <td class="align-middle">{{.ResponseID}}</td>
                  <td class="">
                    <form action="/viewResponse?uuid={{.ResponseID}}" method="POST">
                      <button type="submit" value="{{.ResponseID}}" class="btn btn-default btn-block"><span class="material-icons" style="color:blue">
                          visibility
                        </span></button>
                    </form>
                    <form action="/deleteResponse?responseID={{.ResponseID}}" method="POST">
                      <button type="submit" value="" class="btn btn-default btn-block"><span class="material-icons" style="color:blue">
                          delete_outline
                        </span>
                      </button>
                    </form>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>

            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#responses">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="servicesInfo" class="collapse">
      <div class="panel panel-default">
        <div class="panel-heading">Services</div>
        <div class="panel-body">
          <label for="noServices">No. Services Available :</label>
          <input type="number" id="noServices" name="noServices" value="{{.NoServices}}" disabled size="4" class="form-control">
          <br>
          <label for="services">Services :</label>
          <div class="well">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th>Description</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                {{range .ServiceCatalog}}
                <tr>
                  <td class="align-middle">{{.CatalogID}}</td>
                  <td class="align-middle">{{.Text}}</td>
                  <td class="">
                    <form action="/executeRequest?id={{.CatalogID}}&uuid={{.UUID}}&action={{.Action}}&item={{.Item}}&parameters={{.Parameters}}" method="POST">
                      <button type="submit" value="{{.CatalogID}}" class="btn btn-default btn-block"><span class="material-icons" style="color:blue">
                          launch
                        </span></button>
                    </form>
                    <form action="/previewRequest?id={{.CatalogID}}" method="POST">
                      <button type="submit" value="{{.CatalogID}}" class="btn btn-default btn-block"><span class="material-icons" style="color:blue">
                          visibility
                        </span></button>
                    </form>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#servicesInfo">Close</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</body>
