<head>
  <!-- START OF INSERTS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <!-- FAVICON BUMPF -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#322a77">
  <meta name="msapplication-TileColor" content="#322a77">
  <meta name="theme-color" content="#ffffff">
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  <!-- Add CUSTOM ICONS, FONTS & STYLES -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/custom.css">
  <script src="../assets/custom.js"></script>
  <script defer="defer" src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
  </link>
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <!-- END OF INSERTS -->
  <!-- ADDITION STYLES IN SPECIFIC INSTANCES -->
  <title>{{.Title}}&nbsp;[{{.PageTitle}}]</title>
</head>
<body>

  <!-- DO NOT CHANGE - APP USES CENTRAL NAVIGATION -->
  <div class="row nav-row">
    <span onclick="openNav()"><i class="fas fa-atom fa-2x hamburger" style="padding:0;margin-left:.5rem;margin-right:.5rem"></i></span>
    <div class="nav-title"><a href="" onclick="/home/" class="nav-title">{{.PageTitle}}</a></div>
  </div>
  <div id="mySidenav" class="sidenav">
  <div class="nav-tile">{{ (index .UserMenu 0).MenuHeaderText}}</div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{range .UserMenu}}
    <a class="" href="{{.MenuHREF}}" onclick="{{.MenuOnClick}}">
      <div class="row">
        <div class="dd-img">
          <i class="{{.MenuGlyph}} {{.MenuTextClass}}"></i>
        </div>
        <div class="dd-text {{.MenuTextClass}}">{{.MenuText}}</div>
      </div>
    </a>
    {{end}}
    </div>
  <!-- DO NOT CHANGE -->

  <div class="container-fluid">
    <form action="/MandateSave?Mandate={{.FirmName}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              Mandate&nbsp;:&nbsp;<code>{{.FirmName}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/MandateSave&Mandate={{.FirmName}}" onclick="/MandateSave/?Mandate={{.FirmName}}"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-outline-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyCounterpartyFirm" >MandatedUserKeyCounterpartyFirm</label>
                <input type="text" class="form-control" id="MandatedUserKeyCounterpartyFirm" name="MandatedUserKeyCounterpartyFirm" aria-describedby="MandatedUserKeyCounterpartyFirmHelp" placeholder=""  value="{{.MandatedUserKeyCounterpartyFirm}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyCounterpartyCentre" >MandatedUserKeyCounterpartyCentre</label>
                <input type="text" class="form-control" id="MandatedUserKeyCounterpartyCentre" name="MandatedUserKeyCounterpartyCentre" aria-describedby="MandatedUserKeyCounterpartyCentreHelp" placeholder=""  value="{{.MandatedUserKeyCounterpartyCentre}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyUserName" >MandatedUserKeyUserName</label>
                <input type="text" class="form-control" id="MandatedUserKeyUserName" name="MandatedUserKeyUserName" aria-describedby="MandatedUserKeyUserNameHelp" placeholder=""  value="{{.MandatedUserKeyUserName}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TelephoneNumber" >TelephoneNumber</label>
                <input type="text" class="form-control" id="TelephoneNumber" name="TelephoneNumber" aria-describedby="TelephoneNumberHelp" placeholder=""  value="{{.TelephoneNumber}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EmailAddress" >EmailAddress</label>
                <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" aria-describedby="EmailAddressHelp" placeholder=""  value="{{.EmailAddress}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Active" >Active</label>
                <input type="text" class="form-control" id="Active" name="Active" aria-describedby="ActiveHelp" placeholder="True"  value="{{.Active}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FirstName" >FirstName</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" aria-describedby="FirstNameHelp" placeholder=""  value="{{.FirstName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Surname" >Surname</label>
                <input type="text" class="form-control" id="Surname" name="Surname" aria-describedby="SurnameHelp" placeholder=""  value="{{.Surname}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DateOfBirth" >DateOfBirth</label>
                <input type="text" class="form-control" id="DateOfBirth" name="DateOfBirth" aria-describedby="DateOfBirthHelp" placeholder=""  value="{{.DateOfBirth}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Postcode" >Postcode</label>
                <input type="text" class="form-control" id="Postcode" name="Postcode" aria-describedby="PostcodeHelp" placeholder=""  value="{{.Postcode}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NationalIDNo" >NationalIDNo</label>
                <input type="text" class="form-control" id="NationalIDNo" name="NationalIDNo" aria-describedby="NationalIDNoHelp" placeholder=""  value="{{.NationalIDNo}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PassportNo" >PassportNo</label>
                <input type="text" class="form-control" id="PassportNo" name="PassportNo" aria-describedby="PassportNoHelp" placeholder=""  value="{{.PassportNo}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Country" >Country</label>
                <input type="text" class="form-control" id="Country" name="Country" aria-describedby="CountryHelp" placeholder=""  value="{{.Country}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CountryName" >CountryName</label>
                <input type="text" class="form-control" id="CountryName" name="CountryName" aria-describedby="CountryNameHelp" placeholder=""  value="{{.CountryName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FirmName" >FirmName</label>
                <input type="text" class="form-control" id="FirmName" name="FirmName" aria-describedby="FirmNameHelp" placeholder=""  value="{{.FirmName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CentreName" >CentreName</label>
                <input type="text" class="form-control" id="CentreName" name="CentreName" aria-describedby="CentreNameHelp" placeholder=""  value="{{.CentreName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Notify" >Notify</label>
                <input type="text" class="form-control" id="Notify" name="Notify" aria-describedby="NotifyHelp" placeholder="True"  value="{{.Notify}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SystemUser" >SystemUser</label>
                <input type="text" class="form-control" id="SystemUser" name="SystemUser" aria-describedby="SystemUserHelp" placeholder=""  value="{{.SystemUser}}" >
              </div>
            </div>

             <div class="row">
              <div class="col-sm">
                <label for="Country_Impl" >Country_Impl</label>
                <select id="Country_Impl" name="Country_Impl" class="form-control"><option name="!{{.Country_Impl}}" selected>{{.Country_Impl}}</option>{{range .Country_Imple_List}}<option name="{{.Code}}">{{.Name}}</option>{{end}}</select>
              </div>
            </div>
             <div class="row">
              <div class="col-sm">
                <label for="Firm_Impl" >Firm_Impl</label>
                <select id="Firm_Impl" name="Firm_Impl" class="form-control"><option name="!{{.Firm_Impl}}" selected>{{.Firm_Impl}}</option>{{range .Firm_Imple_List}}<option name="{{.FirmName}}">{{.FullName}}</option>{{end}}</select>
              </div>
            </div>
             <div class="row">
              <div class="col-sm">
                <label for="Centre_Impl" >Centre_Impl</label>
                <select id="Centre_Impl" name="Centre_Impl" class="form-control"><option name="!{{.Centre_Impl}}" selected>{{.Centre_Impl}}</option>{{range .Centre_Imple_List}}<option name="{{.Code}}">{{.Name}}</option>{{end}}</select>
              </div>
            </div>
     
        </div>
      </div>
    </form>
  </div>
</body>
