{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-wallet me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="POST">
                    <div class="btn-group">
                    
                    <button id="export" type="button" class="btn btn-info"><i class="fas fa-file-csv" title="Export Payee as CSV"></i>&nbsp;&nbsp;Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Payee"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">SourceTable</th>
                          <th class="text-center">KeyCounterpartyFirm</th>
                          <th class="text-center">KeyCounterpartyCentre</th>
                          <th class="text-center">KeyCurrency</th>
                          <th class="text-center">KeyName</th>
                          <th class="text-center">KeyNumber</th>
                          <th class="text-center">KeyDirection</th>
                          <th class="text-center">KeyType</th>
                          <th class="text-center">FullName</th>
                          <th class="text-center">Address</th>
                          <th class="text-center">PhoneNo</th>
                          <th class="text-center">Country</th>
                          <th class="text-center">Bic</th>
                          <th class="text-center">Iban</th>
                          <th class="text-center">AccountNo</th>
                          <th class="text-center">FedWireNo</th>
                          <th class="text-center">SortCode</th>
                          <th class="text-center">BankName</th>
                          <th class="text-center">BankPinCode</th>
                          <th class="text-center">BankAddress</th>
                          <th class="text-center">Reason</th>
                          <th class="text-center">BankSettlementAcct</th>
                          <th class="text-center">UpdatedUserId</th>
                          <th class="text-center">Status</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle">{{.SourceTable}}</td>
                          <td class="align-middle">{{.KeyCounterpartyFirm}}</td>
                          <td class="align-middle">{{.KeyCounterpartyCentre}}</td>
                          <td class="align-middle">{{.KeyCurrency}}</td>
                          <td class="align-middle">{{.KeyName}}</td>
                          <td class="align-middle">{{.KeyNumber}}</td>
                          <td class="align-middle">{{.KeyDirection}}</td>
                          <td class="align-middle">{{.KeyType}}</td>
                          <td class="align-middle">{{.FullName}}</td>
                          <td class="align-middle">{{.Address}}</td>
                          <td class="align-middle">{{.PhoneNo}}</td>
                          <td class="align-middle">{{.Country}}</td>
                          <td class="align-middle">{{.Bic}}</td>
                          <td class="align-middle">{{.Iban}}</td>
                          <td class="align-middle">{{.AccountNo}}</td>
                          <td class="align-middle">{{.FedWireNo}}</td>
                          <td class="align-middle">{{.SortCode}}</td>
                          <td class="align-middle">{{.BankName}}</td>
                          <td class="align-middle">{{.BankPinCode}}</td>
                          <td class="align-middle">{{.BankAddress}}</td>
                          <td class="align-middle">{{.Reason}}</td>
                          <td class="align-middle">{{.BankSettlementAcct}}</td>
                          <td class="align-middle">{{.UpdatedUserId}}</td>
                          <td class="align-middle">{{.Status}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/PayeeView?ID={{.KeyCounterpartyFirm}}" method="POST" title="View Payee"><i class="far fa-eye"></i></button>
                            
                            
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}