{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/SimulatorSWIFTSave/" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3"><i class="fas fa-globe me-2"></i>{{.Title}}</div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/SimulatorSWIFTSave/" onclick="/SimulatorSWIFTSave/" title="Save SWIFT Simulator"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print SWIFT Simulator"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row mb-3">
              <div class="form-outline">
                <input type="text" class="form-control" id="ID" name="ID" aria-describedby="IDHelp" placeholder=""  value="{{.ID}}" required>
                <label class="form-label" for="ID" >ID</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-outline">
                <input type="text" class="form-control" id="FileName" name="FileName" aria-describedby="FileNameHelp" placeholder=""  value="{{.FileName}}" required>
                <label class="form-label" for="FileName" >FileName</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-outline">
                <input type="text" class="form-control" id="MessageRaw" name="MessageRaw" aria-describedby="MessageRawHelp" placeholder=""  value="{{.MessageRaw}}" >
                <label class="form-label" for="MessageRaw" >MessageRaw</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-outline">
                <input type="text" class="form-control" id="MessageFmt" name="MessageFmt" aria-describedby="MessageFmtHelp" placeholder=""  value="{{.MessageFmt}}" >
                <label class="form-label" for="MessageFmt" >MessageFmt</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-outline">
                <input type="text" class="form-control" id="Action" name="Action" aria-describedby="ActionHelp" placeholder=""  value="{{.Action}}" >
                <label class="form-label" for="Action" >Action</label>
              </div>
            </div>

             <div class="row mb-3">
              
                
                <input type="text" class="form-control" id="MessageFmt" name="MessageFmt" aria-describedby="MessageFmtHelp" placeholder="" disabled value="{{.MessageFmt}}" >
                
                <label class="form-label select-label" for="MessageFmt"}>MessageFmt</label>
      
            </div>
     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}