{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/SimulatorSWIFTEdit?ID={{.ID}}" method="POST" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              <i class="fas fa-globe me-2"></i>{{.Title}}&nbsp;:&nbsp;<code>{{.ID}}</code>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/SimulatorSWIFTEdit/?ID={{.ID}}" onclick="/SimulatorSWIFTEdit/?ID={{.ID}}" title="Edit SWIFT Simulator"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print SWIFT Simulator"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ID" aria-describedby="IDHelp" placeholder="" disabled value="{{.ID}}">
                <label class="form-label" for="ID">ID</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FileName" aria-describedby="FileNameHelp" placeholder="" disabled value="{{.FileName}}">
                <label class="form-label" for="FileName">FileName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MessageRaw" aria-describedby="MessageRawHelp" placeholder="" disabled value="{{.MessageRaw}}">
                <label class="form-label" for="MessageRaw">MessageRaw</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MessageFmt" aria-describedby="MessageFmtHelp" placeholder="" disabled value="{{.MessageFmt}}">
                <label class="form-label" for="MessageFmt">MessageFmt</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Action" aria-describedby="ActionHelp" placeholder="" disabled value="{{.Action}}">
                <label class="form-label" for="Action">Action</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MessageFmt" aria-describedby="MessageFmtHelp" placeholder="" disabled value="{{.MessageFmt}}">
                <label class="form-label" for="MessageFmt">MessageFmt</label>
              </div>
            </div>
        </div>

      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}