{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/TmplSave/" method="GET" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3"><i class="fas fa-poo me-2"></i>{{.Title}}</div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/TmplSave/" onclick="/TmplSave/" title="Save Template Contents"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Template Contents"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row mb-3" hidden><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden value="new" required>
                <label class="form-label" for="SYSId" hidden>SYSId</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                  <select id="FIELD1" name="FIELD1" class="select" data-mdb-filter="true"  >
                  {{range .FIELD1_lookup}}<option value="{{.ID}}" {{if eq .ID $.FIELD1}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="FIELD1" >FIELD1</label>
                
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                  <select id="FIELD2" name="FIELD2" class="select" data-mdb-filter="true"  >
                  {{range .FIELD2_lookup}}<option value="{{.ID}}" {{if eq .ID $.FIELD2}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="FIELD2" >FIELD2</label>
                
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder=""  value="{{.SYSCreated}}" >
                <label class="form-label" for="SYSCreated" >SYSCreated</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" hidden><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden value="{{.SYSCreatedBy}}" >
                <label class="form-label" for="SYSCreatedBy" hidden>SYSCreatedBy</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" hidden><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden value="{{.SYSCreatedHost}}" >
                <label class="form-label" for="SYSCreatedHost" hidden>SYSCreatedHost</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" hidden><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden value="{{.SYSUpdated}}" >
                <label class="form-label" for="SYSUpdated" hidden>SYSUpdated</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" hidden><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden value="{{.SYSUpdatedHost}}" >
                <label class="form-label" for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" hidden><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden value="{{.SYSUpdatedBy}}" >
                <label class="form-label" for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="ID" name="ID" aria-describedby="IDHelp" placeholder=""  value="{{.ID}}" required>
                <label class="form-label" for="ID" >ID</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="ExtraField" name="ExtraField" aria-describedby="ExtraFieldHelp" placeholder=""  value="{{.ExtraField}}" >
                <label class="form-label" for="ExtraField" >ExtraField</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="ExtraField2" name="ExtraField2" aria-describedby="ExtraField2Help" placeholder="Hummous"  value="{{.ExtraField2}}" >
                <label class="form-label" for="ExtraField2" >ExtraField2</label>
                    </div>
                    
        

            </div></div>
            <div class="row mb-3" ><div class="col">
        
         
                    <div class="form-outline">
                           <input type="text" class="form-control" id="ExtraField3" name="ExtraField3" aria-describedby="ExtraField3Help" placeholder=""  value="{{.ExtraField3}}" >
                <label class="form-label" for="ExtraField3" >ExtraField3</label>
                    </div>
                    
        

            </div></div>

            
              
                

            
              
                

            
              
                

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}