{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/TransactionEdit?Ref={{.SienaReference}}" method="POST" class="form">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col h3">
              {{.Title}}&nbsp;:&nbsp;<code>{{.SienaReference}}</code>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Transaction"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SienaReference" aria-describedby="SienaReferenceHelp" placeholder="" disabled value="{{.SienaReference}}">
                <label class="form-label" for="SienaReference">SienaReference</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Status" aria-describedby="StatusHelp" placeholder="" disabled value="{{.Status}}">
                <label class="form-label" for="Status">Status</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ValueDate" aria-describedby="ValueDateHelp" placeholder="" disabled value="{{.ValueDate}}">
                <label class="form-label" for="ValueDate">ValueDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MaturityDate" aria-describedby="MaturityDateHelp" placeholder="" disabled value="{{.MaturityDate}}">
                <label class="form-label" for="MaturityDate">MaturityDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ContractNumber" aria-describedby="ContractNumberHelp" placeholder="" disabled value="{{.ContractNumber}}">
                <label class="form-label" for="ContractNumber">ContractNumber</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ExternalReference" aria-describedby="ExternalReferenceHelp" placeholder="" disabled value="{{.ExternalReference}}">
                <label class="form-label" for="ExternalReference">ExternalReference</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Book" aria-describedby="BookHelp" placeholder="" disabled value="{{.Book}}">
                <label class="form-label" for="Book">Book</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MandatedUser" aria-describedby="MandatedUserHelp" placeholder="" disabled value="{{.MandatedUser}}">
                <label class="form-label" for="MandatedUser">MandatedUser</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Portfolio" aria-describedby="PortfolioHelp" placeholder="" disabled value="{{.Portfolio}}">
                <label class="form-label" for="Portfolio">Portfolio</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="AgreementId" aria-describedby="AgreementIdHelp" placeholder="0" disabled value="{{.AgreementId}}">
                <label class="form-label" for="AgreementId">AgreementId</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BackOfficeRefNo" aria-describedby="BackOfficeRefNoHelp" placeholder="" disabled value="{{.BackOfficeRefNo}}">
                <label class="form-label" for="BackOfficeRefNo">BackOfficeRefNo</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ISIN" aria-describedby="ISINHelp" placeholder="" disabled value="{{.ISIN}}">
                <label class="form-label" for="ISIN">ISIN</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="UTI" aria-describedby="UTIHelp" placeholder="" disabled value="{{.UTI}}">
                <label class="form-label" for="UTI">UTI</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BookName" aria-describedby="BookNameHelp" placeholder="" disabled value="{{.BookName}}">
                <label class="form-label" for="BookName">BookName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Centre" aria-describedby="CentreHelp" placeholder="" disabled value="{{.Centre}}">
                <label class="form-label" for="Centre">Centre</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Firm" aria-describedby="FirmHelp" placeholder="" disabled value="{{.Firm}}">
                <label class="form-label" for="Firm">Firm</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DealTypeShortName" aria-describedby="DealTypeShortNameHelp" placeholder="" disabled value="{{.DealTypeShortName}}">
                <label class="form-label" for="DealTypeShortName">DealTypeShortName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FullDealType" aria-describedby="FullDealTypeHelp" placeholder="" disabled value="{{.FullDealType}}">
                <label class="form-label" for="FullDealType">FullDealType</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="TradeDate" aria-describedby="TradeDateHelp" placeholder="" disabled value="{{.TradeDate}}">
                <label class="form-label" for="TradeDate">TradeDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DealtCcy" aria-describedby="DealtCcyHelp" placeholder="" disabled value="{{.DealtCcy}}">
                <label class="form-label" for="DealtCcy">DealtCcy</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DealtAmount" aria-describedby="DealtAmountHelp" placeholder="0.00" disabled value="{{.DealtAmount}}">
                <label class="form-label" for="DealtAmount">DealtAmount</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="AgainstAmount" aria-describedby="AgainstAmountHelp" placeholder="0.00" disabled value="{{.AgainstAmount}}">
                <label class="form-label" for="AgainstAmount">AgainstAmount</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="AgainstCcy" aria-describedby="AgainstCcyHelp" placeholder="" disabled value="{{.AgainstCcy}}">
                <label class="form-label" for="AgainstCcy">AgainstCcy</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="AllInRate" aria-describedby="AllInRateHelp" placeholder="0.00" disabled value="{{.AllInRate}}">
                <label class="form-label" for="AllInRate">AllInRate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MktRate" aria-describedby="MktRateHelp" placeholder="0.00" disabled value="{{.MktRate}}">
                <label class="form-label" for="MktRate">MktRate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SettleCcy" aria-describedby="SettleCcyHelp" placeholder="" disabled value="{{.SettleCcy}}">
                <label class="form-label" for="SettleCcy">SettleCcy</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Direction" aria-describedby="DirectionHelp" placeholder="" disabled value="{{.Direction}}">
                <label class="form-label" for="Direction">Direction</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NpvRate" aria-describedby="NpvRateHelp" placeholder="0.00" disabled value="{{.NpvRate}}">
                <label class="form-label" for="NpvRate">NpvRate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="OriginUser" aria-describedby="OriginUserHelp" placeholder="" disabled value="{{.OriginUser}}">
                <label class="form-label" for="OriginUser">OriginUser</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PayInstruction" aria-describedby="PayInstructionHelp" placeholder="" disabled value="{{.PayInstruction}}">
                <label class="form-label" for="PayInstruction">PayInstruction</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ReceiptInstruction" aria-describedby="ReceiptInstructionHelp" placeholder="" disabled value="{{.ReceiptInstruction}}">
                <label class="form-label" for="ReceiptInstruction">ReceiptInstruction</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NIName" aria-describedby="NINameHelp" placeholder="" disabled value="{{.NIName}}">
                <label class="form-label" for="NIName">NIName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CCYPair" aria-describedby="CCYPairHelp" placeholder="" disabled value="{{.CCYPair}}">
                <label class="form-label" for="CCYPair">CCYPair</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Instrument" aria-describedby="InstrumentHelp" placeholder="" disabled value="{{.Instrument}}">
                <label class="form-label" for="Instrument">Instrument</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PortfolioName" aria-describedby="PortfolioNameHelp" placeholder="" disabled value="{{.PortfolioName}}">
                <label class="form-label" for="PortfolioName">PortfolioName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RVDate" aria-describedby="RVDateHelp" placeholder="" disabled value="{{.RVDate}}">
                <label class="form-label" for="RVDate">RVDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RVMTM" aria-describedby="RVMTMHelp" placeholder="0.00" disabled value="{{.RVMTM}}">
                <label class="form-label" for="RVMTM">RVMTM</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CounterBook" aria-describedby="CounterBookHelp" placeholder="" disabled value="{{.CounterBook}}">
                <label class="form-label" for="CounterBook">CounterBook</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CounterBookName" aria-describedby="CounterBookNameHelp" placeholder="" disabled value="{{.CounterBookName}}">
                <label class="form-label" for="CounterBookName">CounterBookName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Party" aria-describedby="PartyHelp" placeholder="" disabled value="{{.Party}}">
                <label class="form-label" for="Party">Party</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PartyName" aria-describedby="PartyNameHelp" placeholder="" disabled value="{{.PartyName}}">
                <label class="form-label" for="PartyName">PartyName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NameCentre" aria-describedby="NameCentreHelp" placeholder="" disabled value="{{.NameCentre}}">
                <label class="form-label" for="NameCentre">NameCentre</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NameFirm" aria-describedby="NameFirmHelp" placeholder="" disabled value="{{.NameFirm}}">
                <label class="form-label" for="NameFirm">NameFirm</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CustomerExternalView" aria-describedby="CustomerExternalViewHelp" placeholder="" disabled value="{{.CustomerExternalView}}">
                <label class="form-label" for="CustomerExternalView">CustomerExternalView</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CustomerSienaView" aria-describedby="CustomerSienaViewHelp" placeholder="" disabled value="{{.CustomerSienaView}}">
                <label class="form-label" for="CustomerSienaView">CustomerSienaView</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled value="{{.CompID}}">
                <label class="form-label" for="CompID">CompID</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SienaDealer" aria-describedby="SienaDealerHelp" placeholder="" disabled value="{{.SienaDealer}}">
                <label class="form-label" for="SienaDealer">SienaDealer</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DealOwner" aria-describedby="DealOwnerHelp" placeholder="" disabled value="{{.DealOwner}}">
                <label class="form-label" for="DealOwner">DealOwner</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DealOwnerMnemonic" aria-describedby="DealOwnerMnemonicHelp" placeholder="" disabled value="{{.DealOwnerMnemonic}}">
                <label class="form-label" for="DealOwnerMnemonic">DealOwnerMnemonic</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="EditedByUser" aria-describedby="EditedByUserHelp" placeholder="" disabled value="{{.EditedByUser}}">
                <label class="form-label" for="EditedByUser">EditedByUser</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="UTCOriginTime" aria-describedby="UTCOriginTimeHelp" placeholder="" disabled value="{{.UTCOriginTime}}">
                <label class="form-label" for="UTCOriginTime">UTCOriginTime</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="UTCUpdateTime" aria-describedby="UTCUpdateTimeHelp" placeholder="" disabled value="{{.UTCUpdateTime}}">
                <label class="form-label" for="UTCUpdateTime">UTCUpdateTime</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MarginTrading" aria-describedby="MarginTradingHelp" placeholder="True" disabled value="{{.MarginTrading}}">
                <label class="form-label" for="MarginTrading">MarginTrading</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SwapPoints" aria-describedby="SwapPointsHelp" placeholder="0.00" disabled value="{{.SwapPoints}}">
                <label class="form-label" for="SwapPoints">SwapPoints</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SpotDate" aria-describedby="SpotDateHelp" placeholder="" disabled value="{{.SpotDate}}">
                <label class="form-label" for="SpotDate">SpotDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SpotRate" aria-describedby="SpotRateHelp" placeholder="0.00" disabled value="{{.SpotRate}}">
                <label class="form-label" for="SpotRate">SpotRate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="MktSpotRate" aria-describedby="MktSpotRateHelp" placeholder="0.00" disabled value="{{.MktSpotRate}}">
                <label class="form-label" for="MktSpotRate">MktSpotRate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SpotSalesMargin" aria-describedby="SpotSalesMarginHelp" placeholder="0.00" disabled value="{{.SpotSalesMargin}}">
                <label class="form-label" for="SpotSalesMargin">SpotSalesMargin</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SpotChlMargin" aria-describedby="SpotChlMarginHelp" placeholder="0.00" disabled value="{{.SpotChlMargin}}">
                <label class="form-label" for="SpotChlMargin">SpotChlMargin</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RerouteCcy" aria-describedby="RerouteCcyHelp" placeholder="" disabled value="{{.RerouteCcy}}">
                <label class="form-label" for="RerouteCcy">RerouteCcy</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CustomerPayInstruction" aria-describedby="CustomerPayInstructionHelp" placeholder="" disabled value="{{.CustomerPayInstruction}}">
                <label class="form-label" for="CustomerPayInstruction">CustomerPayInstruction</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CustomerReceiptInstruction" aria-describedby="CustomerReceiptInstructionHelp" placeholder="" disabled value="{{.CustomerReceiptInstruction}}">
                <label class="form-label" for="CustomerReceiptInstruction">CustomerReceiptInstruction</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BackOfficeNotes" aria-describedby="BackOfficeNotesHelp" placeholder="" disabled value="{{.BackOfficeNotes}}">
                <label class="form-label" for="BackOfficeNotes">BackOfficeNotes</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CustomerStatementNotes" aria-describedby="CustomerStatementNotesHelp" placeholder="" disabled value="{{.CustomerStatementNotes}}">
                <label class="form-label" for="CustomerStatementNotes">CustomerStatementNotes</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NotesMargin" aria-describedby="NotesMarginHelp" placeholder="0.00" disabled value="{{.NotesMargin}}">
                <label class="form-label" for="NotesMargin">NotesMargin</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RequestedBy" aria-describedby="RequestedByHelp" placeholder="" disabled value="{{.RequestedBy}}">
                <label class="form-label" for="RequestedBy">RequestedBy</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="EditReason" aria-describedby="EditReasonHelp" placeholder="" disabled value="{{.EditReason}}">
                <label class="form-label" for="EditReason">EditReason</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="EditOtherReason" aria-describedby="EditOtherReasonHelp" placeholder="" disabled value="{{.EditOtherReason}}">
                <label class="form-label" for="EditOtherReason">EditOtherReason</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NICleanPrice" aria-describedby="NICleanPriceHelp" placeholder="0.00" disabled value="{{.NICleanPrice}}">
                <label class="form-label" for="NICleanPrice">NICleanPrice</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NIDirtyPrice" aria-describedby="NIDirtyPriceHelp" placeholder="0.00" disabled value="{{.NIDirtyPrice}}">
                <label class="form-label" for="NIDirtyPrice">NIDirtyPrice</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NIYield" aria-describedby="NIYieldHelp" placeholder="0.00" disabled value="{{.NIYield}}">
                <label class="form-label" for="NIYield">NIYield</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NIClearingSystem" aria-describedby="NIClearingSystemHelp" placeholder="" disabled value="{{.NIClearingSystem}}">
                <label class="form-label" for="NIClearingSystem">NIClearingSystem</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Acceptor" aria-describedby="AcceptorHelp" placeholder="" disabled value="{{.Acceptor}}">
                <label class="form-label" for="Acceptor">Acceptor</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="NIDiscount" aria-describedby="NIDiscountHelp" placeholder="0.00" disabled value="{{.NIDiscount}}">
                <label class="form-label" for="NIDiscount">NIDiscount</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FastPay" aria-describedby="FastPayHelp" placeholder="True" disabled value="{{.FastPay}}">
                <label class="form-label" for="FastPay">FastPay</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PaymentFee" aria-describedby="PaymentFeeHelp" placeholder="0.00" disabled value="{{.PaymentFee}}">
                <label class="form-label" for="PaymentFee">PaymentFee</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PaymentFeePolicy" aria-describedby="PaymentFeePolicyHelp" placeholder="" disabled value="{{.PaymentFeePolicy}}">
                <label class="form-label" for="PaymentFeePolicy">PaymentFeePolicy</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PaymentReason" aria-describedby="PaymentReasonHelp" placeholder="" disabled value="{{.PaymentReason}}">
                <label class="form-label" for="PaymentReason">PaymentReason</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PaymentDate" aria-describedby="PaymentDateHelp" placeholder="" disabled value="{{.PaymentDate}}">
                <label class="form-label" for="PaymentDate">PaymentDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SettlementDate" aria-describedby="SettlementDateHelp" placeholder="" disabled value="{{.SettlementDate}}">
                <label class="form-label" for="SettlementDate">SettlementDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FixingDate" aria-describedby="FixingDateHelp" placeholder="" disabled value="{{.FixingDate}}">
                <label class="form-label" for="FixingDate">FixingDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="VenueUTI" aria-describedby="VenueUTIHelp" placeholder="" disabled value="{{.VenueUTI}}">
                <label class="form-label" for="VenueUTI">VenueUTI</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="EditVersion" aria-describedby="EditVersionHelp" placeholder="0" disabled value="{{.EditVersion}}">
                <label class="form-label" for="EditVersion">EditVersion</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BrokeragePercentage" aria-describedby="BrokeragePercentageHelp" placeholder="0.00" disabled value="{{.BrokeragePercentage}}">
                <label class="form-label" for="BrokeragePercentage">BrokeragePercentage</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BrokerageAmount" aria-describedby="BrokerageAmountHelp" placeholder="0.00" disabled value="{{.BrokerageAmount}}">
                <label class="form-label" for="BrokerageAmount">BrokerageAmount</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BrokerageCurrency" aria-describedby="BrokerageCurrencyHelp" placeholder="" disabled value="{{.BrokerageCurrency}}">
                <label class="form-label" for="BrokerageCurrency">BrokerageCurrency</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="BrokerageDate" aria-describedby="BrokerageDateHelp" placeholder="" disabled value="{{.BrokerageDate}}">
                <label class="form-label" for="BrokerageDate">BrokerageDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="AccountName" aria-describedby="AccountNameHelp" placeholder="" disabled value="{{.AccountName}}">
                <label class="form-label" for="AccountName">AccountName</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="AccountNumber" aria-describedby="AccountNumberHelp" placeholder="" disabled value="{{.AccountNumber}}">
                <label class="form-label" for="AccountNumber">AccountNumber</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CashBalance" aria-describedby="CashBalanceHelp" placeholder="0.00" disabled value="{{.CashBalance}}">
                <label class="form-label" for="CashBalance">CashBalance</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="DebitFrequency" aria-describedby="DebitFrequencyHelp" placeholder="" disabled value="{{.DebitFrequency}}">
                <label class="form-label" for="DebitFrequency">DebitFrequency</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="CreditFrequency" aria-describedby="CreditFrequencyHelp" placeholder="" disabled value="{{.CreditFrequency}}">
                <label class="form-label" for="CreditFrequency">CreditFrequency</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="ManuallyQuoted" aria-describedby="ManuallyQuotedHelp" placeholder="" disabled value="{{.ManuallyQuoted}}">
                <label class="form-label" for="ManuallyQuoted">ManuallyQuoted</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="LedgerBalance" aria-describedby="LedgerBalanceHelp" placeholder="0.00" disabled value="{{.LedgerBalance}}">
                <label class="form-label" for="LedgerBalance">LedgerBalance</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SettAmtOutstanding" aria-describedby="SettAmtOutstandingHelp" placeholder="0.00" disabled value="{{.SettAmtOutstanding}}">
                <label class="form-label" for="SettAmtOutstanding">SettAmtOutstanding</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FeePercentage" aria-describedby="FeePercentageHelp" placeholder="0.00" disabled value="{{.FeePercentage}}">
                <label class="form-label" for="FeePercentage">FeePercentage</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FeeAmount" aria-describedby="FeeAmountHelp" placeholder="0.00" disabled value="{{.FeeAmount}}">
                <label class="form-label" for="FeeAmount">FeeAmount</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Venue" aria-describedby="VenueHelp" placeholder="" disabled value="{{.Venue}}">
                <label class="form-label" for="Venue">Venue</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="EURAmount" aria-describedby="EURAmountHelp" placeholder="0.00" disabled value="{{.EURAmount}}">
                <label class="form-label" for="EURAmount">EURAmount</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="EUROtherAmount" aria-describedby="EUROtherAmountHelp" placeholder="0.00" disabled value="{{.EUROtherAmount}}">
                <label class="form-label" for="EUROtherAmount">EUROtherAmount</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="LEI" aria-describedby="LEIHelp" placeholder="" disabled value="{{.LEI}}">
                <label class="form-label" for="LEI">LEI</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Equity" aria-describedby="EquityHelp" placeholder="" disabled value="{{.Equity}}">
                <label class="form-label" for="Equity">Equity</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Shares" aria-describedby="SharesHelp" placeholder="0" disabled value="{{.Shares}}">
                <label class="form-label" for="Shares">Shares</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="QuoteExpiryDate" aria-describedby="QuoteExpiryDateHelp" placeholder="" disabled value="{{.QuoteExpiryDate}}">
                <label class="form-label" for="QuoteExpiryDate">QuoteExpiryDate</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Commodity" aria-describedby="CommodityHelp" placeholder="" disabled value="{{.Commodity}}">
                <label class="form-label" for="Commodity">Commodity</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PaymentSystemSienaView" aria-describedby="PaymentSystemSienaViewHelp" placeholder="" disabled value="{{.PaymentSystemSienaView}}">
                <label class="form-label" for="PaymentSystemSienaView">PaymentSystemSienaView</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PaymentSystemExternalView" aria-describedby="PaymentSystemExternalViewHelp" placeholder="" disabled value="{{.PaymentSystemExternalView}}">
                <label class="form-label" for="PaymentSystemExternalView">PaymentSystemExternalView</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="SalesProfit" aria-describedby="SalesProfitHelp" placeholder="0.00" disabled value="{{.SalesProfit}}">
                <label class="form-label" for="SalesProfit">SalesProfit</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RejectReason" aria-describedby="RejectReasonHelp" placeholder="" disabled value="{{.RejectReason}}">
                <label class="form-label" for="RejectReason">RejectReason</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="PaymentError" aria-describedby="PaymentErrorHelp" placeholder="" disabled value="{{.PaymentError}}">
                <label class="form-label" for="PaymentError">PaymentError</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="RepoPrincipal" aria-describedby="RepoPrincipalHelp" placeholder="0.00" disabled value="{{.RepoPrincipal}}">
                <label class="form-label" for="RepoPrincipal">RepoPrincipal</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="FixingFrequency" aria-describedby="FixingFrequencyHelp" placeholder="" disabled value="{{.FixingFrequency}}">
                <label class="form-label" for="FixingFrequency">FixingFrequency</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Dealt_Extra" aria-describedby="Dealt_ExtraHelp" placeholder="" disabled value="{{.Dealt_Extra}}">
                <label class="form-label" for="Dealt_Extra">Dealt_Extra</label>
              </div>
            </div>
<div class="row">
              <div class="form-outline mb-3">
                <input type="text" class="form-control" id="Against_Extra" aria-describedby="Against_ExtraHelp" placeholder="" disabled value="{{.Against_Extra}}">
                <label class="form-label" for="Against_Extra">Against_Extra</label>
              </div>
            </div>
        </div>

      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}