<head>
  <!-- START OF INSERTS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <!-- FAVICON BUMPF -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#322a77">
  <meta name="msapplication-TileColor" content="#322a77">
  <meta name="theme-color" content="#ffffff">
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  <!-- Add CUSTOM ICONS, FONTS & STYLES -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/custom.css">
  <script src="../assets/custom.js"></script>
  <script defer="defer" src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
  </link>
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <!-- END OF INSERTS -->
  <!-- ADDITION STYLES IN SPECIFIC INSTANCES -->

  <title>{{.Title}}&nbsp;[{{.PageTitle}}]</title>

</head>

<body>

  <!-- DO NOT CHANGE - APP USES CENTRAL NAVIGATION -->
  <div w3-include-html="../assets/navigation.html"></div>
  <script>
    cust_includeHTML();
  </script>
  <!-- DO NOT CHANGE -->

  <div class="container-fluid">
    <div class="card">

      <div class="card-header font-weight-bold">

          <div class="row">
            <div class="col">
              <img src="../assets/siena.png" alt="Siena" style="width:1.75rem;margin-right:.5rem;">
              Counterparty&nbsp;:&nbsp;<code>{{.NameFirm}}&#8942;{{.NameCentre}}</code>
            </div>
            <div class="col">
  <form action="/editSienaCounterparty/?SienaFirm={{.NameFirm}}&SienaCentre={{.NameCentre}}" method="POST" id="actionBar">
                  <div class="btn-group float-right">

                <button type="submit" value="" class="btn btn-outline-warning" formaction="/editSienaCounterparty/?SienaFirm={{.NameFirm}}&SienaCentre={{.NameCentre}}" method="POST">
                  <i class="fa fa-user"></i>&nbsp;&nbsp;Edit Counterparty</button>

                <button type="submit" value="" class="btn btn-outline-warning" formaction="/editSienaCounterpartyAddress/?SienaFirm={{.NameFirm}}&SienaCentre={{.NameCentre}}" method="POST">
                  <i class="fas fa-map-signs"></i>&nbsp;&nbsp;Edit Address</button>

                <button type="submit" value="" class="btn btn-outline-warning" formaction="/editSienaCounterpartyExtensions/?SienaFirm={{.NameFirm}}&SienaCentre={{.NameCentre}}" method="POST"><i class="fas fa-passport"></i>&nbsp;&nbsp;Edit Additional</button>

                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </form>

            </div>
          </div>


      </div>

      <div class="card-body">

        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-user"></i><br>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fas fa-map-signs"></i><br>Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mandates-tab" data-toggle="tab" href="#mandates" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-user-check"></i><br>Mandates&nbsp;<span
                class="badge badge-pill badge-light">{{.NoMandates}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payee-tab" data-toggle="tab" href="#payee" role="tab" aria-controls="payee" aria-selected="false"><i class="fas fa-wallet"></i><br>Payees&nbsp;<span class="badge badge-pill badge-light">{{.NoPayees}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="contact" aria-selected="false"> <i class="fas fa-landmark"></i><br>Accounts&nbsp;<span
                class="badge badge-pill badge-light">{{.NoAccounts}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-passport"></i><br>Additional</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-file-import"></i><br>Import&nbsp;<span
                class="badge badge-pill badge-light">{{.NoImports}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="txn-tab" data-toggle="tab" href="#txn" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-shopping-basket"></i>
              <br>Deals&nbsp;<span class="badge badge-pill badge-light">{{.NoTxns}}</span></a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



            <div class="row">
              <div class="col-sm">
                <label for="FullName">Name</label>
                <input type="text" class="form-control" id="FullName" aria-describedby="FullName" placeholder="<<BLANK>>" disabled="disabled" value="{{.FullName}}" maxlength="30">
              </div>
            </div>

            <div class="row">

              <div class="col-sm">
                <label for="NameFirm">Firm</label>
                <input type="text" class="form-control" id="NameFirm" name="NameFirm" aria-describedby="NameFirm" placeholder="<<BLANK>>" disabled="disabled" value="{{.NameFirmName}}" maxlength="11">
              </div>
              <div class="col-sm">
                <label for="NameCentre">Centre</label>
                <input type="text" class="form-control" id="NameCentre" name="NameCentre" aria-describedby="NameCentre" placeholder="<<BLANK>>" disabled="disabled" value="{{.NameCentreName}}" maxlength="3">
              </div>
              <div class="col-sm">
                <label for="CpartyGroupName">Group</label>
                <input type="text" class="form-control" id="CpartyGroupName" name="CpartyGroupName" aria-describedby="CpartyGroupName" placeholder="<<BLANK>>" disabled="disabled" value="{{.CpartyGroupName}}" maxlength="3">
              </div>

            </div>

            <div class="row">

              <div class="col-sm">
                <label for="CustomerType">Type</label>
                <input type="CustomerType" class="form-control" id="CustomerType" name="CustomerType" aria-describedby="CustomerType" placeholder="<<BLANK>>" value="{{.CustomerType}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="CountryCode">Country</label>
                <input type="CountryCode" class="form-control" id="CountryCode" name="CountryCode" aria-describedby="CountryCode" placeholder="<<BLANK>>" value="{{.CountryCodeName}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="SectorCode">Sector</label>
                <input type="SectorCode" class="form-control" id="SectorCode" name="SectorCode" aria-describedby="SectorCode" placeholder="<<BLANK>>" value="{{.SectorCodeName}}" required disabled>
              </div>

            </div>

            <div class="row">

              <div class="col-sm">
                <label for="TelephoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="TelephoneNumber" name="TelephoneNumber" aria-describedby="TelephoneNumber" placeholder="<<BLANK>>" value="{{.TelephoneNumber}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="EmailAddress">Email Address</label>
                <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" aria-describedby="EmailAddress" placeholder="<<BLANK>>" value="{{.EmailAddress}}" required disabled>
              </div>

            </div>
            <div class="row">

              <div class="col-sm">
                <label for="Notes">Notes</label>
                <input type="text" class="form-control" id="Notes" name="Notes" aria-describedby="Notes" placeholder="<<BLANK>>" value="{{.Notes}}" required disabled>
              </div>

            </div>

          </div>


          <div class="tab-pane fade" id="payee" role="tabpanel" aria-labelledby="payee-tab">
            <br>
            <form action="/home" method="POST">

              <div class="table-responsive">


                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyPayeeTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Full Name</th>
                      <th class="text-center">Currency</th>
                      <th class="text-center">Payee ID</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .PayeeList}}
                    <tr>
                      <td class="text-center align-middle"></td>
                      <td class="align-middle">{{.FullName}}</td>
                      <td class="align-middle text-center">{{.KeyCurrency}}</td>
                      <td class="align-middle">{{.KeyName}}</td>
                      <td class="align-middle text-center">{{.Approved}}</td>

                      <td class="alight-right" style="width:1px;">

                        <div class="btn-group">
                          <button type="submit" value="" class="btn btn-sm btn-outline-info btn-inner"
                            formaction="/viewSienaCounterpartyPayee?csrc={{.SourceTable}}&cfrm={{.KeyCounterpartyFirm}}&ccen={{.KeyCounterpartyCentre}}&cccy={{.KeyCurrency}}&cnam={{.KeyName}}&cnum={{.KeyNumber}}&cdir={{.KeyDirection}}&ctyp={{.KeyType}}"
                            method="POST">
                            <i class="far fa-eye"></i>
                          </button>

                          <button type="submit" value="" class="btn btn-sm btn-outline-primary btn-inner"
                            formaction="/editSienaCounterpartyPayee?csrc={{.SourceTable}}&cfrm={{.KeyCounterpartyFirm}}&ccen={{.KeyCounterpartyCentre}}&cccy={{.KeyCurrency}}&cnam={{.KeyName}}&cnum={{.KeyNumber}}&cdir={{.KeyDirection}}&ctyp={{.KeyType}}"
                            method="POST">
                            <i class="far fa-edit"></i>
                          </button>
                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>

              </div>

            </form>



          </div>



          <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">



            <div class="row">

              <div class="col-sm">
                <label for="Address1">Address</label>
                <input type="text" class="form-control" id="Address1" name="Address1" aria-describedby="Address1" placeholder="<<BLANK>>" value="{{.Address1}}" required disabled>
              </div>


            </div>
            <div class="row">

              <div class="col-sm">
                <label for="Address2">Address</label>
                <input type="text" class="form-control" id="Address2" name="Address2" aria-describedby="Address2" placeholder="<<BLANK>>" value="{{.Address2}}" required disabled>
              </div>

            </div>
            <div class="row">

              <div class="col-sm">
                <label for="CityTown">City/Town</label>
                <input type="text" class="form-control" id="CityTown" name="CityTown" aria-describedby="CityTown" placeholder="<<BLANK>>" value="{{.CityTown}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="County">County</label>
                <input type="County" class="form-control" id="County" name="County" aria-describedby="County" placeholder="<<BLANK>>" value="{{.County}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="PostCode">Post Code</label>
                <input type="text" class="form-control" id="PostCode" name="PostCode" aria-describedby="PostCode" placeholder="<<BLANK>>" value="{{.Postcode}}" required disabled>
              </div>

            </div>



          </div>


          <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
            {{range .ExtensionsList}}

            <br>
            <h2>Regulatory</h2>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerCategory">CustomerCategory</label>
                <input type="text" class="form-control" id="CustomerCategory" aria-describedby="CustomerCategory" placeholder="<<BLANK>>" disabled="disabled" value="{{.CustomerCategory}}" maxlength="30">
              </div>
              <div class="col-sm">
                <label for="RegulatoryCategory">RegulatoryCategory</label>
                <input type="text" class="form-control" id="RegulatoryCategory" aria-describedby="RegulatoryCategory" placeholder="<<BLANK>>" disabled="disabled" value="{{.RegulatoryCategory}}" maxlength="30">
              </div>
              <div class="col-sm">
                <label for="FSCSInclusive">FSCSInclusive</label>
                <input type="text" class="form-control" id="FSCSInclusive" aria-describedby="FSCSInclusive" placeholder="<<BLANK>>" disabled="disabled" value="{{.FSCSInclusive}}" maxlength="30">
              </div>
              <div class="col-sm">
                <label for="FinancialCounterparty">FinancialCounterparty</label>
                <input type="text" class="form-control" id="FinancialCounterparty" aria-describedby="FinancialCounterparty" placeholder="<<BLANK>>" disabled="disabled" value="{{.FinancialCounterparty}}" maxlength="30">
              </div>
            </div>

            <div class="row">

              <div class="col-sm">
                <label for="LEIExpiryDate">LEIExpiryDate</label>
                <input type="text" class="form-control" id="LEIExpiryDate" name="LEIExpiryDate" aria-describedby="LEIExpiryDate" placeholder="<<BLANK>>" disabled="disabled" value="{{.LEIExpiryDate}}" maxlength="11">
              </div>
              <div class="col-sm">
                <label for="MIFIDReviewDate">MIFIDReviewDate</label>
                <input type="text" class="form-control" id="MIFIDReviewDate" name="MIFIDReviewDate" aria-describedby="MIFIDReviewDate" placeholder="<<BLANK>>" disabled="disabled" value="{{.MIFIDReviewDate}}" maxlength="3">
              </div>
              <div class="col-sm">
                <label for="GDPRReviewDate">GDPRReviewDate</label>
                <input type="text" class="form-control" id="GDPRReviewDate" name="GDPRReviewDate" aria-describedby="GDPRReviewDate" placeholder="<<BLANK>>" disabled="disabled" value="{{.GDPRReviewDate}}" maxlength="3">
              </div>

            </div>

            <div class="row">

              <div class="col-sm">
                <label for="DelegatedReporting">DelegatedReporting</label>
                <input type="DelegatedReporting" class="form-control" id="DelegatedReporting" name="DelegatedReporting" aria-describedby="DelegatedReporting" placeholder="<<BLANK>>" value="{{.DelegatedReporting}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="MIFIDReportableDealsAllowed">MIFIDReportableDealsAllowed</label>
                <input type="MIFIDReportableDealsAllowed" class="form-control" id="MIFIDReportableDealsAllowed" name="MIFIDReportableDealsAllowed" aria-describedby="MIFIDReportableDealsAllowed" placeholder="<<BLANK>>"
                  value="{{.MIFIDReportableDealsAllowed}}" required disabled>
              </div>



            </div>
            <hr>
            <h2>Onboarding</h2>
            <div class="row">
              <div class="col-sm">
                <label for="SignedInvestmentAgreement">SignedInvestmentAgreement</label>
                <input type="SignedInvestmentAgreement" class="form-control" id="SignedInvestmentAgreement" name="SignedInvestmentAgreement" aria-describedby="SignedInvestmentAgreement" placeholder="<<BLANK>>" value="{{.SignedInvestmentAgreement}}"
                  required disabled>
              </div>

              <div class="col-sm">
                <label for="AppropriatenessAssessment">AppropriatenessAssessment</label>
                <input type="AppropriatenessAssessment" class="form-control" id="AppropriatenessAssessment" name="AppropriatenessAssessment" aria-describedby="AppropriatenessAssessment" placeholder="<<BLANK>>" value="{{.AppropriatenessAssessment}}"
                  required disabled>
              </div>
              <div class="col-sm">
                <label for="KnowYourCustomerStatus">KnowYourCustomerStatus</label>
                <input type="text" class="form-control" id="KnowYourCustomerStatus" name="KnowYourCustomerStatus" aria-describedby="KnowYourCustomerStatus" placeholder="<<BLANK>>" value="{{.KnowYourCustomerStatus}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="Registered">Registered</label>
                <input type="text" class="form-control" id="Registered" name="Registered" aria-describedby="Registered" placeholder="<<BLANK>>" value="{{.Registered}}" required disabled>
              </div>

            </div>
            <hr>
            <h2>Training</h2>
            <div class="row">

              <div class="col-sm">
                <label for="Training">Training</label>
                <input type="text" class="form-control" id="Training" name="Training" aria-describedby="Training" placeholder="<<BLANK>>" value="{{.Training}}" required disabled>
              </div>
              <div class="col-sm">
                <label for="TrainingCode">TrainingCode</label>
                <input type="text" class="form-control" id="TrainingCode" name="TrainingCode" aria-describedby="TrainingCode" placeholder="<<BLANK>>" value="{{.TrainingCode}}" required disabled>
              </div>
              <div class="col-sm">
                <label for="TrainingReceived">TrainingReceived</label>
                <input type="text" class="form-control" id="TrainingReceived" name="TrainingReceived" aria-describedby="TrainingReceived" placeholder="<<BLANK>>" value="{{.TrainingReceived}}" required disabled>
              </div>

            </div>
            <hr>
            <h2>Identification</h2>
            <div class="row">

              <div class="col-sm">
                <label for="MIC">MIC</label>
                <input type="text" class="form-control" id="MIC" name="MIC" aria-describedby="MIC" placeholder="<<BLANK>>" value="{{.MIC}}" required disabled>
              </div>
              <div class="col-sm">
                <label for="BICCode">BICCode</label>
                <input type="text" class="form-control" id="BICCode" name="BICCode" aria-describedby="BICCode" placeholder="<<BLANK>>" value="{{.BICCode}}" required disabled>
              </div>
              <div class="col-sm">
                <label for="SortCode">SortCode</label>
                <input type="text" class="form-control" id="SortCode" name="SortCode" aria-describedby="SortCode" placeholder="<<BLANK>>" value="{{.SortCode}}" required disabled>
              </div>
              <div class="col-sm">
                <label for="PortfolioCode">PortfolioCode</label>
                <input type="text" class="form-control" id="PortfolioCode" name="PortfolioCode" aria-describedby="PortfolioCode" placeholder="<<BLANK>>" value="{{.PortfolioCode}}" required disabled>
              </div>

            </div>



            {{end}}
          </div>

          <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="additional-tab">


            <form action="/home" method="POST">


              <div class="table-responsive">


                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyAccountTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Account Number</th>
                      <th class="text-center">Account Name</th>

                      <th class="text-center">CCY</th>
                      <th class="text-center">Cash Balance</th>
                      <th class="text-center">Ledger Balance</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .AccountsList}}
                    <tr>
                      <td class="text-center align-middle"></td>

                      <td class="align-middle">{{.AccountNumber}}</td>
                      <td class="align-middle">{{.AccountName}}</td>

                      <td class="align-middle text-center">{{.CCY}}</td>
                      <td class="align-middle text-center plusmin">{{.CashBalance}}</td>
                      <td class="align-middle text-center plusmin">{{.LedgerBalance}}</td>
                      <td class="align-middle text-center">{{.Status}}</td>


                      <td class="alight-right" style="width:1px;">

                        <div class="btn-group">
                          <button type="submit" value="" class="btn btn-sm btn-outline-info btn-inner" formaction="/viewSienaAccount?SienaAccountID={{.SienaReference}}" method="POST">
                            <i class="far fa-eye" style="font-size: 22px"></i>
                          </button>

                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>
                <script language="JavaScript" type="text/javascript">
                  MakePosNeg();
                </script>
              </div>
            </form>


          </div>

          <div class="tab-pane fade" id="mandates" role="tabpanel" aria-labelledby="mandates-tab">

            <br>
            <form action="/home" method="POST">

              <div class="table-responsive">


                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyMandateTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Name</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Phone</th>
                      <th class="text-center">Active</th>

                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .MandateList}}
                    <tr>
                      <td class="text-center align-middle"></td>
                      <td class="align-middle">{{.MandatedUserKeyUserName}}</td>
                      <td class="align-middle">{{.EmailAddress}}</td>
                      <td class="align-middle">{{.TelephoneNumber}}</td>
                      <td class="align-middle">{{.Active}}</td>

                      <td class="alight-right" style="width:1px;">

                        <div class="btn-group">
                          <button type="submit" value="" class="btn btn-sm btn-outline-info btn-inner"
                            formaction="/viewSienaMandatedUser?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}" method="POST">
                            <i class="far fa-eye" style="font-size: 22px"></i>
                          </button>

                          <button type="submit" value="" class="btn btn-sm btn-outline-primary btn-inner"
                            formaction="/editSienaMandatedUser?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}" method="POST">
                            <i class="far fa-edit" style="font-size: 22px"></i>
                          </button>
                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>

              </div>

            </form>

          </div>

          <div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">

            <br>
            <form action="/home" method="POST">

              <div class="table-responsive">

                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyImportTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Origin</th>
                      <th class="text-center">ID</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .ImportList}}
                    <tr>
                      <td class="text-center align-middle"></td>
                      <td class="align-middle">{{.KeyOriginID}}</td>
                      <td class="align-middle">{{.KeyImportID}}</td>

                      <td class="alight-right" style="width:1px;">

                        <div class="btn-group">
                          <button type="submit" value="" class="btn btn-sm btn-outline-info btn-inner" formaction="/viewSienaCounterpartyImportID?II={{.KeyImportID}}&IO={{.KeyOriginID}}" method="POST">
                            <i class="far fa-eye" style="font-size: 22px"></i>
                          </button>

                          <button type="submit" value="" class="btn btn-sm btn-outline-primary btn-inner" formaction="/editSienaCounterpartyImportID?II={{.KeyImportID}}&IO={{.KeyOriginID}}" method="POST">
                            <i class="far fa-edit" style="font-size: 22px"></i>
                          </button>
                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>

              </div>

            </form>



          </div>

          <div class="tab-pane fade" id="txn" role="tabpanel" aria-labelledby="additional-tab">


            <form action="/home" method="POST">

              <div class="table-responsive">


                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyDealsTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Contract No.</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Type</th>

                      <th class="text-center">Direction</th>
                      <th class="text-center">Instrument</th>
                      <th class="text-center">Dealt</th>
                      <th class="text-center">Against</th>

                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .TxnList}}
                    <tr>
                      <td class="text-center align-middle"></td>
                      <td class="align-middle">{{.ContractNumber}}</td>
                      <td class="align-middle">{{.Status}}</td>
                      <td class="align-middle">{{.FullDealType}}</td>

                      <td class="align-middle">{{.Direction}}</td>
                      <td class="align-middle">{{.Instrument}}</td>
                      <td class="align-middle">{{.DealtCcy}} {{.DealtAmount}}</td>
                      <td class="align-middle">{{.AgainstCcy}} {{.AgainstAmount}}</td>




                      <td class="alight-right" style="width:1px;">

                        <div class="btn-group">
                          <button type="submit" value="" class="btn btn-outline-info btn-inner" formaction="/viewSienaDealList?SienaRef={{.SienaReference}}" method="POST">
                            <i class="far fa-eye" style="font-size: 22px"></i>
                          </button>


                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>

              </div>


            </form>


          </div>



        </div>

      </div>







    </div>
    </form>
  </div>


  <script>
    $(document).ready(function() {
      $('#sienaCounterpartyCounterpartyPayeeTable').dataTable();
    });
  </script>
  <script>
    $(document).ready(function() {
      $('#sienaCounterpartyCounterpartyAccountTable').dataTable();
    });
  </script>
  <script>
    $(document).ready(function() {
      $('#sienaCounterpartyCounterpartyMandateTable').dataTable();
    });
  </script>
  <script>
    $(document).ready(function() {
      $('#sienaCounterpartyCounterpartyImportTable').dataTable();
    });
  </script>
  <script>
    $(document).ready(function() {
      $('#sienaCounterpartyCounterpartyDealsTable').dataTable();
    });
  </script>

</body>
