{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-landmark me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group" id="ActionButtonGroup">
                    
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="card-body">
             
                           
                    <table id="DataTable" class="table table-hover table-responsive" style="width:100%">
                      <thead class="table-light">
                        <tr style="background-color:red;">
                          <th class="text-center"><i class="fas fa-key me-2"></i>SienaReference</th>
                          <th class="text-center">CustomerSienaView</th>
                          <th class="text-center">SienaCommonRef</th>
                          <th class="text-center">Status</th>
                          <th class="text-center">StartDate</th>
                          <th class="text-center">MaturityDate</th>
                          <th class="text-center">ContractNumber</th>
                          <th class="text-center">ExternalReference</th>
                          <th class="text-center">CCY</th>
                          <th class="text-center">Book</th>
                          <th class="text-center">MandatedUser</th>
                          <th class="text-center">BackOfficeNotes</th>
                          <th class="text-center">CashBalance</th>
                          <th class="text-center">AccountNumber</th>
                          <th class="text-center">AccountName</th>
                          <th class="text-center">LedgerBalance</th>
                          <th class="text-center">Portfolio</th>
                          <th class="text-center">AgreementId</th>
                          <th class="text-center">BackOfficeRefNo</th>
                          <th class="text-center">ISIN</th>
                          <th class="text-center">UTI</th>
                          <th class="text-center">CCYName</th>
                          <th class="text-center">BookName</th>
                          <th class="text-center">PortfolioName</th>
                          <th class="text-center">Centre</th>
                          <th class="text-center">DealTypeKey</th>
                          <th class="text-center">DealTypeShortName</th>
                          <th class="text-center">InternalId</th>
                          <th class="text-center">InternalDeleted</th>
                          <th class="text-center">UpdatedTransactionId</th>
                          <th class="text-center">UpdatedUserId</th>
                          <th class="text-center">UpdatedDateTime</th>
                          <th class="text-center">DeletedTransactionId</th>
                          <th class="text-center">DeletedUserId</th>
                          <th class="text-center">ChangeType</th>
                          <th class="text-center">CCYDp</th>
                          <th class="text-center">CompID</th>
                          <th class="text-center">Firm</th>
                          <th class="text-center">DealType</th>
                          <th class="text-center">FullDealType</th>
                          <th class="text-center">DealingInterface</th>
                          <th class="text-center">DealtAmount</th>
                          <th class="text-center">ParentContractNumber</th>
                          <th class="text-center">InterestFrequency</th>
                          <th class="text-center">InterestAction</th>
                          <th class="text-center">InterestStrategy</th>
                          <th class="text-center">InterestBasis</th>
                          <th class="text-center">SienaDealer</th>
                          <th class="text-center">DealOwner</th>
                          <th class="text-center">OriginUser</th>
                          <th class="text-center">EditedByUser</th>
                          <th class="text-center">DealOwnerMnemonic</th>
                          <th class="text-center">UTCOriginTime</th>
                          <th class="text-center">UTCUpdateTime</th>
                          <th class="text-center">CustomerStatementNotes</th>
                          <th class="text-center">NotesMargin</th>
                          <th class="text-center">RequestedBy</th>
                          <th class="text-center">EditReason</th>
                          <th class="text-center">EditOtherReason</th>
                          <th class="text-center">NoticeDays</th>
                          <th class="text-center">DebitFrequency</th>
                          <th class="text-center">CreditFrequency</th>
                          <th class="text-center">EURAmount</th>
                          <th class="text-center">EUROtherAmount</th>
                          <th class="text-center">PaymentSystemSienaView</th>
                          <th class="text-center">PaymentSystemExternalView</th>
                          <th class="text-center">DealtCA</th>
                          <th class="text-center">AgainstCA</th>
                          <th class="text-center">LedgerCA</th>
                          <th class="text-center">CashBalanceCA</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle" >{{.SienaReference}}</td>
                          <td class="align-middle" >{{.CustomerSienaView}}</td>
                          <td class="align-middle" >{{.SienaCommonRef}}</td>
                          <td class="align-middle" >{{.Status}}</td>
                          <td class="align-middle" >{{.StartDate}}</td>
                          <td class="align-middle" >{{.MaturityDate}}</td>
                          <td class="align-middle" >{{.ContractNumber}}</td>
                          <td class="align-middle" >{{.ExternalReference}}</td>
                          <td class="align-middle" >{{.CCY}}</td>
                          <td class="align-middle" >{{.Book}}</td>
                          <td class="align-middle" >{{.MandatedUser}}</td>
                          <td class="align-middle" >{{.BackOfficeNotes}}</td>
                          <td class="align-middle" >{{.CashBalance}}</td>
                          <td class="align-middle" >{{.AccountNumber}}</td>
                          <td class="align-middle" >{{.AccountName}}</td>
                          <td class="align-middle" >{{.LedgerBalance}}</td>
                          <td class="align-middle" >{{.Portfolio}}</td>
                          <td class="align-middle" >{{.AgreementId}}</td>
                          <td class="align-middle" >{{.BackOfficeRefNo}}</td>
                          <td class="align-middle" >{{.ISIN}}</td>
                          <td class="align-middle" >{{.UTI}}</td>
                          <td class="align-middle" >{{.CCYName}}</td>
                          <td class="align-middle" >{{.BookName}}</td>
                          <td class="align-middle" >{{.PortfolioName}}</td>
                          <td class="align-middle" >{{.Centre}}</td>
                          <td class="align-middle" >{{.DealTypeKey}}</td>
                          <td class="align-middle" >{{.DealTypeShortName}}</td>
                          <td class="align-middle" >{{.InternalId}}</td>
                          <td class="align-middle" >{{.InternalDeleted}}</td>
                          <td class="align-middle" >{{.UpdatedTransactionId}}</td>
                          <td class="align-middle" >{{.UpdatedUserId}}</td>
                          <td class="align-middle" >{{.UpdatedDateTime}}</td>
                          <td class="align-middle" >{{.DeletedTransactionId}}</td>
                          <td class="align-middle" >{{.DeletedUserId}}</td>
                          <td class="align-middle" >{{.ChangeType}}</td>
                          <td class="align-middle" >{{.CCYDp}}</td>
                          <td class="align-middle" >{{.CompID}}</td>
                          <td class="align-middle" >{{.Firm}}</td>
                          <td class="align-middle" >{{.DealType}}</td>
                          <td class="align-middle" >{{.FullDealType}}</td>
                          <td class="align-middle" >{{.DealingInterface}}</td>
                          <td class="align-middle" >{{.DealtAmount}}</td>
                          <td class="align-middle" >{{.ParentContractNumber}}</td>
                          <td class="align-middle" >{{.InterestFrequency}}</td>
                          <td class="align-middle" >{{.InterestAction}}</td>
                          <td class="align-middle" >{{.InterestStrategy}}</td>
                          <td class="align-middle" >{{.InterestBasis}}</td>
                          <td class="align-middle" >{{.SienaDealer}}</td>
                          <td class="align-middle" >{{.DealOwner}}</td>
                          <td class="align-middle" >{{.OriginUser}}</td>
                          <td class="align-middle" >{{.EditedByUser}}</td>
                          <td class="align-middle" >{{.DealOwnerMnemonic}}</td>
                          <td class="align-middle" >{{.UTCOriginTime}}</td>
                          <td class="align-middle" >{{.UTCUpdateTime}}</td>
                          <td class="align-middle" >{{.CustomerStatementNotes}}</td>
                          <td class="align-middle" >{{.NotesMargin}}</td>
                          <td class="align-middle" >{{.RequestedBy}}</td>
                          <td class="align-middle" >{{.EditReason}}</td>
                          <td class="align-middle" >{{.EditOtherReason}}</td>
                          <td class="align-middle" >{{.NoticeDays}}</td>
                          <td class="align-middle" >{{.DebitFrequency}}</td>
                          <td class="align-middle" >{{.CreditFrequency}}</td>
                          <td class="align-middle" >{{.EURAmount}}</td>
                          <td class="align-middle" >{{.EUROtherAmount}}</td>
                          <td class="align-middle" >{{.PaymentSystemSienaView}}</td>
                          <td class="align-middle" >{{.PaymentSystemExternalView}}</td>
                          <td class="align-middle" >{{.DealtCA}}</td>
                          <td class="align-middle" >{{.AgainstCA}}</td>
                          <td class="align-middle" >{{.LedgerCA}}</td>
                          <td class="align-middle" >{{.CashBalanceCA}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/AccountView?AccountNo={{.SienaReference}}" method="POST" title="View Account"><i class="far fa-eye"></i></button>
                            
                            
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                       <tfoot class="table-light">
                        <tr style="background-color:red;">
                          <th class="text-center"><i class="fas fa-key me-2"></i>SienaReference</th>
                          <th class="text-center">CustomerSienaView</th>
                          <th class="text-center">SienaCommonRef</th>
                          <th class="text-center">Status</th>
                          <th class="text-center">StartDate</th>
                          <th class="text-center">MaturityDate</th>
                          <th class="text-center">ContractNumber</th>
                          <th class="text-center">ExternalReference</th>
                          <th class="text-center">CCY</th>
                          <th class="text-center">Book</th>
                          <th class="text-center">MandatedUser</th>
                          <th class="text-center">BackOfficeNotes</th>
                          <th class="text-center">CashBalance</th>
                          <th class="text-center">AccountNumber</th>
                          <th class="text-center">AccountName</th>
                          <th class="text-center">LedgerBalance</th>
                          <th class="text-center">Portfolio</th>
                          <th class="text-center">AgreementId</th>
                          <th class="text-center">BackOfficeRefNo</th>
                          <th class="text-center">ISIN</th>
                          <th class="text-center">UTI</th>
                          <th class="text-center">CCYName</th>
                          <th class="text-center">BookName</th>
                          <th class="text-center">PortfolioName</th>
                          <th class="text-center">Centre</th>
                          <th class="text-center">DealTypeKey</th>
                          <th class="text-center">DealTypeShortName</th>
                          <th class="text-center">InternalId</th>
                          <th class="text-center">InternalDeleted</th>
                          <th class="text-center">UpdatedTransactionId</th>
                          <th class="text-center">UpdatedUserId</th>
                          <th class="text-center">UpdatedDateTime</th>
                          <th class="text-center">DeletedTransactionId</th>
                          <th class="text-center">DeletedUserId</th>
                          <th class="text-center">ChangeType</th>
                          <th class="text-center">CCYDp</th>
                          <th class="text-center">CompID</th>
                          <th class="text-center">Firm</th>
                          <th class="text-center">DealType</th>
                          <th class="text-center">FullDealType</th>
                          <th class="text-center">DealingInterface</th>
                          <th class="text-center">DealtAmount</th>
                          <th class="text-center">ParentContractNumber</th>
                          <th class="text-center">InterestFrequency</th>
                          <th class="text-center">InterestAction</th>
                          <th class="text-center">InterestStrategy</th>
                          <th class="text-center">InterestBasis</th>
                          <th class="text-center">SienaDealer</th>
                          <th class="text-center">DealOwner</th>
                          <th class="text-center">OriginUser</th>
                          <th class="text-center">EditedByUser</th>
                          <th class="text-center">DealOwnerMnemonic</th>
                          <th class="text-center">UTCOriginTime</th>
                          <th class="text-center">UTCUpdateTime</th>
                          <th class="text-center">CustomerStatementNotes</th>
                          <th class="text-center">NotesMargin</th>
                          <th class="text-center">RequestedBy</th>
                          <th class="text-center">EditReason</th>
                          <th class="text-center">EditOtherReason</th>
                          <th class="text-center">NoticeDays</th>
                          <th class="text-center">DebitFrequency</th>
                          <th class="text-center">CreditFrequency</th>
                          <th class="text-center">EURAmount</th>
                          <th class="text-center">EUROtherAmount</th>
                          <th class="text-center">PaymentSystemSienaView</th>
                          <th class="text-center">PaymentSystemExternalView</th>
                          <th class="text-center">DealtCA</th>
                          <th class="text-center">AgainstCA</th>
                          <th class="text-center">LedgerCA</th>
                          <th class="text-center">CashBalanceCA</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </tfoot>
                    </table>
            

            </div>
        </form>
      </div>




{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}