{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-cubes me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group">
                    
                    <button id="export" type="button" class="btn btn-info" title="Export API Catalog as CSV"><i class="fas fa-file-csv me-2"></i>Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print API Catalog"><i class="fas fa-print me-2"></i></i>Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center"><i class="fas fa-key me-2"></i>ID</th>
                          <th class="text-center">Endpoint</th>
                          <th class="text-center">Descr</th>
                          <th class="text-center">Query</th>
                          <th class="text-center">Source</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle" >{{.ID}}</td>
                          <td class="align-middle" >{{.Endpoint}}</td>
                          <td class="align-middle" >{{.Descr}}</td>
                          <td class="align-middle" >{{.Query}}</td>
                          <td class="align-middle" >{{.Source}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/CatalogView?ID={{.ID}}" method="POST" title="View API Catalog"><i class="far fa-eye"></i></button>
                            
                            
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}