{{template "header" .}} {{template "bodydefinition" .}}
<form action="/MandateEdit/?Mandate={{.CompID}}" method="POST" class="form">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col h3">
                    <i class="fas fa-city me-2" title="Mandate = {{.CompID}}"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button type="submit" class="btn btn-warning" method="get" formaction="/MandateEdit/?Mandate={{.CompID}}"  title="Edit Mandate {{.CompID}}"><i class="fas fa-pen me-2"></i>Edit</button>
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Mandate {{.CompID}}"><i class="fas fa-print me-2"></i></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="MandatedUserKeyCounterpartyFirm" name="MandatedUserKeyCounterpartyFirm" class="select" data-mdb-filter="true" disabled>
                  {{range .MandatedUserKeyCounterpartyFirm_lookup}}<option value="{{.ID}}" {{if eq .ID $.MandatedUserKeyCounterpartyFirm}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="MandatedUserKeyCounterpartyFirm" disabled>MandatedUserKeyCounterpartyFirm</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="MandatedUserKeyCounterpartyCentre" name="MandatedUserKeyCounterpartyCentre" class="select" data-mdb-filter="true" disabled>
                  {{range .MandatedUserKeyCounterpartyCentre_lookup}}<option value="{{.ID}}" {{if eq .ID $.MandatedUserKeyCounterpartyCentre}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="MandatedUserKeyCounterpartyCentre" disabled>MandatedUserKeyCounterpartyCentre</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MandatedUserKeyUserName" aria-describedby="MandatedUserKeyUserNameHelp" placeholder="" disabled value="{{.MandatedUserKeyUserName}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="MandatedUserKeyUserName">MandatedUserKeyUserName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="tel" class="form-control" id="TelephoneNumber" aria-describedby="TelephoneNumberHelp" placeholder="" disabled value="{{.TelephoneNumber}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="TelephoneNumber">TelephoneNumber</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="email" class="form-control" id="EmailAddress" aria-describedby="EmailAddressHelp" placeholder="" disabled value="{{.EmailAddress}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="EmailAddress">EmailAddress</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="Active" name="Active" class="select" data-mdb-filter="true" disabled>
                  {{range .Active_lookup}}<option value="{{.ID}}" {{if eq .ID $.Active}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Active" disabled>Active</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FirstName" aria-describedby="FirstNameHelp" placeholder="" disabled value="{{.FirstName}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="FirstName">FirstName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Surname" aria-describedby="SurnameHelp" placeholder="" disabled value="{{.Surname}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Surname">Surname</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="date" class="form-control" id="DateOfBirth" aria-describedby="DateOfBirthHelp" placeholder="" disabled value="{{.DateOfBirth}}" data-mdb-input-mask="dd/mm/yyyy"></input>
                        
                        <label class="form-label" for="DateOfBirth">DateOfBirth</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Postcode" aria-describedby="PostcodeHelp" placeholder="" disabled value="{{.Postcode}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Postcode">Postcode</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="NationalIDNo" aria-describedby="NationalIDNoHelp" placeholder="" disabled value="{{.NationalIDNo}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="NationalIDNo">NationalIDNo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="PassportNo" aria-describedby="PassportNoHelp" placeholder="" disabled value="{{.PassportNo}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="PassportNo">PassportNo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="Country" name="Country" class="select" data-mdb-filter="true" disabled>
                  {{range .Country_lookup}}<option value="{{.ID}}" {{if eq .ID $.Country}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Country" disabled>Country</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="CountryName" aria-describedby="CountryNameHelp" placeholder="" disabled value="{{.CountryName}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="CountryName">CountryName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FirmName" aria-describedby="FirmNameHelp" placeholder="" disabled value="{{.FirmName}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="FirmName">FirmName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="CentreName" aria-describedby="CentreNameHelp" placeholder="" disabled value="{{.CentreName}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="CentreName">CentreName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="Notify" name="Notify" class="select" data-mdb-filter="true" disabled>
                  {{range .Notify_lookup}}<option value="{{.ID}}" {{if eq .ID $.Notify}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Notify" disabled>Notify</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SystemUser" aria-describedby="SystemUserHelp" placeholder="" disabled value="{{.SystemUser}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SystemUser">SystemUser</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled value="{{.CompID}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="CompID"><i class="fas fa-key me-2"></i>CompID</label>
                        
                    </div>
                
                </div>
            </div>
            
        </div>
        
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}