{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-city me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group" id="ActionButtonGroup">
                    <button type="submit" value="" class="btn btn-primary" formaction="/MandateNew" method="GET" title="Create a new Mandate"><i class="fas fa-plus me-2"></i>New</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="card-body">
             
                           
                    <table id="DataTable" class="table table-hover table-responsive" style="width:100%">
                      <thead class="table-light">
                        <tr style="background-color:red;">
                          <th class="text-center">MandatedUserKeyCounterpartyFirm</th>
                          <th class="text-center">MandatedUserKeyCounterpartyCentre</th>
                          <th class="text-center">MandatedUserKeyUserName</th>
                          <th class="text-center">TelephoneNumber</th>
                          <th class="text-center">EmailAddress</th>
                          <th class="text-center">Active</th>
                          <th class="text-center">FirstName</th>
                          <th class="text-center">Surname</th>
                          <th class="text-center">DateOfBirth</th>
                          <th class="text-center">Postcode</th>
                          <th class="text-center">NationalIDNo</th>
                          <th class="text-center">PassportNo</th>
                          <th class="text-center">Country</th>
                          <th class="text-center">CountryName</th>
                          <th class="text-center">FirmName</th>
                          <th class="text-center">CentreName</th>
                          <th class="text-center">Notify</th>
                          <th class="text-center">SystemUser</th>
                          <th class="text-center"><i class="fas fa-key me-2"></i>CompID</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle" >{{.MandatedUserKeyCounterpartyFirm}}</td>
                          <td class="align-middle" >{{.MandatedUserKeyCounterpartyCentre}}</td>
                          <td class="align-middle" >{{.MandatedUserKeyUserName}}</td>
                          <td class="align-middle" >{{.TelephoneNumber}}</td>
                          <td class="align-middle" >{{.EmailAddress}}</td>
                          <td class="align-middle" >{{.Active}}</td>
                          <td class="align-middle" >{{.FirstName}}</td>
                          <td class="align-middle" >{{.Surname}}</td>
                          <td class="align-middle" >{{.DateOfBirth}}</td>
                          <td class="align-middle" >{{.Postcode}}</td>
                          <td class="align-middle" >{{.NationalIDNo}}</td>
                          <td class="align-middle" >{{.PassportNo}}</td>
                          <td class="align-middle" >{{.Country}}</td>
                          <td class="align-middle" >{{.CountryName}}</td>
                          <td class="align-middle" >{{.FirmName}}</td>
                          <td class="align-middle" >{{.CentreName}}</td>
                          <td class="align-middle" >{{.Notify}}</td>
                          <td class="align-middle" >{{.SystemUser}}</td>
                          <td class="align-middle" >{{.CompID}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/MandateView?Mandate={{.CompID}}" method="POST" title="View Mandate"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning ms-2 btn-floating" formaction="/MandateEdit?Mandate={{.CompID}}" method="POST" title="Edit Mandate"><i class="fas fa-edit"></i></button>
                            
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                       <tfoot class="table-light">
                        <tr style="background-color:red;">
                          <th class="text-center">MandatedUserKeyCounterpartyFirm</th>
                          <th class="text-center">MandatedUserKeyCounterpartyCentre</th>
                          <th class="text-center">MandatedUserKeyUserName</th>
                          <th class="text-center">TelephoneNumber</th>
                          <th class="text-center">EmailAddress</th>
                          <th class="text-center">Active</th>
                          <th class="text-center">FirstName</th>
                          <th class="text-center">Surname</th>
                          <th class="text-center">DateOfBirth</th>
                          <th class="text-center">Postcode</th>
                          <th class="text-center">NationalIDNo</th>
                          <th class="text-center">PassportNo</th>
                          <th class="text-center">Country</th>
                          <th class="text-center">CountryName</th>
                          <th class="text-center">FirmName</th>
                          <th class="text-center">CentreName</th>
                          <th class="text-center">Notify</th>
                          <th class="text-center">SystemUser</th>
                          <th class="text-center"><i class="fas fa-key me-2"></i>CompID</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </tfoot>
                    </table>
            

            </div>
        </form>
      </div>




{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}