{{template "header" .}}
{{template "bodydefinition" .}}
{{.Context}}
<form action="/MandateSave/?Mandate={{.CompID}}"
  method="GET" class="form">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col h3">
          <i class="fas fa-city me-2"
            title="Mandate={{.CompID}}"></i><span class="me-3">{{.Title}}</span>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="btn-group">
            
            <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/MandateSave/?Mandate={{.CompID}}" onclick="/MandateSave/?Mandate={{.CompID}}" title="Save Mandate"><i class="fas fa-save me-2"></i>Save</button>
            
            <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Mandate"><i class="fas fa-print me-2"></i></i>Print</button>
            <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
     
        <div class="row mb-3" readonly="true" ><div class="col">
        
            
            <div class="form-outline">
              <input type="text" class="form-control {{.MandatedUserKeyCounterpartyFirm_props.MsgType}}" id="MandatedUserKeyCounterpartyFirm" name="MandatedUserKeyCounterpartyFirm" aria-describedby="MandatedUserKeyCounterpartyFirmHelp" placeholder="" readonly="true" readonly="true"  value="{{.MandatedUserKeyCounterpartyFirm}}"  />
              <label class="form-label" for="MandatedUserKeyCounterpartyFirm" readonly="true">MandatedUserKeyCounterpartyFirm</label>
                <div class="{{.MandatedUserKeyCounterpartyFirm_props.MsgFeedBackType}}">{{.MandatedUserKeyCounterpartyFirm_props.MsgMessage}}</div>
            </div>
            
        
        </div></div>
       
        <div class="row mb-3" readonly="true" ><div class="col">
        
            
            <div class="form-outline">
              <input type="text" class="form-control {{.MandatedUserKeyCounterpartyCentre_props.MsgType}}" id="MandatedUserKeyCounterpartyCentre" name="MandatedUserKeyCounterpartyCentre" aria-describedby="MandatedUserKeyCounterpartyCentreHelp" placeholder="" readonly="true" readonly="true"  value="{{.MandatedUserKeyCounterpartyCentre}}"  />
              <label class="form-label" for="MandatedUserKeyCounterpartyCentre" readonly="true">MandatedUserKeyCounterpartyCentre</label>
                <div class="{{.MandatedUserKeyCounterpartyCentre_props.MsgFeedBackType}}">{{.MandatedUserKeyCounterpartyCentre_props.MsgMessage}}</div>
            </div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.MandatedUserKeyUserName_props.MsgType}}" id="MandatedUserKeyUserName" name="MandatedUserKeyUserName" aria-describedby="MandatedUserKeyUserNameHelp" placeholder=""   value="{{.MandatedUserKeyUserName}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="MandatedUserKeyUserName" >MandatedUserKeyUserName</label>
              <div class="{{.MandatedUserKeyUserName_props.MsgFeedBackType}}">{{.MandatedUserKeyUserName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="tel" class="form-control {{.TelephoneNumber_props.MsgType}}" id="TelephoneNumber" name="TelephoneNumber" aria-describedby="TelephoneNumberHelp" placeholder=""   value="{{.TelephoneNumber}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="TelephoneNumber" >TelephoneNumber</label>
              <div class="{{.TelephoneNumber_props.MsgFeedBackType}}">{{.TelephoneNumber_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="email" class="form-control {{.EmailAddress_props.MsgType}}" id="EmailAddress" name="EmailAddress" aria-describedby="EmailAddressHelp" placeholder=""   value="{{.EmailAddress}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="EmailAddress" >EmailAddress</label>
              <div class="{{.EmailAddress_props.MsgFeedBackType}}">{{.EmailAddress_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="Active" name="Active" class="select" data-mdb-filter="true"  >
                {{range .Active_lookup}}<option value="{{.ID}}" {{if eq .ID $.Active}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Active" >Active</label>
            <div class="{{.Active_props.MsgFeedBackType}}">{{.Active_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.FirstName_props.MsgType}}" id="FirstName" name="FirstName" aria-describedby="FirstNameHelp" placeholder=""   value="{{.FirstName}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="FirstName" >FirstName</label>
              <div class="{{.FirstName_props.MsgFeedBackType}}">{{.FirstName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Surname_props.MsgType}}" id="Surname" name="Surname" aria-describedby="SurnameHelp" placeholder=""   value="{{.Surname}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="Surname" >Surname</label>
              <div class="{{.Surname_props.MsgFeedBackType}}">{{.Surname_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="date" class="form-control {{.DateOfBirth_props.MsgType}}" id="DateOfBirth" name="DateOfBirth" aria-describedby="DateOfBirthHelp" placeholder=""   value="{{.DateOfBirth}}"  data-mdb-input-mask="dd/mm/yyyy" />
              
              <label class="form-label" for="DateOfBirth" >DateOfBirth</label>
              <div class="{{.DateOfBirth_props.MsgFeedBackType}}">{{.DateOfBirth_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Postcode_props.MsgType}}" id="Postcode" name="Postcode" aria-describedby="PostcodeHelp" placeholder=""   value="{{.Postcode}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="Postcode" >Postcode</label>
              <div class="{{.Postcode_props.MsgFeedBackType}}">{{.Postcode_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.NationalIDNo_props.MsgType}}" id="NationalIDNo" name="NationalIDNo" aria-describedby="NationalIDNoHelp" placeholder=""   value="{{.NationalIDNo}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="NationalIDNo" >NationalIDNo</label>
              <div class="{{.NationalIDNo_props.MsgFeedBackType}}">{{.NationalIDNo_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.PassportNo_props.MsgType}}" id="PassportNo" name="PassportNo" aria-describedby="PassportNoHelp" placeholder=""   value="{{.PassportNo}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="PassportNo" >PassportNo</label>
              <div class="{{.PassportNo_props.MsgFeedBackType}}">{{.PassportNo_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" readonly="true" ><div class="col">
        
            
            <select id="Country" name="Country" class="select" data-mdb-filter="true" readonly="true" >
                {{range .Country_lookup}}<option value="{{.ID}}" {{if eq .ID $.Country}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Country" readonly="true">Country</label>
            <div class="{{.Country_props.MsgFeedBackType}}">{{.Country_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.CountryName_props.MsgType}}" id="CountryName" name="CountryName" aria-describedby="CountryNameHelp" placeholder=""   value="{{.CountryName}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="CountryName" >CountryName</label>
              <div class="{{.CountryName_props.MsgFeedBackType}}">{{.CountryName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.FirmName_props.MsgType}}" id="FirmName" name="FirmName" aria-describedby="FirmNameHelp" placeholder=""   value="{{.FirmName}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="FirmName" >FirmName</label>
              <div class="{{.FirmName_props.MsgFeedBackType}}">{{.FirmName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.CentreName_props.MsgType}}" id="CentreName" name="CentreName" aria-describedby="CentreNameHelp" placeholder=""   value="{{.CentreName}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="CentreName" >CentreName</label>
              <div class="{{.CentreName_props.MsgFeedBackType}}">{{.CentreName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="Notify" name="Notify" class="select" data-mdb-filter="true"  >
                {{range .Notify_lookup}}<option value="{{.ID}}" {{if eq .ID $.Notify}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Notify" >Notify</label>
            <div class="{{.Notify_props.MsgFeedBackType}}">{{.Notify_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SystemUser_props.MsgType}}" id="SystemUser" name="SystemUser" aria-describedby="SystemUserHelp" placeholder=""   value="{{.SystemUser}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SystemUser" >SystemUser</label>
              <div class="{{.SystemUser_props.MsgFeedBackType}}">{{.SystemUser_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.CompID_props.MsgType}}" id="CompID" name="CompID" aria-describedby="CompIDHelp" placeholder=""   value="{{.CompID}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="CompID" ><i class="fas fa-key me-2"></i>CompID</label>
              <div class="{{.CompID_props.MsgFeedBackType}}">{{.CompID_props.MsgMessage}}</div>
            </div>
        
        </div></div>
      
      
    </div>
    
  </div>
</form>

{{template "userfooter" .}}
{{template "pagefooter" .}}