{{template "header" .}}
{{template "bodydefinition" .}}
{{.Context}}
<form action="/ProductSave/?Code={{.Code}}"
  method="GET" class="form">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col h3">
          <i class="fas fa-object-group me-2"
            title="Code={{.Code}}"></i><span class="me-3">{{.Title}}</span>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="btn-group">
            
            <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/ProductSave/?Code={{.Code}}" onclick="/ProductSave/?Code={{.Code}}" title="Save Product Group"><i class="fas fa-save me-2"></i>Save</button>
            
            <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Product Group"><i class="fas fa-print me-2"></i></i>Print</button>
            <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
     
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Code_props.MsgType}}" id="Code" name="Code" aria-describedby="CodeHelp" placeholder=""   value="{{.Code}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="Code" ><i class="fas fa-key me-2"></i>Code</label>
              <div class="{{.Code_props.MsgFeedBackType}}">{{.Code_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Name_props.MsgType}}" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""   value="{{.Name}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="Name" >Name</label>
              <div class="{{.Name_props.MsgFeedBackType}}">{{.Name_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Factor_props.MsgType}}" id="Factor" name="Factor" aria-describedby="FactorHelp" placeholder="0.00"   value="{{.Factor}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="Factor" >Factor</label>
              <div class="{{.Factor_props.MsgFeedBackType}}">{{.Factor_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.MaxTermPrecedence_props.MsgType}}" id="MaxTermPrecedence" name="MaxTermPrecedence" aria-describedby="MaxTermPrecedenceHelp" placeholder="True"   value="{{.MaxTermPrecedence}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="MaxTermPrecedence" >MaxTermPrecedence</label>
              <div class="{{.MaxTermPrecedence_props.MsgFeedBackType}}">{{.MaxTermPrecedence_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.InternalId_props.MsgType}}" id="InternalId" name="InternalId" aria-describedby="InternalIdHelp" placeholder="0"   value="{{.InternalId}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="InternalId" >InternalId</label>
              <div class="{{.InternalId_props.MsgFeedBackType}}">{{.InternalId_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.InternalDeleted_props.MsgType}}" id="InternalDeleted" name="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder=""   value="{{.InternalDeleted}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="InternalDeleted" >InternalDeleted</label>
              <div class="{{.InternalDeleted_props.MsgFeedBackType}}">{{.InternalDeleted_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.UpdatedTransactionId_props.MsgType}}" id="UpdatedTransactionId" name="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder=""   value="{{.UpdatedTransactionId}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="UpdatedTransactionId" >UpdatedTransactionId</label>
              <div class="{{.UpdatedTransactionId_props.MsgFeedBackType}}">{{.UpdatedTransactionId_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.UpdatedUserId_props.MsgType}}" id="UpdatedUserId" name="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder=""   value="{{.UpdatedUserId}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="UpdatedUserId" >UpdatedUserId</label>
              <div class="{{.UpdatedUserId_props.MsgFeedBackType}}">{{.UpdatedUserId_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.UpdatedDateTime_props.MsgType}}" id="UpdatedDateTime" name="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder=""   value="{{.UpdatedDateTime}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="UpdatedDateTime" >UpdatedDateTime</label>
              <div class="{{.UpdatedDateTime_props.MsgFeedBackType}}">{{.UpdatedDateTime_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.DeletedTransactionId_props.MsgType}}" id="DeletedTransactionId" name="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder=""   value="{{.DeletedTransactionId}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DeletedTransactionId" >DeletedTransactionId</label>
              <div class="{{.DeletedTransactionId_props.MsgFeedBackType}}">{{.DeletedTransactionId_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.DeletedUserId_props.MsgType}}" id="DeletedUserId" name="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder=""   value="{{.DeletedUserId}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DeletedUserId" >DeletedUserId</label>
              <div class="{{.DeletedUserId_props.MsgFeedBackType}}">{{.DeletedUserId_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.ChangeType_props.MsgType}}" id="ChangeType" name="ChangeType" aria-describedby="ChangeTypeHelp" placeholder=""   value="{{.ChangeType}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="ChangeType" >ChangeType</label>
              <div class="{{.ChangeType_props.MsgFeedBackType}}">{{.ChangeType_props.MsgMessage}}</div>
            </div>
        
        </div></div>
      
      
    </div>
    
  </div>
</form>

{{template "userfooter" .}}
{{template "pagefooter" .}}