{{template "header" .}}
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-toolbox me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group">
                    
                    <button id="export" type="button" class="btn btn-info" title="Export Deal Audit History as CSV"><i class="fas fa-file-csv me-2"></i>Export</button>
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Deal Audit History"><i class="fas fa-print me-2"></i></i>Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="card-body">
                  <div class="datatable table-hover table-responsive table-hover">
                    <table class="table" id="ListTable">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">DealRefNo</th>
                          <th class="text-center">EventIndex</th>
                          <th class="text-center">CommonRefNo</th>
                          <th class="text-center">Timestamp</th>
                          <th class="text-center">UTCTimestamp</th>
                          <th class="text-center">EventType</th>
                          <th class="text-center">Status</th>
                          <th class="text-center">LimitOrderStatus</th>
                          <th class="text-center">Usr</th>
                          <th class="text-center">DealingInterface</th>
                          <th class="text-center">SourceIP</th>
                          <th class="text-center">MessageID</th>
                          <th class="text-center">Details</th>
                          <th class="text-center"><i class="fas fa-key me-2"></i>InternalId</th>
                          <th class="text-center">InternalDeleted</th>
                          <th class="text-center">UpdatedTransactionId</th>
                          <th class="text-center">UpdatedUserId</th>
                          <th class="text-center">UpdatedDateTime</th>
                          <th class="text-center">DeletedTransactionId</th>
                          <th class="text-center">DeletedUserId</th>
                          <th class="text-center">ChangeType</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle" >{{.DealRefNo}}</td>
                          <td class="align-middle" >{{.EventIndex}}</td>
                          <td class="align-middle" >{{.CommonRefNo}}</td>
                          <td class="align-middle" >{{.Timestamp}}</td>
                          <td class="align-middle" >{{.UTCTimestamp}}</td>
                          <td class="align-middle" >{{.EventType}}</td>
                          <td class="align-middle" >{{.Status}}</td>
                          <td class="align-middle" >{{.LimitOrderStatus}}</td>
                          <td class="align-middle" >{{.Usr}}</td>
                          <td class="align-middle" >{{.DealingInterface}}</td>
                          <td class="align-middle" >{{.SourceIP}}</td>
                          <td class="align-middle" >{{.MessageID}}</td>
                          <td class="align-middle" >{{.Details}}</td>
                          <td class="align-middle" >{{.InternalId}}</td>
                          <td class="align-middle" >{{.InternalDeleted}}</td>
                          <td class="align-middle" >{{.UpdatedTransactionId}}</td>
                          <td class="align-middle" >{{.UpdatedUserId}}</td>
                          <td class="align-middle" >{{.UpdatedDateTime}}</td>
                          <td class="align-middle" >{{.DeletedTransactionId}}</td>
                          <td class="align-middle" >{{.DeletedUserId}}</td>
                          <td class="align-middle" >{{.ChangeType}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/DealAuditEventView?ID={{.InternalId}}" method="POST" title="View Deal Audit History"><i class="far fa-eye"></i></button>
                            
                            
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                    </table>
                  </div>
              </div>
        </form>
      </div>

{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "pagefooter" .}}