{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-book me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group" id="ActionButtonGroup">
                    
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="card-body">
             
                           
                    <table id="DataTable" class="table table-hover table-responsive" style="width:100%">
                      <thead class="table-light">
                        <tr style="background-color:red;">
                          <th class="text-center"><i class="fas fa-key me-2"></i>BookName</th>
                          <th class="text-center">FullName</th>
                          <th class="text-center">PLManage</th>
                          <th class="text-center">PLTransfer</th>
                          <th class="text-center">DerivePL</th>
                          <th class="text-center">CostOfCarry</th>
                          <th class="text-center">CostOfFunding</th>
                          <th class="text-center">LotAllocationMethod</th>
                          <th class="text-center">InternalId</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          <td class="align-middle" >{{.BookName}}</td>
                          <td class="align-middle" >{{.FullName}}</td>
                          <td class="align-middle" >{{.PLManage}}</td>
                          <td class="align-middle" >{{.PLTransfer}}</td>
                          <td class="align-middle" >{{.DerivePL}}</td>
                          <td class="align-middle" >{{.CostOfCarry}}</td>
                          <td class="align-middle" >{{.CostOfFunding}}</td>
                          <td class="align-middle" >{{.LotAllocationMethod}}</td>
                          <td class="align-middle" >{{.InternalId}}</td>
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/BookView?Book={{.BookName}}" method="POST" title="View Book"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning ms-2 btn-floating" formaction="/BookEdit?Book={{.BookName}}" method="POST" title="Edit Book"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger ms-2 btn-floating" formaction="/BookDelete?Book={{.BookName}}" method="POST" title="Delete Book"><i class="fas fa-trash"></i></button>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                       <tfoot class="table-light">
                        <tr style="background-color:red;">
                          <th class="text-center"><i class="fas fa-key me-2"></i>BookName</th>
                          <th class="text-center">FullName</th>
                          <th class="text-center">PLManage</th>
                          <th class="text-center">PLTransfer</th>
                          <th class="text-center">DerivePL</th>
                          <th class="text-center">CostOfCarry</th>
                          <th class="text-center">CostOfFunding</th>
                          <th class="text-center">LotAllocationMethod</th>
                          <th class="text-center">InternalId</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </tfoot>
                    </table>
            

            </div>
        </form>
      </div>




{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}